[2018-06-15 14:00] samreid commented on #99
I created 3 new issues (linked above), and responded to several REVIEW* comments.  Generally, if a REVIEW thread in the code has been removed, that means the given explanation is satisfactory and no changes for that part were needed.  Currently there are:

* 5 REVIEW topics in the code
* 22 TODOs in the code
* 3 GitHub issues marked for review (other than this one)
* 18 total open GitHub issues in

[2018-06-18 17:29] jonathanolson commented on #157
Thanks, I'll keep open until these are resolved. I'm essentially adding features (a11y) after-the-fact and it was done at an accelerated pace, so it's the main reason why TODOs now exist.

[2018-06-18 17:33] jonathanolson commented on #156
We have `Util.equalsEpsilon()`.

They are fundamentally values with different usage, that in general should NOT change together, so refactoring them to one common epsilon would create more difficult code. "Fixing" the epsilon to solve one problem could then create another.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/EPSILON

Snazzy, I'll need to remembe

[2018-06-18 17:37] jonathanolson commented on #99
That.... is really weird. I had formatted ternary expressions like that because past Intellij formatting did it like that. I actually prefer the "updated" version.

[2018-06-18 17:40] samreid commented on #156
For this issue, I recommend to `Util.equalsEpilon()` and for each occurrence, comment that the epsilon values should differ from each other, and how you arrived at the epsilon values.

[2018-06-18 17:41] jonathanolson commented on #156
This only applies to the first case, correct?

[2018-06-18 17:44] samreid commented on #156
Maybe 1st and 3rd case?

[2018-06-18 17:45] jonathanolson commented on #156
Yup, my bad. Implementing.

[2018-06-18 17:47] jonathanolson commented on #156
Changes made, can you see if there's something I should improve?

[2018-06-18 17:48] samreid commented on #156
Looks great, thanks! Closing.

[2018-06-18 17:48] #156 closed

[2018-06-19 15:59] jonathanolson opened #158 "Rounding issue with a11y"
There was an improperly-rounded value shown in the a11y version of decimals (experiment with number pickers).

[2018-06-20 20:48] terracoda commented on #149
@jonathanolson, I have created a design pattern in [joist/doc/HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md) and updated the HTML example for [Build an Atom](https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/baa-screens/index.html) to follow that pattern.

Please discuss with @amanda-phet.

I marked everything ready-for-review, but the

[2018-06-20 21:45] amanda-phet commented on #149
I updated the H1s in the descriptions design doc.

[2018-06-20 21:50] jonathanolson commented on #149
@jessegreenberg or @zepumph, how would I implement this?

[2018-06-21 16:56] zepumph commented on #149
I want to talk to @jessegreenberg about this, I think we may go with a general solution on the ScreenView so you won't have to do anything.

[2018-06-21 17:00] terracoda commented on #149
@zepumph and @jessegreenberg, there was positive feedback from designers in phetsims/a11y-research/issues/112

It the approach described in the HomeScreen.md file.

[2018-06-21 23:57] zepumph commented on #149
This will take a bit more work than I can do today, I'll work on it more tomorrow.

[2018-06-25 16:39] jonathanolson opened #159 "Enter/exit assertion failures"
E.g. https://github.com/phetsims/scenery/issues/456.

Semi-reliably happening in area-model sims, looks easiest to reproduce in the decimals sim.

Investigating.

[2018-06-26 04:10] jonathanolson opened #160 "Is a11y whitespace needed between elements?"
There are a lot of cases where spans/divs were adjacent with no whitespace, so I was manually adding in whitespace (adding trailing spaces). Is this something that needs to be done?

There are some cases where inner content and a label are adjacent with no whitespace, but sometimes something is constructed from multiple sentences. What is the recommended way to concatenate multiple sentences toget

[2018-06-26 14:53] jessegreenberg commented on #160
We have  generally been using `StringUtils.fillIn` and haven't encountered cases like  this before. Could you please provide the example for where you needed to have elements separated by space like```<span>...</span> <div>...</div>```?

[2018-06-26 15:45] jonathanolson commented on #160
See the above commit removing it (for now).

It causes things to get concatenated together (effectively) without whitespace:

<img width="429" alt="screen shot 2018-06-26 at 9 43 25 am" src="https://user-images.githubusercontent.com/480878/41923741-7c1ff450-7925-11e8-9683-e06d9f224c12.png">
<img width="485" alt="screen shot 2018-06-26 at 9 43 28 am" src="https://user-images.githubusercontent.com/4

[2018-06-26 15:51] #158 closed

[2018-06-26 15:53] #151 closed

[2018-06-26 15:55] #100 closed

[2018-06-26 15:59] jonathanolson commented on #159
Seems tied to the listeners for ProportionalPartitionLineNode

[2018-06-26 17:39] jonathanolson commented on #101
Fix for the specific leak above committed. I'll continue evaluation in the other issue.

[2018-06-26 17:39] #101 closed

[2018-06-26 19:31] #159 closed

[2018-06-29 01:05] zepumph commented on #149
I updated the way that the headers are created for multiscreen sims. I also simplified the implementation so that we could clean up code in single screen simulations. Sorry that this sim specific issue ended up being joist based and cross sim.

From here we will continue implementation of HomeScreen.md in https://github.com/phetsims/joist/issues/496 so please general comments over there.

@jonatha

[2018-06-29 16:21] jonathanolson commented on #146
Notably the partial product innerContent update may be done on every change, and could potentially be (somehow?) batched. Other performance considerations may also exist.

[2018-06-29 16:25] jonathanolson opened #161 "Don't require recreation of KeyboardDragListener"
Related to https://github.com/phetsims/scenery-phet/issues/367, we currently need to regenerate the listener when the MVT changes.

Putting this into an issue instead of an inline TODO.

[2018-06-29 16:27] jonathanolson opened #162 "Use mutable accessibleDecimalPlaces for AccessibleSlider"
Pending on https://github.com/phetsims/sun/issues/368, we'll want to add decimal places into the slider, but changing the decimal places is not currently supported.

Moved from an inline TODO.

[2018-06-29 16:32] #153 closed

[2018-06-29 16:35] jonathanolson commented on #149
Nothing really specific to this sim (will close). Added to https://github.com/phetsims/area-model-common/issues/154.

[2018-06-29 16:35] #149 closed

[2018-06-29 17:21] jonathanolson commented on #128
Things are to a satisfactory level (there potentially exists a leak but it is in the noise).

[2018-06-29 17:21] #128 closed

[2018-06-29 17:33] jonathanolson commented on #99
I believe this issue can be closed, since all in-code REVIEWs/TODOs have been handled, issues are opened for anything remaining, and the only other review-tagged issue is the list of a11y issues that need to be handled in common code.

@samreid can this be closed?

[2018-06-29 17:38] jonathanolson commented on #119
@ariel-phet since this issue was fine enough for the initial release, should something be done now or can it potentially be closed?

[2018-06-29 17:41] samreid commented on #99
Looks great, nice work!

[2018-06-29 17:41] #99 closed

[2018-07-03 15:45] ariel-phet commented on #119
Yes, fine to close. Closing

[2018-07-03 15:45] #119 closed

[2018-07-04 20:41] jonathanolson commented on #131
Implemented.

It actually can't be a trivial wrapper, since there is default color information that we'd want to use every place it's used. The current structure looks decent to me, I'm curious about how this would improve things?

[2018-07-05 12:51] samreid commented on #131
I'm seeing this code in StarNode:

[code]

I think we can eliminate `o2` and just use `options` now that `StarShape` doesn't take a `value`.  Is that correct?

It also seems to me that `StarNode` should be simpler and not deal with filled/clipping.  For instance, the options are:

[code]

These should become:

[code]

Then in a new type `PartialStarNode` or `FilledStarNode`, it would instantiate t

[2018-07-05 16:10] jonathanolson commented on #131
So `FilledStarNode`, `EmptyStarNode` and `PartialStarNode` (since we want the colors for the empty star also available)?

Definitely.

I guess then we would have filledStarOptions and emptyStarOptions (in `StarNode`) as options objects to pass through, and I could update usages?

[2018-07-06 05:32] samreid commented on #131
My initial reaction was that `FilledStarNode` + `EmptyStarNode` + `PartialStarNode` was too many types, but upon reflection that seems appropriate.  Each of those types will be simple/straightforward/reusable.  Does that sound reasonable to you?

[2018-07-10 22:48] zepumph commented on #160
@jessegreenberg I think I'm leaning toward number 1, rather than getting fancy. What do you think. @jonathanolson would that be a reasonable solution? What would you prefer.?

[2018-07-13 17:13] pixelzoom opened #163 "disable showAnswers query parameter"
... by using `phet.chipper.queryParameters.showAnswer`.  See https://github.com/phetsims/joist/issues/406.

[2018-07-17 18:09] jessegreenberg opened #164 "Make sure NumberPicker readouts are as desired"
Motivated by #155 and from https://github.com/phetsims/sun/issues/356. The NumberPickers are behaving correctly for a11y, but we want to make sure that the sim specific units/readout is as desired. Right now the readout is just "0.5" or the input value. Does a user need to  hear anything else as the value changes?

[2018-07-18 18:07] pixelzoom opened #165 "'grunt published-README' was not run in 1.0 branches"
The 1.0 branches of the Area Model sims still indicate that the sim is unpublished.

The master checklist for sims says:

[2018-07-18 19:10] pixelzoom commented on #165
This appears to be a problem with `grunt production`.  It runs `grunt published-README` in master, but not in the release branch.

[2018-07-27 23:33] KatieWoe opened #166 "Overlapping Partial Products Boxes"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome  68.0.3440.75
**Problem description:**
For phetsims/QA/issues/157
On parts of the sim where it is possible to control the red and blue dividing lines and to add partial product dialog boxes it is possible to get these boxes to overlap quite a bit.
**Steps to reproduce:**
(This can be done in many of the sims, this is

[2018-07-31 16:57] amanda-phet commented on #166
Yes, we are aware of the overlapping, and it was a design compromise for this particular case.

[2018-07-31 16:57] #166 closed

[2018-07-31 17:52] KatieWoe opened #167 "Middle of Red Partition Line Disapears"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 68.0.3440.75
**Problem description:**
In sims with a red partition line it is possible to make the middle of that line disappear when it is placed to the far left of the graph.  This seems to mostly appear on windows in chrome, but can happen less frequently on macs.  For https://github.com/phetsims/QA/issues/157
**S

[2018-08-02 17:46] JRomero0613 opened #168 "Chromebook Firefox Issues"
Device:
Feynman (Acer Chromebook) and Nye (Android tablet)
Operating System:
Chrome OS v. 68.0.3440.76 and Android v. 7.0
Browser:
Firefox v. 60.0.1 and Firefox v. 61.0
Problem Description:
There are a variety of small design/bug issues that occur only on the Firefox browser on Chromebook and Android tablets. The first issue is that on all sims in the suite the cursor does not change from the norm

[2018-08-10 16:42] ariel-phet commented on #168
@JRomero0613 @kathy-phet for the cursor not changing to a hand, be aware that is a known isssue

https://github.com/phetsims/phet-android-app/issues/55

@jonathanolson it would be nice to fix the aesthetic issues, but FF on chromebook is definitely a very small use case. I would say investigate briefly (max 1 hour) and see if you can tweak things. If not easy to fix, not a major concern.

[2018-08-11 00:24] jonathanolson commented on #168
Is this a general systemic issue? It seems like the default font for that platform is just larger, and it is pushing things out of bounds.

Should we platform-detect in PhetFont and use slightly smaller fonts on this platform?

@JRomero0613 does the font appear larger (or at least like it has more space below the text) on other sims?

[2018-08-17 19:15] jonathanolson commented on #165
This was handled as part of https://github.com/phetsims/chipper/issues/698, closing.

[2018-08-17 19:15] #165 closed

[2018-08-20 15:16] jonathanolson commented on #168
@KatieWoe do you know if this larger font size is something for every sim on these platforms?

@ariel-phet should I look into auto-detecting "larger than usual" fonts and having PhetFont compensate to have a similar font size to the usual?

[2018-08-20 15:59] KatieWoe commented on #168
Comparing the font sizes of chrome sims on the relevant chromebook to font sizes of firefox sims on the same device it does seem that font is a bit larger on firefox.  Here is an example with it causing one of the boxes to overlap with the bottom as a result.  These are from the published versions of Acid-Base Solutions.  The differences can be hard to see without directly switching between the tw

[2018-08-30 15:05] jonathanolson commented on #167
Was not able to reproduce on Win10 desktop (Chrome/68.0.3440.106) over ~5min of testing. I'm curious if it's only on this laptop (or other laptops) that the bug happens. @KatieWoe would it be possible to test a Win10 desktop to see if it still occurs (or of there are more specific instructions - it may relate to screen size also).

[2018-08-30 15:45] KatieWoe commented on #167
@jonathanolson I just tested master on the windows 10 laptop and it happened on the first try, so it is still occurring.  I don't really have a windows desktop among the testing devices.  Do you know anywhere I could test on a desktop?

[2018-08-30 15:52] KatieWoe commented on #167
I made a gif to show you the behavior in action.
![line](https://user-images.githubusercontent.com/41024075/44863414-4fb2d200-ac3a-11e8-95a1-1e5d4fa5d5ed.gif)

[2018-08-30 21:59] lmulhall-phet commented on #167
@jonathanolson, I can reproduce fairly easily on my MacBook Air (macOS 10.13.6 + Chrome 68.0.3440.106). Here's a gif:

![thing](https://user-images.githubusercontent.com/31285590/44881638-940b9580-ac6d-11e8-8cc6-7846e2780d36.gif)

[2018-09-05 00:39] ariel-phet commented on #168
@jonathanolson to my eye the font is actually slightly LARGER on chrome (with the screenshots above). The issue seems to be some sort of vertical padding/bounds issue. Notice that for the FF screenshot there is a fair bit more vertical negative space on the top of the headings of each panel.

So in this case I don't think using a smaller font would necessarily be a good idea, it seems there is som

[2018-09-09 20:08] jonathanolson commented on #167
There is just nothing I can do on the devices I have to reproduce this. I'm curious if it relates to GPU texture size (Chrome likes to tile things into e.g. 512x512 squares and each is updated somewhat independently, and it looks like some squares aren't getting the updates).

I'll plan to investigate when I'm on campus on Tuesday. Additionally, Chrome has now updated to version 69, so I'm curious

[2018-09-10 15:05] KatieWoe commented on #167
@jonathanolson I did just take a look on master, and I'm now having trouble reproducing it, so the chrome update may have solved it.  I'll be happy to help you investigate on Tuesday if you need.  Just let me know.

[2018-09-20 04:16] samreid opened #169 "Axon Properties should end in `Property` suffix"
Discovered during https://github.com/phetsims/tambo/issues/46, I saw that Area Model Common had a few axon Properties that didn't end with a Property suffix:

AreaModelCommonModel.js
[code]

I'm not sure whether or not there are others.  Generally it is best if axon Properties end in the suffix `Property`.  Also, PhET-iO tandems require a `Property` suffix for Property types.

[2018-09-20 05:42] jonathanolson commented on #169
Whoops, sorry!

Should be fixed in the above commit. I checked for `= new Property`, `= new BooleanProperty`, and `= new NumberProperty` and didn't see any other cases.

Can you verify?

[2018-09-20 06:35] jonathanolson commented on #167
This is now not reproducible after Chrome 69. Closing.

[2018-09-20 06:35] #167 closed

[2018-09-20 06:45] jonathanolson commented on #168
I think this would be valuable to talk about at dev meeting.

I'm not sure that a systemic adjustment may be bad. Most sims seem to have issues when you artificially "inflate" the vertical size of text (for screenshots, I hacked `this._selfBounds.set( selfBounds.dilatedXY( 0, 10 ) );` in Text.js line 321):

<img width="1680" alt="screen shot 2018-09-20 at 12 40 03 am" src="https://user-images.gith

[2018-09-20 12:44] samreid commented on #169
Looks great, thanks @jonathanolson!

[2018-09-20 12:44] #169 closed

[2018-09-20 18:38] ariel-phet commented on #168
@KatieWoe looking at the numbers, FF is literally 0% of our use on Chromebook, please discontinue any FF testing on chromebooks and remove that as a platform from any test matrixes.

If we get FF bug reports on Android "from the world" we will reinvestigate

[2018-10-24 02:46] jonathanolson commented on #163
Implemented in the above commit, thanks!

[2018-10-24 02:46] #163 closed

[2018-10-24 02:47] jonathanolson commented on #146
@ariel-phet would this be good to have checked by QA before a full RC for 1.1?

[2018-10-24 02:48] jonathanolson commented on #155
The one issue is marked as deferred, so I'm closing this.

[2018-10-24 02:48] #155 closed

[2018-11-01 21:59] jbphet commented on #138
@amanda-phet - I'm going through and assigning some keypad issues based on an effort to try to finalize the implementation of the reusable, versatile UI component (see https://github.com/phetsims/scenery-phet/issues/283 for the long and complex history of this issue).  Should this issue be included as one that is reassigned for followup?

[2018-11-02 17:33] amanda-phet commented on #138
@jbphet yes! I think this would be good to followup with, especially given @ariel-phet 's experience with the keypad.

[2018-12-10 19:06] KatieWoe opened #170 "Reset all button pointer area"
For https://github.com/phetsims/QA/issues/231
Per @ariel-phet the touch pointer area of the reset all button does not always need to be larger.  As seen here, the pointer area might be getting a bit close to other buttons and it might be a good idea to take a second look.
![tooclose](https://user-images.githubusercontent.com/41024075/49754640-de8cad00-fc73-11e8-837f-bc3719425777.PNG)

[2018-12-10 19:12] KatieWoe opened #171 "Double Pointer Area"
For https://github.com/phetsims/QA/issues/231
When looking at the touch pointer areas for the number inputs there seem to be two.  I have not noted any problems that arise from this, but it seems odd to me.
![doublepointarea](https://user-images.githubusercontent.com/41024075/49754950-bf424f80-fc74-11e8-8047-c52698f46a46.PNG)

[2018-12-10 19:18] KatieWoe opened #172 "Line in front of drag handle"
For https://github.com/phetsims/QA/issues/231.
When the drag handle is at the edge of the graph the outer lines seem to be in front of it, which seems odd to me.  This is how it is in the published version.
![graphdrag](https://user-images.githubusercontent.com/41024075/49755247-9cfd0180-fc75-11e8-9634-cde6ba2db9ac.PNG)

[2018-12-10 21:07] jonathanolson commented on #170
@ariel-phet I'm not sure I understand. Is there an advantage to having an "unclickable" area in-between? To me it is generally an advantage, when two buttons are somewhat close, for any click between them to register on one of them.

[2018-12-10 21:11] jonathanolson commented on #171
This is expected, since I'm also setting the touch area for a composite component (essentially).

[2018-12-10 21:15] jonathanolson commented on #172
I agree this looks nicer with a change to layering:

![area-model-layering](https://user-images.githubusercontent.com/480878/49762102-10a70a80-fc86-11e8-825b-4c8f496141ee.PNG)

@amanda-phet any objections to making the change to have it in front?

[2018-12-11 17:40] ariel-phet commented on #170
Related to https://github.com/phetsims/friction/issues/65. Going to make a comment there, and I think we will make a project-wide default

[2018-12-11 17:51] ariel-phet commented on #170
Full comments here https://github.com/phetsims/friction/issues/65#issuecomment-446296242 the relevant snippet copied for convenience

@samreid can you change the default touch dilation area of ResetAllButton to match what was done in Atomic Interactions/SOMB. That should work project-wide and strike the balances we are looking for in the UX.

[2018-12-18 19:20] jonathanolson commented on #172
Patched in master, and applied to the RCs. @amanda-phet can you verify that master (off phettest) looks good here?

[2018-12-18 19:40] amanda-phet commented on #172
Looks good on all 4 sims!

[2018-12-18 19:40] #172 closed

[2019-01-14 21:50] JRomero0613 opened #173 "Area Model Introduction Box Leaves Trace"
For https://github.com/phetsims/QA/issues/230 on Mac OS 10.11.6 on Safari when dragging the area model around using the circle attached on the bottom right of the area sometimes a section of the circle will stay animated to a position the cursor was previously. I haven't been able to determine an exact set of steps to reproduce, but the bug occurs most ofter the draggable section is moved from pos

[2019-02-05 03:16] samreid commented on #170
This sim was checked off as part of https://github.com/phetsims/tasks/issues/985 and looks pretty good:

![image](https://user-images.githubusercontent.com/679486/52251382-c1620c80-28b9-11e9-8e24-f0522b1acf54.png)

Closing.

[2019-02-05 03:16] #170 closed

[2019-03-01 00:17] KatieWoe opened #174 "Calculation String Max Width is too Short."
For https://github.com/phetsims/QA/issues/230
The Calculation string on the partition screen of the Area Model Introduction sim has a large amount of room in could expand into when string test is long.
![longtestshort](https://user-images.githubusercontent.com/41024075/53607591-ab73fe80-3b7c-11e9-828d-ea765e3361ed.jpg)

[2019-03-04 21:23] KatieWoe opened #175 "CT: Firefox shows blank box when changing size of graph."
Device
Jordan
OS
Mac 10.13.6 and 10.14.3
Browser
Firefox
Problem Description
For https://github.com/phetsims/QA/issues/228, https://github.com/phetsims/QA/issues/231, and https://github.com/phetsims/QA/issues/229
When dragging an area box a section to the right briefly disappears.  Only seen so far on Mac firefox.  Appears on published version.  Easier to see in small window or iframe.
Steps to re

[2019-03-08 15:53] KatieWoe commented on #175
Edit: this is not a CT issue.  Sorry, I made this issue right after going through CT and I accidentally added it.

[2019-03-08 16:28] KatieWoe commented on #175
It will also occur to the calculations box if the graph is enlarged downwards

[2019-03-08 22:39] KatieWoe commented on #175
Also seen on Win 7 firefox

[2019-03-11 18:34] KatieWoe opened #176 "Internet explorer can't enter full screen"
**Device**
Bates
**OS**
Win 7
**Browser**
Internet Explorer
**Problem Description**
For https://github.com/phetsims/QA/issues/231 and https://github.com/phetsims/QA/issues/228
On these two sims, trying to enter full screen mode on Win 7 IE the browser throws an error and reloads the page without entering full screen.  I did a quick check on Area Model Multiplication and the published version doesn

[2019-03-11 18:38] KatieWoe commented on #176
Error that pops up reads:
Internet Explorer has stopped working
A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available.
I also saw this occur once while trying to open the console.

[2019-03-11 20:05] KatieWoe commented on #176
Update.  It seems like it may be connected to or happen more often if you are inside a game level.

[2019-03-11 20:46] KatieWoe commented on #171
In that case, closing

[2019-03-11 20:46] #171 closed

[2019-03-12 14:40] KatieWoe commented on #176
Edit: I earlier said that I didn't see it in Win 10.  I dug a bit deeper and it does seem to happen there, though it doesn't show the error described in the above comment.

[2019-04-08 20:00] amanda-phet opened #177 "Add title to game screens"
To be consistent with other game screens, the level selection screens for all game screens (Area Model Multiplication and Area Model Algebra) should have the title "Choose Your Level!"

[2019-04-30 18:50] KatieWoe opened #178 "Full screen gets rid of sound"
Device
Dirac
OS
Mac OS 10.11.6
Browser
Safari 11.1.2
Problem Description
For https://github.com/phetsims/QA/issues/231, did not seem to happen in other sims in this suite for some reason.  Did seem to occur in published version.  Doesn't happen on Mac OS 10.10, but does on versions after that.
Sometimes, when entering full screen mode, the sound in the sim will cut out.  When opening or closing ta

[2019-04-30 19:54] amanda-phet commented on #178
Which sim does it occur in? Area Model Multiplication? I only see from the QA task, but this is the area-model-common repo so might be good to clarify.

When you say sound, do you mean game sounds? I would check some other games- perhaps this is a vegas, tambo, or other issue, not a sim-specific one (even though you didn't notice it in other Area Model suite sims).

[2019-04-30 19:58] KatieWoe commented on #178
Area model Multiplication
Yes, game sounds.  Such as the wrong answer sound.  I did check two other games (a fractions game and Equality Explorer).  I didn't see it in the fraction game, but it did seem to occur in equality explorer.  Not sure where this should be moved.

[2019-04-30 20:05] KatieWoe commented on #178
Update.  Now that I've gotten into more thorough testing, https://github.com/phetsims/QA/issues/228 (algebra) does show this issue, but not with the same method as above.  I was playing with the rest of the screens in full screen, and the full screen seemed to loose sound when I got to it.

[2019-05-01 17:38] etwa4650 commented on #178
Here is a sheet for all the HTML5 sims that have sound and whether they have this issue or not:

https://docs.google.com/spreadsheets/d/1afiTe0uL2egZbzjMnMEzrSMxYrplGNLlBjJ1FGvlAXM/edit?usp=sharing

A few things I noticed:

1: I was not able to replicate this on my own device the first time I tried although it was running the same MAC OS and the same Safari version. I restarted Safari and than was

[2019-05-01 17:41] KatieWoe commented on #178
Thank you @etwa4650. Since its really only shows up in games I'm going to move this to vibe. @jbphet for comment.

[2019-05-07 21:24] ariel-phet commented on #175
This is easiest to reproduce in the "iframe test" but I can reproduce it if I choose the right aspect ratio on Win 7 FF. Seems to be very aspect ratio dependent to reproduce. No issue seen at my normal browser window size.

Only worth fixing if not a ton of effort. Feel free to defer if fixing is more than 2 or so hours.

[2019-05-09 20:29] jonathanolson commented on #176
Looks like a hard crash on the browser tab process. I don't see any notable way to resolve this. @ariel-phet let me know if this deserves more time to investigate.

[2019-05-09 20:42] jonathanolson commented on #173
I applied a hopeful workaround. I'm curious if you are still able to reproduce if running this off of master or not.

In general, if the workaround works I'd like to keep it, otherwise I'd like to remove it and probably mark as wont-fix.

[2019-05-09 20:46] jonathanolson commented on #174
Should be fixed on master, thanks!

[2019-05-09 20:46] #174 closed

[2019-05-10 16:51] ariel-phet commented on #176
marking as `wontfix` - not a showstopping issue on IE

[2019-05-10 16:52] ariel-phet commented on #176
Assigning to @KatieWoe to close once she is aware

[2019-05-10 19:50] jonathanolson commented on #175
I had some things that seemed promising but nothing seems to be fixing this. Hopefully Firefox will fix the issue soon! Marking as deferred.

[2019-05-14 14:34] #176 closed

[2019-05-14 21:52] KatieWoe opened #179 "HTML downloads create more files than normal"
For https://github.com/phetsims/QA/issues/319, https://github.com/phetsims/QA/issues/318, https://github.com/phetsims/QA/issues/317, and https://github.com/phetsims/QA/issues/316.  When right clicking and using save-as on the sim it creates the html file and a new folder that contains something called "analytics.js.download"  Normally only the html file is created.  The published version did not c

[2019-05-14 21:56] KatieWoe commented on #179
![file](https://user-images.githubusercontent.com/41024075/57735130-d55b9e00-7660-11e9-8ec2-3f082425c481.png)
![files](https://user-images.githubusercontent.com/41024075/57735131-d55b9e00-7660-11e9-9127-0c2fbefb1b01.png)

[2019-05-14 22:09] KatieWoe commented on #179
@amanda-phet pointed out that when you download there are two format options.  One does this and one behaves normally.  Not sure why the default is different here though, which may be worth looking at.  Also, I noticed some odd flickering as the sim started up.
![flashing](https://user-images.githubusercontent.com/41024075/57735595-5f583680-7662-11e9-85f1-b780c4ed5649.gif)

[2019-05-15 18:00] etwa4650 commented on #175
Also found in https://github.com/phetsims/QA/issues/318

Video:
https://drive.google.com/open?id=1VoMNideIJRXS5CUBUlPOH3SdmGht009s

[2019-05-16 17:49] etwa4650 opened #180 "Grid lines appearing when changing Grid size in FireFox"
For https://github.com/phetsims/QA/issues/318

 <b>Operating System</b>

  Mac OS 10.13.6

  <b>Browser</b>

  Firefox 66.0.5

  <b>Problem Description</b>

  When in the Partition sim, with the Gridlines checkbox turned off, if you change the size of the Grid, some gridlines will appear.

  <b>Steps to Reproduce</b>

1:Open the sim with firefox on Mac
2: Uncheck the gridlines checkbox
3: Move aro

[2019-05-16 21:03] lmulhall-phet opened #181 "Moving proportional drag handle quickly causes parts of sim to disappear in iframe"
**Test Device**

Dirac

**Operating System**

macOS 10.11.6

**Browser**

Firefox 66.0.5

**Problem Description**

Moving the proportional drag handle (green thing) quickly causes the checkboxes and the accordion panels to disappear. This does not happen on newer versions of macOS.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/57886989-a7569500-77eb-11e9-8503-80f27dc87c

[2019-05-17 10:20] lmulhall-phet commented on #181
Sorry, this is a duplicate. Closing.

[2019-05-17 10:20] #181 closed

[2019-05-17 15:25] KatieWoe commented on #176
Happened on Generic screen in https://github.com/phetsims/QA/issues/319

[2019-05-23 03:21] ariel-phet commented on #146
Looks like performance was fine in latest RC test. Closing

[2019-05-23 03:21] #146 closed

[2019-05-23 09:38] jonathanolson commented on #179
Quick test on Mac chrome showed that the area-model 1.0 and 1.2 branches both create a downloadable folder with analytics.js. I'll check on Windows.

[2019-05-23 15:13] jonathanolson commented on #180
I've tried a few mitigation techniques, have a few more things to try.

[2019-05-24 17:00] ariel-phet commented on #179
@KatieWoe @jonathanolson I only think this is a problem if a build version on the website did not create a single file when using the download button

[2019-05-29 18:54] jonathanolson commented on #179
I went back to the 1.0 release for area-model, built it locally, and did save-as (with the default, complete page), and it did include an analytics.js.download. So this doesn't look like a regression.

Additionally, saving just the "Web page only" version in Chrome (version 74, Windows 10) results in one file (no folder) that works. See:

![save-as](https://user-images.githubusercontent.com/480878

[2019-05-29 19:10] KatieWoe commented on #179
I agree with what @jonathanolson saw

[2019-05-29 19:16] jonathanolson commented on #180
My Firefox updated to 67.0 and now I'm unable to reproduce (MacOS 10.14.3):

<img width="1410" alt="Screen Shot 2019-05-29 at 1 12 34 PM" src="https://user-images.githubusercontent.com/480878/58584611-df120380-8213-11e9-8013-c26abbf2e6ef.png">

I tried to duplicate all settings (and guessed query parameters).

Can anyone else confirm if this is still happening, or if Firefox 67 solved this issue?

[2019-05-29 19:42] KatieWoe commented on #180
I'm still seeing it.

[2019-05-29 23:09] jonathanolson commented on #173
@KatieWoe do you know if this is possible to reproduce off of master?

[2019-05-30 03:09] ariel-phet commented on #179
@jonathanolson agreed, should not block 1.2

@KatieWoe feel free to close unless you think anything more is necessary.

[2019-05-30 14:32] #179 closed

[2019-05-30 14:53] KatieWoe commented on #173
It does occur off of master as of this morning (5/30/19).
![yesonmaster](https://user-images.githubusercontent.com/41024075/58641401-5b5e2280-82b8-11e9-8b9f-ce005624bac0.gif)

[2019-05-30 15:35] jonathanolson commented on #173
@ariel-phet let me know how much more time should be spent on workarounds? I don't have any great leads forward, but I could look more into why Firefox seems to have a lot of SVG repaint issues lately.

[2019-05-30 20:51] KatieWoe commented on #173
For master check I was on Win 10 Firefox 67

[2019-05-30 20:53] ariel-phet commented on #173
I tried Win 7 with firefox off master, and could not reproduce. This seems somewhat transient (clicking away fixes it). I think we are going to mark as `wontfix`

[2019-05-30 20:54] #173 closed

[2019-05-31 22:34] jonathanolson commented on #177
Patched in master and on the 1.2 release branch. @amanda-phet how does that look?

[2019-06-03 22:22] jonathanolson commented on #177
I'll have spacing better match ExEx.

[2019-06-04 06:46] ariel-phet commented on #180
Firefox on Mac is a barely used platform (0.3% of our overall website usage), considering that this bug minor -- as in it goes away as you move, basically just a visual distraction -- and no obvious pedagogical consequences, it does not seem worth fixing.

Closing as `wontfix`

[2019-06-04 06:46] #180 closed

[2019-06-04 17:07] jonathanolson commented on #177
Spacing should match now (centered in the empty space). @ariel-phet does this look good to you? (I patched the branches)

[2019-06-05 00:46] ariel-phet commented on #177
@jonathanolson the placement of "Choose Your Level!" looks good, but werent we going to make the tile buttons on the level selection screen spaced more like Ex Ex?

[2019-06-05 19:58] jonathanolson commented on #177
Patched on master and the release branches, sorry about that! @ariel-phet does it look good now?

[2019-06-06 01:35] ariel-phet commented on #177
@jonathanolson thanks, looks good. Closing

[2019-06-06 01:35] #177 closed

[2019-06-07 15:16] KatieWoe opened #182 "Old vibe sound button is still there"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/338 and https://github.com/phetsims/QA/issues/341
During this rc, sound in the game was switched from vibe to tambo.  This means that muting is controlled by the nav bar button.  However, the old yellow sound button is still present in the game screen.  It does

[2019-06-07 15:18] KatieWoe commented on #182
Assigning @jbphet as well in case there is some trouble switching over.

[2019-06-07 15:54] jbphet commented on #182
Good observation @KatieWoe.  This should go to @jonathanolson, since he did the conversion for this sim.

[2019-06-07 18:51] KatieWoe opened #183 "Slight touch area overlap in dimension boxes"
For https://github.com/phetsims/QA/issues/341, https://github.com/phetsims/QA/issues/340, https://github.com/phetsims/QA/issues/339, and https://github.com/phetsims/QA/issues/338
With the titles of accordion boxes again being clickable I noticed that the touch areas of closing the box overlaps a bit with the touch arrows to increase the dimensions of the area.  The area spinners take president and

[2019-06-10 18:50] JRomero0613 opened #184 "Internet Explorer Has No Sound"
For https://github.com/phetsims/QA/issues/341 and https://github.com/phetsims/QA/issues/338 when testing on Windows 7 on Internet Explorer it was noticed that the game screens had no sound. There is not a sound button next to the PhET menu unlike all other devices and platforms tested. I'm not sure if this is an IE only issue or Windows 7 as well because this is the only IE I have tested, or if so

[2019-06-10 19:37] KatieWoe commented on #184
Since the sound is now on tambo I believe sound would no longer be supported on IE.  Also, @JRomero0613 please remember to assign and label issues in the future.

[2019-06-10 19:37] #184 closed

[2019-06-10 19:51] KatieWoe opened #185 "Should erase button clear/hide keypad?"
For https://github.com/phetsims/QA/issues/341, https://github.com/phetsims/QA/issues/340, https://github.com/phetsims/QA/issues/339, and https://github.com/phetsims/QA/issues/338
Is in published sim
From Slack:

![related](https://user-images.githubusercontent.com/41024075/59222478-d4962900-8b86-11e9-8eb9-186b4d5c24ee.gif)

[2019-06-11 13:42] lmulhall-phet opened #186 "Borders of some buttons missing in iframe"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.5

**Browser**

Safari 12.1.1

**Problem Description**

For https://github.com/phetsims/QA/issues/338, https://github.com/phetsims/QA/issues/339, https://github.com/phetsims/QA/issues/340, and https://github.com/phetsims/QA/issues/341. If you view any of the AM sims in an iframe, the borders of some of the buttons are missing.

**Visu

[2019-06-13 16:23] jonathanolson commented on #182
Somehow I missed a commit in the cherry-picks. I'll make sure this is included in the next RC.

[2019-06-13 16:25] jonathanolson commented on #183
@ariel-phet and @amanda-phet, let me know if I should take down the vertical touch expansion slightly on the spinners so there is no overlap.

[2019-06-13 16:35] jonathanolson commented on #185
Patched in master. @KatieWoe can you confirm that this is the desired behavior now?

[2019-06-13 16:41] jonathanolson commented on #185
Also patched branches.

[2019-06-13 17:00] amanda-phet commented on #183
I think we can leave them, but appreciate having it documented. Thanks @KatieWoe .

[2019-06-13 17:00] #183 closed

[2019-06-13 18:39] KatieWoe commented on #185
Looks good in master

[2019-06-18 17:15] jonathanolson commented on #186
I can't reproduce this locally, but it might be due to the high-DPI screen. I have identical OS/Safari versions, however the pixel ratio on the test device is 1:1.

I'm honestly not sure how to try to work around this type of visual issue. @ariel-phet thoughts?

[2019-07-01 22:10] ariel-phet commented on #186
@jonathanolson @lmulhall-phet I am going to have to look at this one in person.

@jonathanolson perhaps the work around would be a slightly thicker stroke to the buttons? @jonathanolson can we try that first, just add one pixel to the stroke (or perhaps coordinate with @lmulhall-phet or @KatieWoe to adjust the pixel width until the problem goes away?)

If it only needs a minor thickness adjustment

[2019-07-09 17:18] jonathanolson commented on #186
I've slightly increased the stroke on master and the release branches. @lmulhall-phet, does that resolve the issue on master?

[2019-07-24 22:11] lmulhall-phet commented on #186
I guess there's no out-of-the-box way to test a sim in an iframe on master, so I ended up testing http://phettest.colorado.edu/area-model-introduction/area-model-introduction_a11y_view.html. The borders aren't perfect, but they're pretty good.

![Screen Shot 2019-07-24 at 4 08 22 PM](https://user-images.githubusercontent.com/31285590/61832206-9ea6be80-ae2d-11e9-9530-9d90d50c86e2.png)

Back to you,

[2019-07-25 07:50] jonathanolson commented on #186
@ariel-phet I'm not aware of a better fix/workaround at the moment, but that looks better. Should I bump area-model for another round of RC testing?

[2019-07-25 16:45] ariel-phet commented on #186
@jonathanolson that works for me and seems like an easy and acceptable solution. Yes, go ahead and go to next RC. Closing

[2019-07-25 16:45] #186 closed

[2019-07-26 23:00] KatieWoe commented on #185
Looks good in the rc's

[2019-07-26 23:01] KatieWoe commented on #182
Looks good in the rc's

[2019-07-29 19:31] JRomero0613 commented on #175
This bug is still present in https://github.com/phetsims/QA/issues/380. This was noticed with the iFrame test on Windows 7 on Firefox.

[2019-08-15 09:27] jonathanolson commented on #185
Sounds good, closing!

[2019-08-15 09:27] #185 closed

[2019-08-15 09:30] jonathanolson commented on #182
Thanks!

[2019-08-15 09:30] #182 closed

[2019-09-12 00:47] samreid opened #187 "Should totalXSquaredProperty and totalXProperty suffixes change to Entry?"
From phetsims/scenery-phet#531

I saw code like this in AreaChallenge.js

[code]

It seems `Entry` would be a better suffix than `Property`, for this and `totalXSquaredProperty`, should it be renamed?

[2019-10-07 23:28] zepumph commented on #160
This is no longer possible when we move our a11y strings to the en json files. This is because trailing/leading whitespace isn't allowed (see https://github.com/phetsims/chipper/issues/619). We need another solution here. @jessegreenberg can you think of a general way around having trailing/leading whitespace that can be used with `StringUtils.fillIn()`?

[2019-10-11 18:34] KatieWoe opened #188 "Info boxes can disappear in full screen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/409, may happen in others. Was able to reproduce in published sim.
When the sim is in full screen clicking around the partial product box and other boxes in the area could cause all of the boxes to disappear.  This only seems to occur once, and you would need to re

[2019-10-11 20:02] loganbraywork opened #189 "Crash when entering Full screen in IE"
**Test device**
Windows 7 Personal Laptop

**Operating System**
6.1

**Browser**
IE 11.0.9600.19504

**NOTES**
Issue similar to https://github.com/phetsims/wave-interference/issues/451.

Seems a similar issue on this sim has been closed before about 6 months earlier, but still making an issue for posterity. See https://github.com/phetsims/area-model-common/issues/176

Does not occur in the publish

[2019-10-14 15:38] jonathanolson commented on #189
@ariel-phet, what time should I spent investigating this? It seems likely that there's little we could do, and it seems hard to track down what would trigger this.

[2019-10-14 15:41] jonathanolson commented on #188
I'm curious if something like `?rootRenderer=canvas` prevents this from occurring (i.e. whether it's specific to SVG).

[2019-10-14 16:19] KatieWoe commented on #188
That query parameter did seem to work

[2019-11-05 17:07] Denz1994 opened #190 "AreaScreenView config.decimalPlaces should be optional"
As noted in https://github.com/phetsims/phet-info/issues/115#issuecomment-549892311, the use of config.decimalPlaces is not truly a required field. I made a change to `ProportionalAreaScreenView.js` that asserts `decimalPlaces` is supplied by the client. This may go against the original intention of its implementation and thus the responsible dev should review.

Assigning to @jonathanolson.

[2019-11-06 20:07] ariel-phet commented on #189
I think we can close this one as `wontfix`

[2019-11-06 20:07] #189 closed

[2019-11-19 17:08] ariel-phet commented on #188
Considering this is rare and only happens once, and maybe fixed by Firefox in the future, I am marking deferred.

Next time we test this sim or make a change, we can see if the issue has been resolved in Firefox

[2019-12-18 19:19] jbphet commented on #35
@jonathanolson - this issue has been languishing for a couple of years now.  It doesn't seem to have come up as something that is needed, since the priority has never been elevated and I don't recall any conversations requesting this feature.  You said you were okay to close if I was, and I am, but mostly because I don't know exactly what to do to address the issue and don't feel like it's worth t

[2020-03-18 00:35] zepumph opened #191 "Move a11y strings to strings json file"
From https://github.com/phetsims/chipper/issues/795

[2020-03-18 00:53] zepumph commented on #191
Implemented above. @jonathanolson will you please spot check this conversion.

[2021-03-25 15:23] #191 closed

[2021-09-15 15:57] pixelzoom opened #192 "Use phet-core.OrientationPair"
Discovered while investigating https://github.com/phetsims/geometric-optics/issues/42.

phet-core.OrientationPair and area-model-common.OrientationPair provide identical functionality. No surprise there, since @jonathanolson wrote both of them.  Replace the latter with the form.

[2021-11-19 17:53] markgammon opened #193 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2022-10-06 16:19] pixelzoom opened #194 "Replace sim-specific code with LevelSelectionButtonGroup"
Related to https://github.com/phetsims/vegas/issues/108 ...

LevelSelectionButtonGroup is a new vegas UI component for creating the level-selection buttons for games.  It replaces boilerplate code in sims, and provides a consistent PhET-iO tandem structure.  Please convert this sim to use LevelSelectionButtonGroup.