[2017-05-10 04:28] jonathanolson opened #1 "Persistence switching in-between screens"
I presume if the user sets up a particular configuration on the 20x20 configuration and switches to 100x100, when they switch back to 20x20 their pre-made configuration will show up?

[2017-05-10 16:22] jonathanolson opened #2 "Handling for collapsed accordion boxes"
Design docs show the panels fitted up to a collapsed box:
![screen shot 2017-05-10 at 10 17 35 am](https://cloud.githubusercontent.com/assets/480878/25909350/23f0ad56-356a-11e7-9bf5-06e06141788b.png)
and shifted down when the box is opened:
![screen shot 2017-05-10 at 10 19 32 am](https://cloud.githubusercontent.com/assets/480878/25909367/3564d8be-356a-11e7-923e-cb0e5cb57466.png)

Other simulation

[2017-05-10 16:25] samreid commented on #2
In some UI toolkits it is important for the layout to reflow when components resize, but in this sim it seems to me that those accordion boxes aren't taking up much space and it would be awkward for other controls to jump around when toggling the accordion.

[2017-05-10 16:51] ariel-phet commented on #2
Seems like a good question for design meeting

[2017-05-10 17:19] amyh-phet commented on #1
Yes, whatever is built on a model should persist when a user moves between the 20x20 or 100x100 scene.

[2017-05-10 17:48] jonathanolson opened #3 "Drag behavior of the rectangle drag handle"
I'm anticipating a slightly unappealing "stutter" while dragging if this drag handle is always a fixed distance from the rectangle. The mouse (in a drag) would not stay matched with the drag handle due to snapping.

I'd like to consider having the drag handle be able to slightly extend/retract from the rectangle while dragging (but only diagonally), so that it feels more natural.

May become obvio

[2017-05-10 18:35] jonathanolson opened #4 "Add valueColor to NumberPicker"
@pixelzoom, any objections to me adding `valueColor` as an option to NumberPicker that controls the color of the displayed value?

[2017-05-10 18:37] jonathanolson opened #5 "Add valueToString function option to NumberPicker"
@pixelzoom, any objections for me to add a function that controls how to convert the given value to a string?

We need to display a '1' for 1, but '0.5' for 0.5 (which won't work with toFixed).

Presumably if that option is given, we'll need to iterate over all possible picker values to determine the maximum dimensions of the value node (instead of checking min/max like is done now).

[2017-05-10 18:42] pixelzoom commented on #4
Sounds great.

[2017-05-10 18:48] pixelzoom commented on #5
Looks like @samreid added something similar in https://github.com/phetsims/scenery-phet/commit/124a6a033406e8addd6a09cb1a0608e148581dda#diff-554e2c2e53928cb5c370b1799c9afbf0:

[code]

Inadequately documented, but it looks like the type expression is `{function(string):string}`.

Will this work for you?

[2017-05-10 18:49] pixelzoom commented on #5
Actually, I guess that won't really work for you.  Too bad something like `formatValue` wasn't added, `{function(number):string`.  Maybe change?

[2017-05-10 19:05] jonathanolson commented on #5
Changing to formatValue would be great, I can take care of refactoring usages.

[2017-05-10 19:06] jonathanolson commented on #1
Implemented.

[2017-05-10 19:06] #1 closed

[2017-05-10 19:08] pixelzoom commented on #5
Not sure what effect `formatValue` might have on `options.decimalPlaces` - does it make it irrelevant?

[2017-05-10 19:09] jonathanolson commented on #5
No, presumably the default formatValue would use decimalPlaces (so we don't require formatValue for every NumberPicker).

[2017-05-10 19:19] amyh-phet commented on #3
I think having the drag handle be able to slightly extend/retract from the rectangle while dragging seems like a reasonable way to make the interaction feel more natural and avoid a "stutter" behavior.

[2017-05-10 19:30] jonathanolson opened #6 "How to treat 0x or 0x^2?"
If the user enters that in the keypad, do we treat it as 0x or 0x^2 (very possible to do), or just treat it as 0?

[2017-05-10 19:30] jonathanolson commented on #6
And if we treat it as 0x, when would this be simplified out in the area model calculation for variables?

[2017-05-10 19:37] amyh-phet commented on #6
I would lean toward treating it as 0. @amanda-phet  can you weigh in here as you have better insight to this question pedagogically.

[2017-05-10 19:43] amyh-phet commented on #2
We can discuss at design meeting on 05/11.

[2017-05-10 19:57] amanda-phet commented on #6
I would leave it as 0. There are other cases where what they user enters on the keypad might be displayed differently, such as entering 'x2' and displaying it as '2x'. Is there a general way to describe how/when to simplify? We should think about that. But 0x should simplify to 0.

[2017-05-10 20:13] amyh-phet commented on #6
I can think of three cases to simply:
1) Entering a zero as the first digit in a number value.  In this case, the zero would be removed (e.g. entering 012 would simply to 12).
2) Entering a zero before a variable entry (either 0x or 0x^2). Entry would be simplified to 0 in both cases.
3) Entering a variable before a coefficient (either x6 or x^2 6).  Entry would be simplified to show the coefficie

[2017-05-10 20:16] amanda-phet commented on #6
4. x0 would simplify to 0 (combination of 2 and 3 above)

Do you remember the discussion about xx? Is it even a possibly entry?

[2017-05-10 20:20] amyh-phet commented on #6
xx is not a possible entry.  User can only enter x or x^2 once at which point the keypad prevents additional entries of variable.  We did this as simplifying xx was problematic.

[2017-05-10 21:51] jonathanolson opened #7 "Potentially coloring the partial factors readouts?"
In each partitioned area, with "partial products" set to "factors", I think it might be helpful to color the width and height (so it is obvious which one is the width and which is the height). Would that add to the sim, or take away from it?

[2017-05-10 22:02] amyh-phet commented on #7
i think this is a good topic for discussion at design meeting.  In looking over meeting notes, I don't think we discussed if using this type of mapping would be beneficial or give away too much information.

[2017-05-11 20:56] amyh-phet commented on #7
Discussed at design meeting on 5/11/17.  Decision made to not color factors on model.  Concerned that it will add additional visual weight to sim and detract from the color mapping already present.

[2017-05-11 20:56] #7 closed

[2017-05-11 20:58] amyh-phet commented on #2
Discussed at design meeting on 05/11/17.  Decision made to have all panels remain in place when collapsible panels are closed.  This behavior is currently implemented in sim.

[2017-05-12 04:34] jonathanolson commented on #2
Closing, thanks!

[2017-05-12 04:34] #2 closed

[2017-05-12 14:20] jonathanolson opened #8 "Handling of duplicate exponents"
I didn't see an example for the "Area model calculation" with variables where partitions had duplicate exponents, e.g. width partitioned into "2x", "-x" and "5". Would the first line have these remain separated e.g. "(2x - x + 5)", or should it be simplified first e.g. "(x + 5)"?

[2017-05-12 15:10] jonathanolson commented on #8
Currently planning to initially implement so that it shows each partition (instead of combining) for the calculation. Also planning to keep whatever order the user enters variables in (so if 5 is on the left, and x is on the right, it would be "5 + x").

[2017-05-12 15:22] jonathanolson opened #9 "Better alignment for terms/polynomials"
Don't want to use centerX, instead we should use the center of the base line of text. May need to add something to RichText.

[2017-05-12 15:32] jonathanolson opened #10 "Refactor to use a Side-like equivalent"
Should remove most width/height duplication internally.

[2017-05-12 17:14] jonathanolson commented on #8
On the other hand, the 1st screen has the steps:
[code]
so would that example with variables want an extra line to mimic, e.g.:
[code]

[2017-05-12 18:48] amyh-phet commented on #8
@jonathanolson

Your example above is the behavior we expected in the Area model calculation panel.

So yes to this implementation:

(7)(x + 5)
(7)(2x - x + 5)
(7)(2x) + (7)(-x) + (7)(5)

I also agree that if a student enters a 5 in the left most (or top most box for height) and then a variable such as x in the middle or right most box, the order would be preserved (so 5 + x).

[2017-05-12 19:02] jonathanolson commented on #8
Also, should that extra line only be added when two factors are combined in the sum? What about out-of-order factors?

For example:

- "2x + 5 - x" would have the extra line (top line would be `(x + 5)`, extra line would be `(2x + 5 - x)`.
- "5 + x" would (potentially?) have the extra line, since the top line would be `(x + 5)` (order of factors), and the extra line if it exists would be the rever

[2017-05-12 19:13] amyh-phet commented on #8
Using your examples, I think we need an extra line when either two factors are combined in the sum or when we have out-of-order factors.  So yes, extra step for:

- "2x + 5 - x" would have the extra line (top line would be (x + 5), extra line would be (2x + 5 - x).

- "5+ x" would have the extra line, since the top line would be (x + 5) (order of factors), and the extra line if it exists would be

[2017-05-12 19:36] jonathanolson commented on #8
Thanks, will implement!

[2017-05-12 19:36] #8 closed

[2017-05-12 23:13] jonathanolson opened #11 "Layout for the 3rd screen"
I'm wondering where to potentially place the factor labels on the 3rd screen (and show the largest constraints):

Widest calculation with the current font size:
![screen shot 2017-05-12 at 4 55 06 pm](https://cloud.githubusercontent.com/assets/480878/26019802/a49542b0-3735-11e7-94d4-5acdbdbf27b9.png)

Widest simplified sum of the left side:
![screen shot 2017-05-12 at 4 55 35 pm](https://cloud.git

[2017-05-12 23:17] jonathanolson commented on #11
I think I may try automatic resizing to see how it feels (centered below the main area when possible, then expanding to the right).

[2017-05-12 23:30] amyh-phet commented on #11
Here's my initial thoughts:

- Reduce the font size we use for factors when this option is chosen in Partial products panel.  I think we need to find a balance between large enough to read but small enough to fit. I'll be working on Monday to try out some ideas for an overlay (as discussed in design meeting), but I'd like to see if reducing font size helps too.
- Keep font size in calculation pane

[2017-05-13 18:30] jonathanolson opened #12 "Review of area calculation lines"
http://www.colorado.edu/physics/phet/dev/html/area-model-multiplication/1.0.0-dev.3/area-model-multiplication_en.html should be (mostly) feature complete, so I was wondering if you could check the area-calculation lines to make sure they look as expected and that the proper lines are shown.

I ended up with the following lines and visibilities:

- "totals" line, always visible: shows the product o

[2017-05-13 18:42] jonathanolson commented on #11
Reduced factor font size (currently for all screens) to fit:
![area-model-factor-font](https://cloud.githubusercontent.com/assets/480878/26028233/a00f414c-37d9-11e7-99fb-5877d3e90430.PNG)

[2017-05-13 18:43] jonathanolson opened #13 "[branch] calculation-resize"
For investigation of resizing in https://github.com/phetsims/area-model-common/issues/11.

[2017-05-13 19:12] jonathanolson commented on #11
I started with an implementation that has minimum sizes (helpful for the line-by-line view and having it look nice on the non-generic screens).

Check http://www.colorado.edu/physics/phet/dev/html/area-model-multiplication/1.0.0-dev.4/area-model-multiplication_en.html to see how that behavior feels?

[2017-05-13 19:13] jonathanolson opened #14 "Add Keypad readout background, don't let keypad size change with exponents"

[2017-05-14 05:40] jonathanolson commented on #4
Just want to confirm with @amyh-phet that the colored text in the number pickers (spinners) is desired. It looks harder to read when being pressed (I prefer the black text), and the last design meeting discussed how we didn't want too much colored:
![screen shot 2017-05-13 at 11 37 44 pm](https://cloud.githubusercontent.com/assets/480878/26031566/624aaaca-3835-11e7-96a0-c7cb657cb03b.png)
![screen

[2017-05-14 05:42] jonathanolson commented on #6
Implemented.

[2017-05-14 05:42] #6 closed

[2017-05-14 06:23] #14 closed

[2017-05-14 06:25] jonathanolson opened #15 "Should the Keypad readout change to indicate maximum width?"
Examples of appearance:
![screen shot 2017-05-14 at 12 23 16 am](https://cloud.githubusercontent.com/assets/480878/26031745/b2818602-383b-11e7-983c-c816ae4efe7c.png)
![screen shot 2017-05-14 at 12 23 25 am](https://cloud.githubusercontent.com/assets/480878/26031746/b78cd174-383b-11e7-8aa3-06d42fd61e35.png)
![screen shot 2017-05-14 at 12 23 32 am](https://cloud.githubusercontent.com/assets/480878/2

[2017-05-14 06:34] jonathanolson opened #16 "Touch areas"

[2017-05-14 06:35] jonathanolson opened #17 "Interruptable input listeners"

[2017-05-15 13:41] pixelzoom commented on #4
Blue on blue certainly looks harder to read to me.

[2017-05-15 19:56] amyh-phet commented on #4
Let's implement with the black number.  I agree that it is easier to read.  I'll look in interviews to make sure students map the height/width on the model to the spinners in the problem panel.

[2017-05-15 20:01] jonathanolson commented on #4
Already as desired in implementation, closing.

[2017-05-15 20:01] #4 closed

[2017-05-15 20:12] amyh-phet commented on #15
I like having the keypad readout resize if possible for an additional cue that number entry is constrained for each partitioned area.

[2017-05-15 20:16] jonathanolson commented on #15
Already as implemented, closing.

[2017-05-15 20:16] #15 closed

[2017-05-15 20:43] amyh-phet commented on #11
Behavior seems reasonable as I interact with sim.  Size does jump as I change number of partitions, but this gives a good cue that I've now changed how the area is calculated, resulting in a different display in the calculation panel.

[2017-05-15 20:48] amyh-phet commented on #12
As I play with the sim, I'm wondering if we need to rearrange what students input on model on Screen 3.  For example, if a student enters 3 in the first partition and -x in the second partition, -x+3 is displayed in the problem panel and on the dimension line.  In discussing with @amanda-phet, we should consider displaying 3-x on the dimension line and in the Problem panel.  This would eliminate a

[2017-05-15 20:59] jonathanolson commented on #13
Merged into master, closing.

[2017-05-15 20:59] #13 closed

[2017-05-15 21:00] jonathanolson commented on #11
Merged branch into master.

Keeping open to discuss how to handle arrows for the partial products/factors display. Thoughts/mockups?

[2017-05-15 21:10] jonathanolson commented on #12
Would a dev version (off of a branch) help to compare the potential change?

Also note that the Problem panel combines/sorts factors, so "3-x" should be displayed on it currently. Only the extra calculation line would be removed, and the top calculation like would show the simplification?

I'd like to know whether this is just sorting or if it includes further simplification. A good example would

[2017-05-15 21:17] amyh-phet commented on #11
Currently working on mockups for overlay we discussed in design meeting last week.  I'm assuming this is for issues with Screen 1?  Would you like mockups here or in the design doc?

[2017-05-15 21:21] jonathanolson commented on #11
Yes, and the decimals screen (presumably a mock-up of one will work for the other, no need to duplicate work).

Here would be most convenient for me, but the design doc would be fine also.

[2017-05-15 21:25] amyh-phet commented on #11
Here's what I have so far using only arrows and no overlay.
![20x20_2x2_arrows](https://cloud.githubusercontent.com/assets/13650180/26080190/a325d6b6-3982-11e7-91a7-151460c62f96.png)
![20x20_display_arrows](https://cloud.githubusercontent.com/assets/13650180/26080192/a32695ec-3982-11e7-90a6-429c4fcb7d73.png)
![100x100_21x5_edgecase](https://cloud.githubusercontent.com/assets/13650180/26080191/a326

[2017-05-15 22:30] amyh-phet commented on #12
So let me do a better job of clarifying what I meant as I agree that simplifying the calculation process too much will cause a break down in the mapping of the model to the calculation panel.

In dev 4, I can build this problem:
![calculation_question_dev4](https://cloud.githubusercontent.com/assets/13650180/26081519/67b1f71c-3988-11e7-95fe-7cf832282d26.png)

I think that it might be more clear to

[2017-05-16 01:50] jonathanolson opened #18 "Fix GenericProblemNode vertical centering"

[2017-05-16 02:05] jonathanolson commented on #9
Mostly done except other open issue.

[2017-05-16 02:05] #9 closed

[2017-05-16 06:20] jonathanolson opened #19 "Tile performance"

[2017-05-16 06:25] jonathanolson opened #20 "Memory audit"

[2017-05-16 08:40] #19 closed

[2017-05-16 08:42] jonathanolson opened #21 "Dock click returns partition line"

[2017-05-16 16:23] amanda-phet commented on #12
I agree with @amyh-phet . While we typically write expressions in order of degree of exponent, there are times when an expression like 3-x is appropriate (such as a word problem where a length of 3 is reduced by some amount). We also don't want to make students think that it's wrong to multiply a binomial like 3-x.

In the second example, a teacher could point out that in the area model 3x, -3x, a

[2017-05-16 18:28] jonathanolson commented on #5
Applied changes, but it looks like https://github.com/phetsims/scenery-phet/issues/306 is an issue (bounds only set at the start, not modified with range changes). Didn't handle that.

@pixelzoom, can you review?

@jessegreenberg, can you review https://github.com/phetsims/gravity-force-lab-basics/commit/145010e14472bab4a7c7af202fe897ae03b6189e (change to your sim) to make sure I didn't break anyt

[2017-05-16 19:01] jonathanolson commented on #3
Implemented on master. Let me know if you want a dev version for testing, or if you can use phettest.colorado.edu.

[2017-05-16 19:14] #21 closed

[2017-05-16 19:18] pixelzoom commented on #5
Looks OK, but a question about https://github.com/phetsims/scenery-phet/commit/270d150e7dd32c714acc512ef4b9c0aade2a6a95.  Computing the width now involves computing every possible value.  Do you anticipate that that may cause performance problems?

[2017-05-16 19:23] amyh-phet commented on #3
PhET test should work.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jonathan Olson <notifications@github.com>
Sent: Tuesday, May 16, 2017 1:01:16 PM
To: phetsims/area-model-common
Cc: Amy Hanson; Assign
Subject: Re: [phetsims/area-model-common] Drag behavior of the rectangle drag handle (#3)

Implemented on master. Let me know if you want a dev version fo

[2017-05-16 19:27] jonathanolson commented on #5
There's the potential for that, although I'm not sure of a good other way to do that. (It also fails if you reverse upFunction/downFunction so that it never reaches the max, or a few other ugly edge cases that we probably won't run across).

If I have a range from 0 to 1 ("0" and "1") that goes through and "0.8" is the widest value, how else would we find that?

[2017-05-16 19:31] jonathanolson opened #22 "Readout/edit size for right side when allowing exponents"
The readout/label doesn't fully fit inside the ideal area for it, so it looks a bit ugly:
![screen shot 2017-05-16 at 1 29 11 pm](https://cloud.githubusercontent.com/assets/480878/26124473/c6e96b9e-3a3b-11e7-8adf-adf36c6dc30a.png)

@amyh-phet thoughts on how to resolve? I didn't want to make the partitions too equal in size on the 3rd screen, but that could resolve it. I could also reduce padding/

[2017-05-16 19:32] jonathanolson opened #23 "Clicking on edit readouts"
Can the edit readouts (next to the edit buttons) also be clicked to open the keypad? This would be very helpful for touch devices (if the touch area can cover the area), but may also be useful for mouse use.

[2017-05-16 19:36] jonathanolson opened #24 "Hard limit on calculation panel width/height"
On the iPad, it's able to overlap with the partition line handles. Should set a maxWidth/maxHeight (both?) to prevent that.

[2017-05-16 19:38] amyh-phet commented on #3
I think the drag behavior seems reasonable.  A bit of a stutter on the 20x20 screen, but nothing that makes it hard to use.

[2017-05-16 19:41] jonathanolson opened #25 "Slow iOS performance"
Creating many Text nodes for RichText seems like an obvious culprit.

[2017-05-16 19:42] jonathanolson commented on #3
Sounds good, closing.

[2017-05-16 19:42] #3 closed

[2017-05-16 19:42] amyh-phet commented on #22
I agree that we don't want the partitions to be too equal in size on the 2nd or 3rd screen.  We could make the first partition a bit smaller so that we can move the 2nd and 3rd partitions over, making the 3rd partition slightly larger.

Not sure we want to remove too much padding, but we could try reducing the size (I'm assuming font size too?) a bit to see if that helps.

[2017-05-16 19:50] amyh-phet commented on #23
I think yes, users can click either the edit button or edit readouts to open the keypad.  I agree that the touch area should include both items.

[2017-05-16 20:36] jonathanolson commented on #22
Slightly changed partition sizes, does this look good enough:
![screen shot 2017-05-16 at 2 36 14 pm](https://cloud.githubusercontent.com/assets/480878/26127025/113d2114-3a45-11e7-9bb5-785e35dd2149.png)

[2017-05-16 20:37] amyh-phet commented on #22
Looks good - much better with adjustments you made.

[2017-05-16 20:39] jonathanolson commented on #22
Thanks, closing.

[2017-05-16 20:39] #22 closed

[2017-05-16 21:06] pixelzoom commented on #5
Indeed, with the addition of `options.formatValue`, we have no choice but to compute all values to determine the width.

So trying to compute the dimensions is problematic for a number of reasons... `formatValue`, mutable range,...  How about if change the API, so that the client is responsible for setting the dimensions, then scale whatever value is displayed to fit?

[2017-05-17 21:05] amyh-phet opened #26 "Change label on Problem panel"
Label on Problem panel should be changed to read Product instead.

[2017-05-17 21:09] amyh-phet opened #27 "Coloring on Gridlines on Raccoon and Decimals screen"
Currently, the grids on the Raccoon and Decimals screens contain darker lines.  For example, on the 20x20 scene on the Raccoon screen, the gridlines for 10 are darker.

After discussing the sim today, the gridlines should all be the same color to avoid users mistaking these lines as partition lines.

[2017-05-18 03:46] jonathanolson commented on #27
Done in master.

[2017-05-18 03:46] #27 closed

[2017-05-18 03:49] jonathanolson commented on #26
Done, renamed internal occurrences also.

[2017-05-18 03:49] #26 closed

[2017-05-18 16:53] jonathanolson opened #28 "Don't show dock (or inactive partition lines) when size is below snapping"
For example on the 100x100 screen (where partition lines snap to multiples of 10), if the total height is 7, I'd like for it to act the same way it would if the height was 1 (dock/partition line disappears, unless it is actively being dragged).

Does that sound ok?

[2017-05-18 18:41] amyh-phet commented on #28
Sounds reasonable to me.

[2017-05-18 18:54] jonathanolson commented on #28
Done.

[2017-05-18 18:54] #28 closed

[2017-05-18 23:38] jessegreenberg commented on #5
https://github.com/phetsims/gravity-force-lab-basics/commit/145010e14472bab4a7c7af202fe897ae03b6189e works great, thanks @jonathanolson.

The API suggestion in https://github.com/phetsims/area-model-common/issues/5#issuecomment-301915660 sounds like a good solution to me.

[2017-05-19 16:20] jonathanolson commented on #5
Sounds inconvenient for every client to decide on the bounds required? And then have to re-supply NumberPicker with different bounds when the Range changes?

So I need to refactor so I can grab the default font (or override, but use the same values), so I can (on NumberPicker construction and every time the range changes) iterate through all possible values, map those values with whatever formatVa

[2017-05-19 16:25] pixelzoom commented on #5
I'll be surprised if the design team is happy with a picker whose width keeps changing.  Can you initialize NumberPicker with the largest range (i.e. widest picker) that you're likely to need?

[2017-05-19 16:31] pixelzoom commented on #5
Since this issue is in area-multiplication, I'm guessing that the context is the Product accordion box, and the range change is when you switch between the "20 x 20" and "100 x 100" scene.

Imo, this definitely does not justify the complexity of making NumberPicker change its width when the range changes.

Imo, you should not be using the same NumberPicker for both scene.  But if you must, initial

[2017-05-19 16:32] pixelzoom commented on #5
Since this issue is in area-multiplication, I'm guessing that the context is the Product accordion box, and the range change is when you switch between the "20 x 20" and "100 x 100" scene.

Imo, this definitely does not justify the complexity of making NumberPicker change its width when the range changes.

Imo, you should not be using the same NumberPicker for both scene - making UI components mut

[2017-05-19 17:32] jonathanolson commented on #5
Discussed with @pixelzoom, decided that passing in the maximum range first should handle sizing for range changes nicely (big enough to fit them all). Added documentation, closing.

[2017-05-19 17:32] #5 closed

[2017-05-19 17:41] jonathanolson commented on #12
I don't quite remember if this was fully decided at the design meeting; should the changes above be made, or is it pending on any further decisions?

[2017-05-19 18:10] amyh-phet commented on #12
We agreed that changes should be made.

[2017-05-19 19:46] jonathanolson commented on #12
Change made in master, let me know if it looks as expected.

[2017-05-20 01:49] jonathanolson opened #29 "Should sign-colored areas be included in the 2nd screen?"
When both the width and height are defined (with the new way it is planned to work), the entire area will either be positive or negative. Doesn't seem as helpful, but may still be helpful?

[2017-05-22 01:36] amyh-phet commented on #29
I think we want to keep the coloring on this screen to match features on Screen 3.

[2017-05-22 23:24] amyh-phet opened #30 "Model selection combo box for screens 2 and 3"
@amanda-phet   and @kathy-phet
Can you give feedback on these mockups of the combo box ideas from our meeting today?

Default
![s2_combo_box](https://cloud.githubusercontent.com/assets/13650180/26332349/6484773c-3f13-11e7-83ee-d6b62f1a654c.png)

Combo box open
![s2_combo_box_open](https://cloud.githubusercontent.com/assets/13650180/26332348/6483463c-3f13-11e7-8bdf-7ad0abee86fc.png)

Carousel
![s2_

[2017-05-22 23:35] kathy-phet commented on #30
Amy,

With the combo box grid, I would lay it out slightly differently, with the diagonal being 1x1 then 2x2 then 3x3. The across the top I would put the 2 vertical divides the 3 vertical divides. Down the left column I would put two horizontal divides then 3 horizontal divides. And the fill the remaining two spots following that pattern. The farther right the more vertical divides the farther dow

[2017-05-22 23:41] amyh-phet commented on #30
Sounds good.  Away from my computer for a few hours, but I'll update the mock-up tonight.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: kathy-phet <notifications@github.com>
Sent: Monday, May 22, 2017 5:35:20 PM
To: phetsims/area-model-common
Cc: Amy Hanson; Assign
Subject: Re: [phetsims/area-model-common] Model selection combo box for screens 2 and 3 (#30

[2017-05-22 23:42] kathy-phet commented on #30
Regarding the carousel or the combo box, I am split. I like that once you select your model with the combo box, you get to focus solely on building that model with the combo box hiding the other models. And I like that you can see all the models at once.

With the carousel I like that you see that it is an option to select different models at all. And it's not as hidden a functionality.

I agree m

[2017-05-23 03:11] amyh-phet commented on #30
Summarizing changes we would like to make:

- Remove docks/partition handles from model.

- Default for screen would show model with 2 partition lines (one height, one for length).  Model would be partitioned into four smaller areas.

- Edit boxes/buttons for four partitioned heights/lengths would be visible on default.

- Dimension lines (purple/green lines) are visible along height and width of

[2017-05-23 03:28] amyh-phet opened #31 "Make Total Area, Area Model Calculation, and Partial Products panels visible on default"
With current implementation, the panels can easily appear/disappear as user interacts with model.

Changes to current behavior:

- Panels always visible.

- If user has not entered any values for length/height on model, then a ? will be used to show any readouts in the Total area panel, any partial products displayed on the model (product or factor), and in the calculation panel below the model.

[2017-05-23 03:29] amyh-phet commented on #30
@jonathanolson  I'm assuming a combo box would work best given space constraints, but just curious if you have ideas on how to make the carousel fit if we wanted to go that route?

[2017-05-23 20:49] amyh-phet commented on #12
Looks good  Behaving as expected

[2017-05-25 17:47] amanda-phet commented on #30
I like the combo box at the top as well, but it breaks with the location of the scene selection buttons on the first screen. However since it's a different UI component I think it will be fine to have it in a new location.

[2017-05-26 16:11] amyh-phet commented on #30
@amanda-phet @kathy-phet  @ariel-phet   I know we discussed using buttons in the combo box to select the grid size on the generic model screens (Screens 2 and 3).  After mocking up the list of labels for the combo box, I'm wondering if the buttons are necessary.  Can you give feedback on the two options below?

Button option:
![combo_box_open](https://cloud.githubusercontent.com/assets/13650180/26

[2017-05-26 16:27] amyh-phet opened #32 "Change 4x4 scene on Decimals screen to 3x3 grid"
Deltas:

- Grid shows 0.1 units for a 3x3 square.

- Drag handles to create rectangle and place partition lines snap to 0.1 units.

- Spinners change number by 0.1.

- Scene selection button reads 3x3
![decimals_3x3_default](https://cloud.githubusercontent.com/assets/13650180/26503420/da1c4bcc-41fd-11e7-88e9-32eb9ee124b0.png)

[2017-05-30 13:33] amyh-phet opened #33 "Keep multiplication display consistent on Screen 2 and 3"
On Screen 2,  when Factors are displayed, they should be shown with an x for multiplication.
![17_s2_12x10_factor_all_lines](https://cloud.githubusercontent.com/assets/13650180/26585570/bb2291f4-4509-11e7-9b3e-56b8cdc5f69e.png)

On Screen 3, the button to select Factors in the Partial Products panel should show parenthesis instead of an x to indicate multiplication.
![factor_button_s3](https://clo

[2017-05-30 17:07] jonathanolson commented on #33
Should be done in master.

[2017-05-30 17:13] jonathanolson commented on #32
Implemented, but this will create new layout issues we'll need to handle that can't be fixed by rotating the text:

![3x3](https://cloud.githubusercontent.com/assets/480878/26595548/0307e95a-4529-11e7-84a8-9413a107d518.png)

@amyh-phet, thoughts?

[2017-05-30 17:15] amyh-phet commented on #32
@jonathanolson   I'll look into this later today and see what I can come up with.

[2017-05-30 17:23] jonathanolson commented on #31
This mockup (and the discussion from the last design meeting) has the coloring of partial products described by https://github.com/phetsims/area-model-common/issues/7 that was decided against before. I'd just like to double-check that partial products should be color-coded?

[2017-05-30 17:27] amyh-phet commented on #31
My apologies.  Copy and pasted in the mockup and didn't fix colors.  Let's try again. Factors displayed on model should not be color coded.  Color coding in calculation panel is okay.
![s2_1_entry_pp_f_all_lines](https://cloud.githubusercontent.com/assets/13650180/26596138/f1b7376c-452a-11e7-9bc0-f579a867344e.png)

[2017-05-30 19:26] amyh-phet commented on #33
@jonathanolson   This looks good.  Closing

[2017-05-30 19:26] #33 closed

[2017-05-30 19:27] amyh-phet commented on #12
Looks like this is also finished, so closing.

[2017-05-30 19:27] #12 closed

[2017-05-30 19:44] jonathanolson opened #34 "Use typed properties"
BooleanProperty, NumberProperty, etc.

[2017-05-30 19:58] jonathanolson commented on #31
Changes to this are done, the drop-down (https://github.com/phetsims/area-model-common/issues/30) shouldn't change how this works.

Does it look as expected?

[2017-05-30 20:12] amyh-phet commented on #31
@jonathanolson    Partial products displays are behaving as expected, but there seems to be an issue with the calculation panel opening below the model.   The panel doesn't open until a value for both height and width are entered.  This happens regardless of the setting in the Partial products panel.

One length entered - no calculation panel visible.
![calc_panel_issue_pp_a_alllines](https://clou

[2017-05-30 20:48] jonathanolson commented on #31
I'm having trouble reproducing that, can you give the exact instructions (and ensure area-model-common and area-model-multiplication are fully pulled?):
![prop-open](https://cloud.githubusercontent.com/assets/480878/26604263/fe81192e-4546-11e7-8d29-c89d64ad1af2.PNG)

[2017-05-30 20:50] amyh-phet commented on #31
I'll pull again and see what if I can duplicate the issue.

[2017-05-30 20:56] amyh-phet commented on #31
@jonathanolson   After pulling all repos again, I cannot reproduce the issue for either screen.

[2017-05-31 02:29] jonathanolson commented on #30
Initial version of this implemented in master.

Using the normal drop-down style for now, as it was much easier to implement quickly. The common code will need some changes long-term anyways, so it won't be a huge problem to change the appearance to the more button-like one if desired.

Should digit counts (on the 2nd screen) be limited slightly differently? For a 2x2, do you want 3-digit and 2-di

[2017-05-31 02:45] jonathanolson opened #35 "How to handle() a PushButton event?"
Ideally, I want a RectangularPushButton to call handle() on the Scenery event when the listener is fired, so that it won't trigger listeners underneath.

Is there a convenient way to access the Scenery event from the listener callback, or should I rely (in this case) on the fact that my "button operation" is idempotent?

[2017-05-31 02:46] jonathanolson commented on #23
Implemented, can you try it out?

[2017-05-31 02:48] jonathanolson opened #36 "Panel layout switching between 2nd and 3rd screen"
Currently if you switch between these two screens, it's possible to see that there's a slight "shift" because the "Product" and "total area" parts allow a bit more vertical room for exponents.

Is it fine if the 2nd screen also allows this much room, so there is no shift in panels when switching between the two screens?

[2017-05-31 03:30] kathy-phet commented on #30
I like the button option better myself, as it seems a bit easier to parse.  But would be ok with the list if you prefer that.

Sent from my iPhone

On May 26, 2017, at 10:11 AM, amyh-phet <notifications@github.com<mailto:notifications@github.com>> wrote:

@amanda-phet<https://github.com/amanda-phet> @kathy-phet<https://github.com/kathy-phet> @ariel-phet<https://github.com/ariel-phet> I know we dis

[2017-05-31 03:58] jonathanolson commented on #30
I personally prefer the button look.

[2017-05-31 04:01] amyh-phet commented on #36
I'm fine with adding more room to the panels in the 2nd screen to avoid panels shifting when switching between screens.

[2017-05-31 04:14] amyh-phet commented on #30
I also like the button look and I think it will work better with younger users.

**Limiting digits on 2nd screen:**
I think it makes sense to do this differently from screen 3.  Here's how I think it would work best to limit keypad entry:
1 edit box visible - 3 digits
2 edit boxes visible - 3 digits, 2 digits
3 edit boxes visible -  3 digits, 2 digits, 1 digit

This means a 2x2 would have 3 digit

[2017-05-31 04:16] amyh-phet commented on #23
Looks good.  Nice to be able to click box or edit button.

[2017-05-31 05:23] jonathanolson commented on #30
The way you described limiting digits is what I already implemented.

Is it weird if you open the keypad on 2x2, switch to 1x1 (which makes the keypad disappear), but then switch back to 2x2 and it re-opens? I'm fine keeping as-is, but that felt slightly weird to me.

Sounds good.

[2017-05-31 06:10] amyh-phet commented on #30
I agree the keypad appearing/disappearing does seem weird.  Might be a good thing to discuss in design meeting this week.

[2017-05-31 18:56] jbphet commented on #35
There isn't currently a convenient way to access the Scenery event from the listener callback.  I just looked through the code, and it doesn't seem like it would be trivial to make the event available due to the decoupling between the listener and the button model.

It seems to me like it's a very rare case where we *wouldn't* want a button to fully handle a Scenery event, so one possibility would

[2017-05-31 20:03] jonathanolson commented on #35
I believe the effect that closes combo boxes for clicks outside does this, where a listener is added way above. Calling `handle()` would be undesirable in that case (which is actually the case in this sim now that I think about it).

"Running the action more than once has the same effect as running it more than once. Only the first run would cause an actual change". So basically the second "button

[2017-06-05 16:29] jonathanolson commented on #30
Multiple other developers cautioned against the different style ComboBox.

I'd like to create a version of it as a separate component on a branch for testing, but I'd recommend that a broader design effort should be made to think about components like this, and when we'd want to use it.

[2017-06-06 17:01] jonathanolson opened #37 "Game questions"
Now that I've got some of the game mechanics testable, it would be valuable to see how it may differ from the exact design doc:

- There are some dynamic/autofill entries that seem to be fully specified (so will just be filled in 100% of the time). Exists on levels 3-6, 4-2, 4-5 and 4-6 (numbers).
- Some levels are transposes of others, so since this is done automatically I've only included them a

[2017-06-06 17:21] amyh-phet commented on #37
@jonathanolson  I can chat via Skype after 4 pm today.  Will that work for you?

[2017-06-06 18:41] jonathanolson commented on #37
Works great!

[2017-06-06 20:03] jonathanolson opened #38 "Readout-like border when editing a polynomial?"
It may be a good cue to put a border around the readout while editing a polynomial, like the readouts while editing a term.

Current appearance:
![screen shot 2017-06-06 at 2 02 22 pm](https://user-images.githubusercontent.com/480878/26849315-e8244d70-4ac0-11e7-9bf2-137b0db005ca.png)

[2017-06-06 20:47] jonathanolson opened #39 "Complicated logic with non-uniqueness"
A tighter assumption, like checking whether things are equal to (or in cases like 6-1, the transpose of) the generated problem values would definitely help with logic.

Otherwise, for cases like this (3-1):
![screen shot 2017-06-06 at 2 33 49 pm](https://user-images.githubusercontent.com/480878/26850675-96e5bd04-4ac5-11e7-8e40-0addba6a6d5c.png)
say it's filled out like:
![screen shot 2017-06-06 at

[2017-06-06 21:18] amyh-phet commented on #38
@jonathanolson   I agree that it would be good to have a border around the readout.  Let me know if you need a mockup to implement.

[2017-06-07 02:22] jonathanolson opened #40 "[Game] Should variables game keypad adjust available buttons?"
For instance, if it's entering a constant, the x^2 and x buttons should not be used for a correct answer. Should these be visible, or is it too much of a "hint" if they are not there?

[2017-06-07 02:28] jonathanolson opened #41 "[Game] Dynamic dimension line label visibility"
For doing things like Variables 6-1, we want to hide the dimension line label until ALL editable partition sizes on that side are filled in (it seems).

Does this generalize to the others, like numbers 4-1 where there are three editable partition sizes on one side? (What should the numbers 4-1 dimension line label show if 1 value is filled in and 2 are not?)

[2017-06-07 02:30] jonathanolson commented on #37
All actionable items here implemented (added horizontal/vertical dimension line labels as 'horizontalTotal' and 'verticalTotal' in the challenge specifications file).

Feel free to close if you don't need this issue (or leave open if you want notes about the first two bullet points above).

[2017-06-07 02:34] jonathanolson commented on #38
Implemented removal of readout.

[2017-06-07 02:34] #38 closed

[2017-06-07 03:47] jonathanolson commented on #39
Decided on handling with uniqueness assumptions, handling exceptions like variables 6-1 as they come up.

[2017-06-07 03:47] #39 closed

[2017-06-07 07:47] jonathanolson opened #42 "[Game] Show answers for variables 6-1"
If the user gets one of the values correct and one wrong, should we detect that and only change the "wrong" value? Otherwise occasionally something like (9, 4) would switch to (-4, 9) where it transposes the 9 that they have.

[2017-06-07 08:46] jonathanolson opened #43 "[Game] Level action prompts"
To be displayed in the game's status bar. Noting here so I can remove it on my internal TODO list.

[2017-06-07 08:48] jonathanolson opened #44 "[Game] End of level buttons"
I don't recall if this was decided in our meeting.

Should I implement some form of "Start level over" and "Go back to level selection" buttons instead of a single innocuous "next" button?

[2017-06-07 08:49] jonathanolson opened #45 "Create Term/TermList/Polynomial Property subtypes"
Should help for easily type-checking things.

[2017-06-07 08:50] jonathanolson opened #46 "Selection button sizes"
The area-calculation and partial-product selection buttons should be the same size, instead of:
![screen shot 2017-06-07 at 2 50 16 am](https://user-images.githubusercontent.com/480878/26870116-1fab7870-4b2c-11e7-97d7-e532ab000b87.png)

[2017-06-07 08:54] jonathanolson commented on #11
Best attempt made to prevent overlap of labels. Also adjusts positioning so it won't run over the dimension line labels on the left.

@amyh-phet can you experiment with this to see if there's anything else I can do?

[2017-06-07 08:55] jonathanolson commented on #18
Was not a problem.

[2017-06-07 08:55] #18 closed

[2017-06-07 18:02] jonathanolson commented on #30
Implemented the grid option. The list option is still available with the query parameter `?combobox`.

[2017-06-07 21:33] amyh-phet commented on #31
Issue is addressed.

[2017-06-07 21:33] #31 closed

[2017-06-07 21:34] #23 closed

[2017-06-08 01:00] #34 closed

[2017-06-08 03:31] #36 closed

[2017-06-08 03:33] jonathanolson commented on #24
With the row removed, I'm not able to cause this.

[2017-06-08 03:33] #24 closed

[2017-06-08 16:47] #45 closed

[2017-06-08 19:04] amyh-phet commented on #42
I think it makes sense to only flag the "wrong" value and change that.  I wouldn't want to transpose the 9 as you mentioned in your example.

[2017-06-08 19:51] jonathanolson opened #47 "Replace double-line option"
Single line, half tick, increase both font sizes, move lines closer to area where appropriate.

[2017-06-08 20:03] jonathanolson opened #48 "Reduce vertical padding in the keypad's readout"
So it doesn't look buttony.

[2017-06-08 20:11] jonathanolson opened #49 "Remove tears (interviews soon!)"

[2017-06-08 22:58] #49 closed

[2017-06-08 23:03] jonathanolson commented on #48
How is this appearance?

[2017-06-08 23:18] jonathanolson commented on #47
Also, should the placement of the partition size labels in the game change at all?

[2017-06-09 01:27] jonathanolson commented on #47
Game labels currently unchanged. How does this look? (Half tick is hard to see, may want to try full tick).

[2017-06-09 16:29] ariel-phet commented on #47
I personally think it looks great, and I think the half tick is enough. Very clean.

[2017-06-09 23:37] jonathanolson opened #50 "Check visibility in model"
Some things seem to be accidentally `@private`.

[2017-06-12 15:05] amyh-phet commented on #48
Looks good. Closing.

[2017-06-12 15:05] #48 closed

[2017-06-12 15:21] amyh-phet commented on #32
Completed. Closing.

[2017-06-12 15:21] #32 closed

[2017-06-12 15:23] amyh-phet commented on #30
I'll see how this goes in interviews on 6/14 and 6/15 and go from there.

[2017-06-12 15:24] amyh-phet commented on #29
Looks good. Closing.

[2017-06-12 15:24] #29 closed

[2017-06-12 20:25] amyh-phet commented on #47
@jonathanolson    I like the new font sizes, bold font, and half tick mark.  I'd like to see what it looks like with the following modifications:

- Make the dimension line thinner (back to the weight it was originally).

- Move the dimension lines and all numerical values closer to the model.  The blue height information seems especially far from the model.  Is there a way to move things in close

[2017-06-12 20:46] amyh-phet commented on #43
@jonathanolson    Here's what I have for Level action prompts:

Three possible things for users to complete.

Total area:
- Find the the total area.

Partial Product:
- Find the partial product.

Height or length:
- Find the side length.

If more than one answer is required on a challenge, then the prompt will include all relevant missing items.  For example, on the Numbers challenges:
2-1  Find t

[2017-06-12 21:24] amyh-phet opened #51 "Reset all button breaks 2x2 display on Generic and Variables screen"
When on the 2x2 model display, pressing the Reset All button changes the model to a 1x1 grid but does not update the readout on the model select drop down menu.

2x2 before pressing Reset All

![2x2_before_reset_all](https://user-images.githubusercontent.com/13650180/27055883-20739b1a-4f83-11e7-924f-bfaa349f0b75.png)
2x2 after pressing Reset All
![2x2_after_reset_all](https://user-images.githubuse

[2017-06-12 21:34] amyh-phet commented on #41
@jonathanolson

We will need to make some changes to the logic for displaying dimension lines.

- Numbers 3-1, 4-1, 4-4 and Variables 3-2.  For these questions, the dimension line labels should be visible.  The value should also be visible in the Product panel.

- Numbers 5-1 and 5-3 - Dimension line labels should NOT be visible.  The value should also be hidden in the Product panel.

[2017-06-12 21:38] amyh-phet opened #52 "[Game] Randomize user inputs on challenge prompts in game"
Is it possible to randomize which partial products or partitioned heights/lengths are presented on a challenge prompt?

For example, in Variables 4-1, the two editable values should be randomly chosen from the 4 partitioned lengths.   This change would effect many challenges across all levels of both Number and Variables.  If this is possible, I can provide a list of challenges that would need to

[2017-06-12 21:41] amyh-phet commented on #40
@jonathanolson    Decision made to keep all buttons active on keypad even if user doesn't need option for a correct answer.   Felt like removing x^2 and x was too much of a cue to correct answer.  Closing.

[2017-06-12 21:41] #40 closed

[2017-06-12 21:42] #37 closed

[2017-06-12 21:52] amyh-phet opened #53 "[Game] Exclude 1 from prompts that include multiplication by a single digit"
For Challenges that include a single digit number, exclude the number 1 on the single digit side (e.g. prevent a user from getting a challenge such as 51x1).

Challenges that would be impacted:
Numbers:  1-1, 1-2, 1-3, 1-4, 3-1, 3-2, 3-3, 3-4, 5-1, 5-3
Variables: 1-1, 1-2, 1-3, 1-4, 3-1, 3-2, 3-3, 3-4, 3-5, 3-6, 5-1, 5-2

[2017-06-12 21:56] amyh-phet opened #54 "[Game] Make dynamic partial products dark gray instead of black"
When a dynamic partial product becomes visible after user enters a value in the challenge, the partial product should be gray (R=128, G=130, B=133)

[2017-06-12 21:57] amyh-phet commented on #11
@jonathanolson    I think we've dealt with all parts of this issue.  Feel free to close or comment if more needs to be done.

[2017-06-12 22:03] amyh-phet opened #55 "[Game] Clear dynamic updates if user input is incorrect"
If user enters incorrect values on challenge which includes dynamical values, and then presses Check button dynamic values should clear when feedback about incorrect answer is given.

[2017-06-12 22:08] amyh-phet opened #56 "[Game] Make text of incorrect answers red"
For incorrect answers, the text in the editable text box should also be red (same color as the highlight on the editable text box currently implemented).

[2017-06-12 22:28] amyh-phet commented on #44
@jonathanolson    I'd like to implement an end of level similar to what we have in many of our games.  Balancing Chemical Equations is a good model.  After completing the 6 challenges a level summary screen appears.  The score is summarized and and a Continue button is used to go back to the level selection screen.

![end_of_game](https://user-images.githubusercontent.com/13650180/27057934-89574a2

[2017-06-13 00:03] amyh-phet commented on #44
Here's  a mockup of what I'm thinking for the end  of level screen.
![end_of_level](https://user-images.githubusercontent.com/13650180/27060318-2fe8f124-4f99-11e7-9d36-644254cc2274.png)

The prompt would change based on user score.

Score                    Prompt
0-5                        Keep trying
6-9                        Good!
10-11                    Great!
12                         Exce

[2017-06-13 00:31] #11 closed

[2017-06-13 05:18] jonathanolson commented on #52
Didn't see a response in Skype, but I'm curious about the type of randomization (which it will definitely be possible).

Is it the type of randomness where it's easy to just say "pick X of any Y", or does it need to be somewhat more structured and enumerated (like partial products can only be opposite, not on the same row/column)?

So for Variables 4-1, I really don't understand the proposal to ra

[2017-06-13 07:01] jonathanolson commented on #43
Ended up with the following prompts, let me know how it looks:

[code]

And yes, twoLengths and threeLengths are different string keys (Slovenian and https://en.wikipedia.org/wiki/Dual_(grammatical_number))

[2017-06-13 07:09] jonathanolson commented on #51
Should be fixed, sorry about that!

[2017-06-13 07:14] jonathanolson commented on #56
Implemented.

[2017-06-13 07:50] jonathanolson commented on #55
Implemented, 'error' highlighted values act like empty values as far as dynamic displays are concerned now.

[2017-06-13 08:02] jonathanolson commented on #54
Implemented.

[2017-06-13 08:13] jonathanolson commented on #53
Implemented (assuming -1 is ok for variables challenges), let me know if that looks ok.

[2017-06-13 08:27] jonathanolson commented on #47
I've made the line width change.

I hadn't moved the lines closer for two main reasons (each has a way I can compensate):

1. There's not much room in the generic view. **Is it acceptable to have the dimension line and erase button locations be different on generic/game screens?**
![generic-1](https://user-images.githubusercontent.com/480878/27072795-dbf3bd9c-4fde-11e7-86f0-19af2d62c6a5.PNG)

2. I

[2017-06-13 08:48] jonathanolson commented on #42
Implemented.

[2017-06-13 09:13] jonathanolson commented on #41
I believe this is implemented. Can you verify the behavior for Numbers level 5? (Dimension line labels never shown for those challenges).

[2017-06-13 09:15] jonathanolson commented on #44
Should definitely be easy to do the "rains" effect. Will plan to handle tomorrow.

[2017-06-13 12:32] amyh-phet commented on #52
On Variables 4-1, the challenge currently has the user enter x for both partitioned lengths.  We'd like to have the user entering more than x for this challenge.  I recognize the challenge seems really easy as the dimension line lengths are given already, but mixing up which value to enter was a behavior we were looking for in this prompt.  I'm assuming it only gets more complicated if we tie whic

[2017-06-13 13:01] amyh-phet commented on #43
Prompts look great.

[2017-06-13 14:35] #43 closed

[2017-06-13 15:10] amyh-phet commented on #52
**Easier challenges to randomize (I hope):**

- Numbers 1-2, 1-4,1-6 and Variables 1-1, 1-3: Pick any 1 product to be EDITABLE.

- Numbers 2-1, 2-3, 2,5 and Variables 2-1: Pick any 2 products to be EDITABLE.

- Numbers 2-2, 2-4 and Variables 2-2: Pick any 1 product to be EDITABLE (in addition to total area).

- Numbers 3-2 and Variables 3-1: Pick 1 of 2 horizontal lengths to be EDITABLE

- Numbers

[2017-06-13 16:29] jonathanolson commented on #52
What times do you have available to discuss over Skype?

[2017-06-13 16:35] amyh-phet commented on #52
In addition to the list above to randomize editable areas in problems, it would be nice to implement changes to the following challenges.  This will also address some of the issues we had with oddly chose dynamic products.

**Numbers:**
Change the following challenges:
- 4-2
horizontal [GIVEN, EDITABLE, EDITABLE]
vertical [EDITABLE, GIVEN]
products [GIVEN, DYNAMIC, GIVEN]
               [GIVEN, GI

[2017-06-13 16:36] amyh-phet commented on #52
Currently sitting in on an accessibility meeting.  Let me ping Ariel and see if it's okay to talk with you instead.  Otherwise I'm available after 12 pm.

[2017-06-13 16:39] amyh-phet commented on #52
Ready to discuss when you are.  Feel free to call over skype when ready.

[2017-06-13 17:06] amyh-phet commented on #56
Thanks.

[2017-06-13 17:06] #56 closed

[2017-06-13 20:10] amyh-phet commented on #41
@jonathanolson    My apologies as I was unclear in my earlier post.  The labels along the dimension lines and in the Product panel should be visible once a user enters a value using the keypad.

The values should disappear if the user has entered an incorrect value and presses the Check button.

[2017-06-13 20:30] amyh-phet commented on #42
@jonathanolson   This looks close to what I was imagining.  I still get a correct number flagged as incorrect when I don't think it should be flagged.

Here's the initial challenge:
![6-1-initial](https://user-images.githubusercontent.com/13650180/27102998-76dc2da2-5044-11e7-81a4-6c8fca59780d.png)

After the first incorrect attempt, both answers are flagged as incorrect even though one answer is c

[2017-06-13 20:33] amyh-phet commented on #47
@jonathanolson   Let's hold for now and see if there is confusion in interviews.  We can always rehash this in design meeting on Thursday, but KP is the one who requested this change, so we will need to discuss further before deciding not to implement.

[2017-06-13 20:33] amyh-phet commented on #51
Fixed. Closing.

[2017-06-13 20:33] #51 closed

[2017-06-13 20:34] amyh-phet commented on #53
Looks good.  Yes a -1 is fine on the variables challenges. Closing.

[2017-06-13 20:34] #53 closed

[2017-06-13 20:35] amyh-phet commented on #54
Completed. Closing.

[2017-06-13 20:35] #54 closed

[2017-06-13 20:47] amyh-phet commented on #55
@jonathanolson   Again, my apologies as I wasn't specific enough with an earlier request.  Current implementation looks good for behavior after first and second incorrect attempts.  When user clicks on Show Answer button, correct answer should appear on dimension lines and in Product panel.

Initial problem:
![6-1_n_initial](https://user-images.githubusercontent.com/13650180/27103736-ee87a276-5046

[2017-06-13 21:38] amyh-phet opened #57 "[Game] Variables 1-1 and 1-3 make product editable text box handle 2 digits with or without negatives"
On some Variables challenges, the edit boxes for entering partial products are constrained to entering only one digit (with or without negative sign).   This makes it impossible to enter a correct answer for the partial products.
Problems effected:
Variables 1-1 - right edit box
![1-1_edit_box_too_small](https://user-images.githubusercontent.com/13650180/27105847-4a80247a-504e-11e7-8761-7750851c3e

[2017-06-13 23:35] amyh-phet commented on #52
Looks like this is working properly now.

[2017-06-13 23:35] #52 closed

[2017-06-14 00:23] jonathanolson commented on #57
It looks like the number of allowed digits was always 1 (incorrectly). It should be 2, and I've fixed it in code. Can you verify?

[2017-06-14 00:49] jonathanolson commented on #55
Implemented, can you check?

[2017-06-14 01:01] jonathanolson commented on #42
I believe the decision (I didn't write it down) from https://github.com/phetsims/area-model-common/issues/39 was to show both as incorrect in that situation. Showing one correct feels fairly arbitrary.

Should it instead randomly choose which one is shown as correct, and which as incorrect? (If the user then sets the one marked as "correct" to the other value, we'd have the same problem with havin

[2017-06-14 01:27] jonathanolson commented on #41
I'd like some further clarifications:

Is this describing the changes only for 5-1 and 5-3, or also the other challenges mentioned above?

Currently "dynamic" means "show a computed value only if all of the inputs are filled in and not marked incorrect". This is visible on numbers 6-1.

Then my previous understanding of 5-1 and 5-3 from the above comments was that "hidden" was the desired setting

[2017-06-14 01:29] jonathanolson commented on #41
A note: dynamic dimension line values are not currently properly filling in with "show solutions", checking.

[2017-06-14 01:33] jonathanolson commented on #41
Implemented changes described. Can you try 5-1 and 5-3 (numbers) to make sure they behave as expected?

[2017-06-14 03:50] jonathanolson commented on #44
Implemented. There's a common type for that "level completed" view that I'm using, but it is customizable some if you want changes. Let me know how it looks (and the transitions to the "end" and transitions to level selection and when the level is re-opened).

[2017-06-14 04:12] #50 closed

[2017-06-14 04:12] amyh-phet commented on #42
I like your proposed solution of removing the "incorrect" highlight on both when one is edited in the situation described.

[2017-06-14 04:19] amyh-phet commented on #55
Behavior is consistent with what I expected.  Closing.

[2017-06-14 04:19] #55 closed

[2017-06-14 04:20] amyh-phet commented on #41
Appears to be behaving as expected for 5-1 and 5-3.   Closing for now.

[2017-06-14 04:20] #41 closed

[2017-06-14 04:22] amyh-phet commented on #57
Verified as fixed.  Closing.

[2017-06-14 04:22] #57 closed

[2017-06-14 04:27] amyh-phet commented on #44
Looks great to me.  I'll leave open to get comments from design team, but happy with current implementation for interviews.

[2017-06-14 05:34] jonathanolson commented on #42
Implemented desired highlight, let me know how it looks.

[2017-06-14 07:07] jonathanolson opened #58 "horizontal/vertical OrientationPair shortcuts"
These should be used where orientation can't be factored out.

[2017-06-14 14:58] amyh-phet commented on #42
I like the highlight as it is now functioning.  One last issue.  When I show answer, the dimension line labels and Product panels are not showing the correct answer.
![screen shot 2017-06-14 at 8 56 29 am](https://user-images.githubusercontent.com/13650180/27139205-9a3a4a68-50df-11e7-974e-ef16f0504ad1.png)

[2017-06-14 17:03] jonathanolson commented on #42
Implemented the proper showing of answers (will also switch top/bottom to match the shown partition sizes)

[2017-06-14 17:49] jonathanolson opened #59 "No error highlighting for editable polynomial total area"
Feels weird, I'd prefer if it had something with the equivalent colors for other edit boxes.

Thoughts?

[2017-06-14 18:54] amyh-phet commented on #42
Looks good.  I'll review with the team and then close the issue if all looks well.

[2017-06-14 18:59] amyh-phet commented on #59
After the first interview today, I definitely think we need some color cues here so
1) User know they have to use the spinners to edit (a student didn't realize she needed to interact with the spinners until she got the challenge wrong)

2) User didn't know why the answer was wrong as she had also entered a partial product and the partial product was correct.

What if the spinners started out as l

[2017-06-14 19:03] jonathanolson commented on #59
Sounds good. Can we use the same light blue for the other edit boxes as well, for the same state?

[2017-06-14 21:42] amanda-phet commented on #44
I completed level 1-1 to get the reward screen, and I'm not sure if it's my connection, but I heard the woohoo+clapping before I ever clicked "next" and saw the panel with the "continue" button. It seems like the panel should automatically pop up with the sounds.

Otherwise, I like the way it looks!

[2017-06-14 22:12] jonathanolson commented on #44
Assigned to myself, I don't believe I moved the sound over to when the "level complete" is shown.

[2017-06-15 19:26] amyh-phet commented on #59
Yes, let's try that.

[2017-06-16 01:41] jonathanolson commented on #59
Implemented. For now, the highlight affects all of the number pickers.

It feels a bit weird that editing one brings all of the highlights away from the error/input-needed state. However if one value SHOULD be zero, we wouldn't want to require it be changed.

Thoughts?

[2017-06-16 01:52] jonathanolson commented on #44
Fixed the sound timing.

[2017-06-16 14:45] amyh-phet commented on #59
I'll play with it a bit today and see how it feels.   I'll discuss with @amanda-phet on Monday to see if we need to change implementation.

[2017-06-16 16:00] jonathanolson opened #60 "Not enough room for a term"
Triggered this in challenge 2-1:
![area-model-bug-1](https://user-images.githubusercontent.com/480878/27234515-9acd2314-527a-11e7-9d52-55b80f090555.PNG)

[2017-06-19 18:47] amyh-phet opened #61 "Make partition drag handles triangles instead of circles"
@jonathanolson  The one student I interviewed still didn't use the drag handle on the Explore screen even with the arrows.  Can we make the orange and blue circles into triangles instead?  I think we should still leave the arrows to cue movement.
![triangle_partition_handles](https://user-images.githubusercontent.com/13650180/27299543-e752e694-54e9-11e7-8037-1541f70a2c07.png)

[2017-06-19 19:07] amyh-phet commented on #59
@jonathanolson    I like the blue highlighting to help users know to use the spinners.  The red error cues are good too, but I think that we need to find a way to only highlight the incorrect entry.   Here's what I'd propose:

1) Spinners start out blue as in current implementation.
2) Spinners change to black when user has entered a value. The spinner remains blue if the coefficient/constant shou

[2017-06-19 19:38] amyh-phet commented on #42
@jonathanolson   I feel like something isn't working properly on these challenges again.  Tried reviewing with @amanda-phet and here's what happened.

Challenge appears:
![6_1_start](https://user-images.githubusercontent.com/13650180/27302379-1c19fa2a-54f4-11e7-8886-05db9df31aa6.png)

Entered first answer using one of the correct factors for both answers:
![6_1_entered_8_8](https://user-images.git

[2017-06-19 19:48] amyh-phet opened #62 "Implement readout display for spinners on Variables Game screens"
@jonathanolson    After conducting interviews, it's clear that students are struggling to interpret the expression for total area with the spinners.   I do think we will need to implement a readout box above the spinners in the Total area panel.  Two of the students were able to correctly complete the total area challenges if I wrote out the expression after they used the spinners.  They both were

[2017-06-19 19:53] amyh-phet commented on #47
@jonathanolson   I do think we need to move the blue numbers for partitioned height closer to the model.  The red numbers above seem to not cause confusion, but students weren't recognizing the blue numbers refer to partitioned lengths on the model.  In reference to your points above:

1)  I don't see a problem with the dimension line and erase buttons being in different locations on the Explore a

[2017-06-19 20:06] amyh-phet commented on #44
Looks and behaves as expected.  Closing

[2017-06-19 20:06] #44 closed

[2017-06-19 20:07] amyh-phet commented on #30
No issues observed in interviews.  Closing.

[2017-06-19 20:07] #30 closed

[2017-06-19 20:35] amyh-phet opened #63 "Make editable partial products entry boxes handle larger than needed numbers on Game screen"
@jonathanolson    Currently, user entries in edit boxes are limited on the Game screen, but I'm not sure how the limit is defined.  Is it possible to make the edit boxes accept an entry that is larger than the correct answer.  For example, if the correct answer is 450, could the edit box accept a 4 digit answer.  I'm thinking that extending the box by one digit would allow students to enter answer

[2017-06-19 21:45] jonathanolson commented on #61
Implemented, let me know how it looks.

[2017-06-19 22:01] jonathanolson commented on #59
Should be possible, I'll get it done.

[2017-06-20 14:42] #61 closed

[2017-06-20 14:45] amyh-phet opened #64 "Change label on Product panel from "Product" to "Dimensions""
Several students expressed confusion over the label Product in interviews, thinking that the answer to the multiplication would be the product.

Can we relabel the panel "Dimensions"?

[2017-06-20 16:51] jonathanolson commented on #64
Implemented.

[2017-06-20 16:58] jonathanolson commented on #63
Implemented (for numbers and variables challenges).

[2017-06-20 17:31] jonathanolson commented on #42
Sorry, had a bug that prevented this from happening. Should work now.

[2017-06-20 19:13] amyh-phet commented on #64
Thanks.

[2017-06-20 19:13] #64 closed

[2017-06-20 19:14] amyh-phet commented on #63
Looks good. Closing.

[2017-06-20 19:14] #63 closed

[2017-06-20 19:19] amyh-phet commented on #42
Much better!  Still wondering if we should be flagging both answers as incorrect if a user accidentally enters one correct factor in both edit boxes.  I've asked @phet-steele to take a look and give some feedback.

[2017-06-20 21:03] amanda-phet opened #65 "Distinguish negative and minus signs"
Minus signs (indicating subtraction) should use the unicode "–" symbol and negative signs should just be "-" symbols.

All of the circled signs in the screenshot below should be minus signs.
![screen shot 2017-06-20 at 2 54 21 pm](https://user-images.githubusercontent.com/7852916/27355503-7c8b4aba-55c8-11e7-9bf9-e734cf81282a.png)

This is a common convention that makes the symbols easier to parse.

[2017-06-20 21:05] amyh-phet commented on #65
@jonathanolson   Hopefully this change isn't too difficult to implement.

[2017-06-20 22:32] jonathanolson opened #66 "Close keypad when check is pressed"
Noticed by @phet-steele!

[2017-06-20 22:44] jonathanolson commented on #62
Implemented.

It currently starts off as "0" due to the current implementation with the pickers. Should it start off as a "?" instead?

[2017-06-21 00:00] amyh-phet commented on #62
Looks good.  I like zero as I think it better reflects what the spinner readouts say. I also want to avoid confusion with ? on the previous screens where the ? means the area is not yet defined.

[2017-06-21 02:47] jonathanolson commented on #65
Implemented, however instead of "–" (Unicode EN DASH \u2013) did you mean "−" (Unicode MINUS SIGN \u2212)? Notably, the minus and plus signs are about the same level (seems visually high), but the en dash is vertically lower.

Other common code seems to use the minus sign instead of the en dash.

Comparisons:

Minus sign:
![area-minus](https://user-images.githubusercontent.com/480878/27364734-87a7

[2017-06-21 15:19] amanda-phet commented on #65
The unicode minus sign looks like the correct one.

[2017-06-21 16:01] jonathanolson commented on #65
I believe this is completed, let me know if it looks good?

[2017-06-21 16:37] amanda-phet commented on #65
Looks great. Thanks!

[2017-06-21 16:37] #65 closed

[2017-06-22 03:55] jonathanolson commented on #59
This should be implemented, sorry about the delay. It kind of ended up breaking a few core assumptions in the game (fixed now).

I interpreted this as "if the correct value is 0, the spinner will be blue whenever it is not 0".

Let me know if this all looks good (or if you notice any bugs elsewhere in the game).

[2017-06-22 04:16] jonathanolson commented on #47
Should be done, let me know how it looks.

[2017-06-22 05:15] #60 closed

[2017-06-22 16:29] amyh-phet commented on #59
@jonathanolson    Looks good to have the spinners highlight independently.  When testing this, I couldn't get the Check button to activate.

[2017-06-22 18:21] jonathanolson commented on #59
Looks like I didn't fully test polynomials where there are only two spinners, I'll get this fixed.

[2017-06-22 20:03] amyh-phet commented on #59
@jonathanolson    I also realize I didn't elaborate enough when describing the change of colors when spinners are used.  Here's a second try to explain the desired behavior.

1) Spinners function independently of one another.
2) Spinners all start with blue highlight and 0 in the display.
3) Any user interaction with the spinner results in the blue highlight changing to black.
4) If user does not

[2017-06-22 20:08] phet-steele opened #67 "Show Answer should fill in the ? terms"
<img width="1881" alt="screen shot 2017-06-22 at 2 06 32 pm" src="https://user-images.githubusercontent.com/5863899/27453573-29ad5f44-5754-11e7-92db-dca6fe8b347b.png">

[2017-06-26 18:02] amanda-phet commented on #47
This is looking good to me. I like the distance much better!

I noticed that the partial product labels shift out of the way if they are going to interfere with another label, as seen here:
<img width="429" alt="screen shot 2017-06-22 at 10 31 37 am" src="https://user-images.githubusercontent.com/7852916/27553229-5d0363c8-5a67-11e7-8afe-e56c1ec97e28.png">

Can you do the same thing on the decimals

[2017-06-26 19:21] amyh-phet commented on #47
@amanda-phet    I agree that the factors should shift on the partial products you showed for the Decimals screen in the second screenshot above.  I do think we will have to live with some overlap on Decimals, especially when the user might build something on the 2x2 or 3x3 scene that is better visualized on the 1x1 scene.  I'll make a note of this for the Teacher Tips.

[2017-06-27 15:29] amyh-phet commented on #62
@amanda-phet    Can I get your thoughts on how the readout works for the Variables game?  This applies to challenges 1-2, 1-4, 2-2 on the Variables game.

[2017-06-27 18:37] amanda-phet commented on #62
I really like how it is working!

[2017-06-28 18:30] amyh-phet commented on #62
Implemented and looks good.  Closing.

[2017-06-28 18:30] #62 closed

[2017-06-28 18:43] amyh-phet commented on #42
@jonathanolson   After discussing with @phet-steele, we both think it seems strange for both answers to be highlighted as incorrect if a user accidentally enters one correct factor in both edit boxes as in this example.
![6-1v](https://user-images.githubusercontent.com/13650180/27654318-1be00812-5bff-11e7-8569-0d7799b80116.png)

It seems strange that editing one box then automatically makes both a

[2017-06-28 19:31] amyh-phet opened #68 "Cuing arrows on partition drag handles should be visible until partition is moved"
With current implementation, cuing arrows disappear once a user has clicked on a drag handle.  Several users clicked on drag handle, dismissed cuing arrows, but never moved drag handles in interviews.    The cuing arrows should persist until the user drags the handle and moves a partition line.

[2017-06-28 20:39] amyh-phet opened #69 "Always display factors as height x width"
Current implementation shows factors for areas that are perfect squares as exponents (e.g. 10^2).  This was confusing to younger students in interviews. Change factors to show height x width (e.g. 10 x 10) instead.

This change applies to all screens with numbers (Explore, Generic, Decimals)
![2017-06-28_1414](https://user-images.githubusercontent.com/13650180/27658131-34ab501a-5c0c-11e7-978b-1eab

[2017-06-28 21:31] amyh-phet opened #70 "Change default settings on Explore Screen"
Because most users did not use the partition lines on the Explore screen during interviews, we need to better cue why users would want to use these tools.  Changing the default for the Explore screen will hopefully address these issues.

For both scenes:
- Total area panel is open
- Products button (A) is selected in the Partial products panel
- Cuing arrows for partition line drag handles are vis

[2017-06-28 21:41] amyh-phet opened #71 "Display multiplication with a multiplication sign (x) on Explore and Decimals screen"
Younger users had trouble interpreting the calculation panel during interviews as they were not familiar with the use of parentheses to indicated multiply.

The calculation panels for both the Explore and Decimals screens should use a multiplication sign (x) instead of parenthesis to indicate when terms are being multiplied.

Mockups show all lines of the calculation for reference.
![explore_calcu

[2017-06-28 21:47] amyh-phet opened #72 "Display multiplication with a dot in the calculation for the Generic screen"
To help younger students access the calculation information on the generic screen, we need to use something other than parentheses to show multiplication.  Use of a dot to signify multiplication on this screen transitions away from using an x to indicate multiplication while still using a symbol that younger users will recognize as indicating multiplication.

![generic_calculation](https://user-im

[2017-06-29 16:56] amanda-phet commented on #71
Just to clarify, we should be using the unicode symbol for multiplication:

<img width="122" alt="screen shot 2017-06-29 at 10 55 54 am" src="https://user-images.githubusercontent.com/7852916/27700030-90d37ac2-5cb9-11e7-961e-17a68bd203f9.png">

[2017-06-29 19:13] amyh-phet opened #73 "Change default settings on Decimals screen"
Because users did not explore with partitions, let's try a new default setting to make the partitions more visible.
1x1 scene
![1x1_default_001](https://user-images.githubusercontent.com/13650180/27705896-ba0e057a-5ccc-11e7-98e8-fe9b7c982fdd.png)

2x2 scene
![2x2_default_001](https://user-images.githubusercontent.com/13650180/27705904-c1385c10-5ccc-11e7-99e6-6d411e4d443a.png)

3x3 scene
![3x3_defa

[2017-07-01 05:32] jonathanolson commented on #68
Implemented, let me know how it looks.

[2017-07-01 05:33] jonathanolson commented on #73
Implemented, let me know how it looks.

[2017-07-01 05:34] jonathanolson commented on #70
Implemented, let me know how it looks.

[2017-07-01 05:41] jonathanolson commented on #69
Implemented, let me know how it looks.

[2017-07-01 06:05] jonathanolson commented on #72
Initial implementation, some notes:

I'm using the unicode dot operator (preferred for multiplication), see http://www.fileformat.info/info/unicode/char/22c5/index.htm.

It looks nice with positive values:
![area-dot-positive](https://user-images.githubusercontent.com/480878/27759540-415043da-5df0-11e7-996f-8a40478253fe.PNG)

but would potentially need tweaks for negative values (hard for me to se

[2017-07-01 06:14] jonathanolson commented on #71
Implemented, let me know how it looks.

[2017-07-01 06:17] jonathanolson commented on #67
Applied fix, can you verify?

[2017-07-01 06:32] jonathanolson commented on #59
Implemented, let me know how it looks.

[2017-07-01 06:39] jonathanolson opened #74 "Wrong answers on variables 6-1 block "check" button"
Inconsistent with the other challenges, I'll plan to have it not affect the check button.

[2017-07-01 06:44] jonathanolson commented on #42
Implemented (and the "arbitrary" side can be either vertical or horizontal, but stays the same for the challenge).

The only weird bit is if (for example):

- The user selects 4,4 as their values (say 4,6 are the answers). We highlight the second 4 as wrong.
- The user changes the first 4 (that wasn't highlighted as wrong).

In this case, the logic removes the "error" highlight on the second 4 imm

[2017-07-01 06:54] #74 closed

[2017-07-01 07:01] jonathanolson commented on #47
They are on my devices that I've tested on:
![area-overlap](https://user-images.githubusercontent.com/480878/27759901-5f66c0b2-5df8-11e7-8b5c-c7825db3f3fb.PNG)

Can you recheck (just in case), and let me know more information about your computer/browser?

If it helps for comparison, the numbers indicate that on the decimals 1x1, the partial product labels on the left would be bumped up (to avoid t

[2017-07-03 19:38] jonathanolson opened #75 "Review of DynamicProperty"
See https://github.com/phetsims/axon/issues/128

[2017-07-07 17:47] phet-steele commented on #67
Verified, gracias.

[2017-07-07 17:47] #67 closed

[2017-09-18 19:13] pixelzoom opened #76 "filename prefixes don't follow PhET conventions"
The convention for filename prefixes is to use either the full name of the repository, or the abbreviated acronym for the repository. E.g for expression-exchange, we would have either ExpressionExchangeConstants.js or EEConstants.js. The choice is up to the developer, should be applied consistently, and should not duplicate an abbreviation that is already used by another repository.

area-model-co

[2017-09-18 19:41] jonathanolson commented on #76
It seems to be a semi-convention for some common repos (see CircuitConstructionKitPanel and other examples in CCK).

"AreaModel" to me seems nicer than "AreaModelCommon" or "AMC". Perhaps we can discuss this at a developer meeting for what prefixes are allowed?

[2017-09-18 19:41] jonathanolson commented on #76
As a side-note, I'd rather call "area-model-common" as "area-model" for a repository, if that would help things.

[2017-09-18 20:12] pixelzoom commented on #76
Btw... This came up as the result of a Slack discussion (developer channel) that resulted in this addition to the code-review checklist: https://github.com/phetsims/phet-info/commit/1774711ac188089c7d414e6e295db149a1254ca0

[2017-09-20 17:21] pixelzoom commented on #76
@jonathanolson said:

Do you have a proposal?

[2017-09-28 16:46] jonathanolson commented on #76
I'm not sure about the best way to generalize it, but the "AreaModel" and "CircuitConstructionKit" prefixes seem nice to me (for those common repos). I'd like to hear others' thoughts.

[2017-09-28 18:10] samreid commented on #76
Meeting consensus: common repos will end with "common", names will match repo names and it is developers to us to decide whether to use full name or standard abbreviations.

[2017-10-26 10:50] #17 closed

[2018-01-13 06:06] jonathanolson opened #77 "Should the erase button be disabled sometimes?"
The basics/counting design doc noted:

for its initial conditions.

Currently, the erase button isn't disabled on any screen, but it definitely could be:

- For proportional (Explore, Decimals, Counting) screens, it could be disabled whenever the active area is at the default (and if it has partitions, if those are also at the default).
- For generic (Generic, Variables) screens, it could be disab

[2018-01-27 04:00] jonathanolson opened #78 "Remove deprecated dock code"

[2018-01-29 20:29] amanda-phet commented on #77
I have some thoughts...

I find it strange that the erase button returns the board to the starting state. I would expect "erase" to clear any settings in the board.

So, instead of starting with the button disabled, perhaps it should start enabled, and when pressed, it resets the model to a 1x1 square (for Explore, Decimals, Multiplication, and Partition screens- all screens with proportional mode

[2018-01-29 20:30] amanda-phet commented on #73
This looks good so I think we can close this issue.

[2018-01-29 20:30] #73 closed

[2018-01-29 20:32] amanda-phet commented on #70
Looks good. Closing.

[2018-01-29 20:32] #70 closed

[2018-01-29 20:35] amanda-phet commented on #69
I think this is fine.

[2018-01-29 20:35] #69 closed

[2018-01-29 20:36] amanda-phet commented on #71
This is looking good to me.

[2018-01-29 20:36] #71 closed

[2018-01-29 20:45] amanda-phet commented on #72
Is space a constraint? I'm wondering why we can't use the same symbol in https://github.com/phetsims/area-model-common/issues/71. I am guessing it is space.

I agree the dot isn't working that great here. I'm also concerned about using an x, •, and () all within one sim (Algebra). I wonder if we should instead use an x in the Introduction sim, • in the Multiplication sim, and () in the Algebra sim

[2018-01-29 20:50] amanda-phet commented on #47
I just checked this on https://www.colorado.edu/physics/phet/dev/html/area-model-multiplication/1.0.0-dev.17/area-model-multiplication_en.html (I couldn't find the Area Model Decimals sim). It appears to be functioning as expected.

![screen shot 2018-01-29 at 1 49 55 pm](https://user-images.githubusercontent.com/7852916/35533605-4d837fde-04fb-11e8-829e-791972e84b6d.png)

[2018-01-29 20:50] #47 closed

[2018-01-29 20:52] amanda-phet commented on #68
This is working well.

[2018-01-29 20:52] #68 closed

[2018-01-29 21:53] amanda-phet commented on #59
This is functioning as intended.

[2018-01-29 21:53] #59 closed

[2018-01-29 22:23] amanda-phet commented on #42
I like how this is working. I am glad only one answer is highlighted as wrong in the example of entering 4,4 when the correct answer is 4,6, and the logic to remove the error highlight is working well for me.

[2018-01-29 22:23] #42 closed

[2018-02-01 19:36] amanda-phet opened #79 "Change to "Total area of model" readout"
In the Multiplication, Algebra, and Decimals flavors of this sim, we would like to have a similar readout that we have implemented in Introduction.

This is a two-part request.

1. Increase the font size slightly for the "Product" readout (The "Area = XX" text) in Introduction. Can you increase it 10-20%? I think you can decide what looks large enough to make a difference but also small enough to

[2018-02-01 19:51] jonathanolson commented on #79
On the Variables screen, I can make the total area "-81x^4 - 162x^3 - 243x^2 - 162x". It is actually currently buggy, but that may get scaled down fairly significantly. Is that a problem?

[2018-02-01 20:08] jonathanolson commented on #79
Additionally, the rounded-rectangle background for the area value was created with the "maximum" size so that it wouldn't resize. Would we consider changing that so that it can update nicely? (Seems almost required for the Variables screen, and it would be nice to have it consistent).

I'd like to adjust the code so that it resizes with its content so we can see how it looks (and we can change it

[2018-02-01 20:18] amanda-phet commented on #79
I forgot about the Variables screen. On that screen, it seem more appropriate to drop the "Area =" part and just show "-81x^4 - 162x^3 - 243x^2 - 162x" in the gray rounded rectangle. And yes this is quite buggy right now... you can get up to 5 terms and it's only showing 4 right now.
![screen shot 2018-02-01 at 1 18 25 pm](https://user-images.githubusercontent.com/7852916/35701158-64af25f6-0752-11

[2018-02-01 20:32] amanda-phet commented on #79
@kathy-phet and I need to discuss each screen of all 4 sims. Hopefully we can discuss this Monday 2/5.

[2018-02-01 20:47] jonathanolson opened #80 "Adjust touch areas"

[2018-02-06 21:43] amanda-phet commented on #77
I discussed this with @kathy-phet and since the sim has changed quite a bit since the button's initial design, we'd like to move forward with my suggestion above:

The button is never disabled.

When pressed, the current model returns to a 1x1 square (Explore, Decimals, Multiply, Partition screens) or clears the model (Generic, Variables screens).

Can you please implement this before Friday so we

[2018-02-06 21:48] amanda-phet commented on #79
Discussed this with @kathy-phet and we would like this change to only apple to screens with scaled models (Multiply, Partition, Explore, Decimals). @jonathanolson and I discussed this last Thursday as well so I am confirming that that makes the most sense.

@jonathanolson let me know if we should discuss this some more. Can you also implement this before Friday so we can get this change in the nex

[2018-02-06 21:57] amanda-phet commented on #72
@kathy-phet and I discussed this and would like to first try the following: Can we still use the unicode symbol, but try making it bold, or a larger font? We'd like to try going that route before drawing a circle.

If that doesn't work, then I will specify which symbols to use in which screens without using a dot at all.

[2018-02-06 22:07] amanda-phet opened #81 "switch order of area model cal and partial products panels"
When discussing tab navigation order for these sims I realized that the flow is really natural in the Introduction sim where the user turns on partial products before viewing the calculation panel. I think we should have the same flow in the other sims.

So, for Multiplication, Algebra, and Decimals sims, the panels on the right should switch.

@ariel-phet also mentioned the idea of combining them

[2018-02-06 22:10] amanda-phet commented on #80
Is this a duplicate of #16? (Hard to tell as neither has a description).

What we discussed was adjusting the smaller areas to be larger for touch, such as the accordion open/close button.

In the Introduction sim we'd like the title bar to be clickable to close, even without at title.

The touch areas (and perhaps mouse areas?) around the corner drag handle, as well as the partition drag handles,

[2018-02-08 17:17] pixelzoom opened #82 "branch: calculation-resize"
@jonathanolson please describe.

[2018-02-08 22:27] jonathanolson commented on #82
Looks like it was merged, closing.

[2018-02-08 22:27] #82 closed

[2018-02-08 22:55] jonathanolson commented on #72
How does bold look:

![area-model-bold-dot](https://user-images.githubusercontent.com/480878/36002756-89b55834-0ce8-11e8-8c92-b8cb0541e736.PNG)

[2018-02-08 23:03] kathy-phet commented on #72
Seems better. Is it possible to put a small bit of white space around the dot, it is looking pretty compact and might be better to set it apart? Like a 1/4 of a space in front and back of the dot?

[2018-02-08 23:25] jonathanolson commented on #72
Is this sufficient:

![area-model-bold-dot-2](https://user-images.githubusercontent.com/480878/36003764-a0e4d2ba-0cec-11e8-9c6d-113a7ec4be50.PNG)

[2018-02-08 23:25] jonathanolson commented on #72
(that is 2 units of space more around every side of a dot).

[2018-02-09 00:02] kathy-phet commented on #72
JO, I think that looks better, but to me it looks like more space got put in front of the dot than after the dot? Is that just my imagination?

[2018-02-09 00:39] jonathanolson commented on #72
It's weird, I noticed that in some cases, and checked the code. I'll triple-check, but I think it is actually increasing the spacing in both equally, but pixel snapping (that SVG might be doing with text) might be slightly altering the end effect. The right-most dot and a few others seem more balanced. I agree that some (-99 . -999) definitely looks unbalanced, and I'll look into it.

[2018-02-09 01:44] jonathanolson commented on #81
Implemented in master, can you check how it looks?

[2018-02-09 01:52] jonathanolson commented on #77
Implemented, can you verify?

[2018-02-09 07:52] jonathanolson commented on #79
Implemented, let me know how it looks.

[2018-02-09 16:00] kathy-phet commented on #72
I checked it out on phettest and it looked good to me.

[2018-02-09 17:03] amanda-phet commented on #77
This is working on all sims, but there are a few funny things..

On 100x100 boards, 1x1 is extremely tiny. I wonder if we should consider going to 10x10 in those cases (the Explore screen on Multiplication and Algebra).
<img width="406" alt="screen shot 2018-02-09 at 9 59 49 am" src="https://user-images.githubusercontent.com/7852916/36039580-2021af60-0d80-11e8-86ba-21ac34e3d5a5.png">

On the 1x1 d

[2018-02-09 17:04] amanda-phet commented on #81
This looks great to me! Thanks!

[2018-02-09 17:04] #81 closed

[2018-02-09 17:14] kathy-phet commented on #79
I think this looks good.

@amanda-phet - I do have one more thought as I am playing, that I would like to advocate for. We discussed it briefly but the more I play, the more I think it would be good to have as the default.

[2018-02-09 17:21] kathy-phet opened #83 "On the Partition/Explore Screens: Have Partial Product "A" view on by default"
As I have been playing with this simulation, I am feeling like it would be a better learner/explorer experience to start with the partial products on (the "A" view). Right now the feedback they get as they play with the partitions isn't much - just seeing the divisions on the side change. And the total area readout is not where you are looking when you changing things in the square. So I would lik

[2018-02-09 17:22] kathy-phet commented on #83
@amanda-phet: Just pinging you here so you see this suggestion.

[2018-02-09 17:24] kathy-phet commented on #77
I like this suggestion too.

[2018-02-09 19:18] amanda-phet commented on #79
What is the thought you have? Can you include it here so we can specify the exact changes we want to see?

[2018-02-09 19:26] kathy-phet commented on #79
It's issue #83 .

[2018-02-09 20:33] amanda-phet commented on #83
My thought was that we should start with partial products off so that students could focus on the divisions first. It could be a lot to process if it's the first time someone sees partitions, especially coming from the previous screen which only counts boxes.

Since I'm interviewing next week, would you like me to try both options in front of different students?

[2018-02-09 20:33] amanda-phet commented on #83
How old are your nieces?

[2018-02-09 20:37] kathy-phet commented on #83
Yes, please try each way. I'm concerned that division of the side only doesn't really provide the student with much feedback on what has actually changed in terms of how to think about the problem.

Perhaps @jonathanolson could post a dev version with this alternative start up - where the partial product values are on ('A').

[2018-02-09 20:38] kathy-phet commented on #83
They were 11, in 5th grade but taking 6th grade math.

[2018-02-09 20:46] amanda-phet commented on #79
OK, thanks for clarifying.

Then @jonathanolson can you make this change?

The total area readout should have a gray background not a yellow background for the Multiplication, Algebra, and Decimals sims.

[2018-02-09 20:48] amanda-phet commented on #83
@jonathanolson are you able to make this change and publish a dev version by Tuesday? (I'm interviewing the 3rd graders on Monday and Tuesday so I would like to compare the two of them on this feature.)

[2018-02-09 20:54] amanda-phet commented on #72
The dot looks OK to me. The last thing I want to discuss is when to use the dot. On the Generic screen the partial products are displayed as axb but the calculation is displayed as a•b. In the variables screen, the partial products and calculation are both displayed as (a)(b) and in the Explore screens both are displayed as axb. So, in other screens there is consistency between the partial product

[2018-02-09 21:12] amanda-phet opened #84 "Should we be using math font?"
In other newer math sims we are using an italic script font for the variable x. See Function Builder and Expression Exchange as examples. Ideally this is done everywhere, so we should explore doing it in this sim as well. All other fonts should look the same (PhET font is fine for numerals) but where you see x we should use this customization.

The result should look something like this.
![screen

[2018-02-12 23:09] jonathanolson commented on #83
Applied changes, will deploy dev versions and post here.

[2018-02-12 23:22] jonathanolson commented on #83
Deployed:

- https://www.colorado.edu/physics/phet/dev/html/area-model-algebra/1.0.0-dev.5/phet/area-model-algebra_en_phet.html
- https://www.colorado.edu/physics/phet/dev/html/area-model-introduction/1.0.0-dev.7/phet/area-model-introduction_en_phet.html
- https://www.colorado.edu/physics/phet/dev/html/area-model-multiplication/1.0.0-dev.21/phet/area-model-multiplication_en_phet.html

(the decimal

[2018-02-14 02:16] jonathanolson commented on #84
Implemented (you'll want to pull scenery also if you test on phettest.colorado.edu)

[2018-02-14 02:23] jonathanolson commented on #79
Implemented the fix, sorry about that!

[2018-02-14 02:23] jonathanolson commented on #16
Duplicate of https://github.com/phetsims/area-model-common/issues/80.

[2018-02-14 02:23] #16 closed

[2018-02-14 08:00] jonathanolson commented on #80
I've done my best initial implementation, can you check?

[2018-02-14 08:06] jonathanolson commented on #77
Implemented, can you verify?

[2018-02-14 17:38] amanda-phet commented on #84
I checked dev.6 and it looks great!

[2018-02-14 17:38] #84 closed

[2018-02-14 17:39] amanda-phet commented on #79
No worries. This is looking good now.

[2018-02-14 17:39] #79 closed

[2018-02-14 17:46] amanda-phet commented on #80
The calculation panel is working as described above.

I'm not seeing a difference in the mouse touch areas in the latest dev versions you shared with me last night. Perhaps I shouldn't be using the phrase "touch areas" since that is usually for tablets. The "mouse areas" also need to be larger for laptop use. I just took a look and it seems that was my fault for not being clear.

<img width="527"

[2018-02-14 17:47] amanda-phet commented on #77
This looks good to me. Thanks!

[2018-02-14 17:47] #77 closed

[2018-02-15 06:26] jonathanolson commented on #80
Usually we'd just increase the size of the control to be bigger, since the mouse interaction usually works in an "accurate" (non-expanded) fashion.

For instance, in this case:
![area-model-crowded](https://user-images.githubusercontent.com/480878/36243346-57bba9c8-11de-11e8-9702-141388fa6220.PNG)
If we expanded any "mouse" areas, you would either get into a case where you mouse over A but it drag

[2018-02-15 21:38] amanda-phet commented on #80
1. I think a larger "knob" is a good idea, and here is one that is 50% larger with a slightly longer handle.

![screen shot 2018-02-15 at 2 38 16 pm](https://user-images.githubusercontent.com/7852916/36282301-f1db8bfc-125d-11e8-92bd-d226da011939.png)

2. The touch area for the knob will still be larger, but doesn't need to extend quite as far out. The touch AND pointer areas for the triangle handl

[2018-02-15 22:01] jonathanolson commented on #80
Implemented, with slight improvements discussed in Slack.

I temporarily made the lines thinner to show this. When at the closest it can be:
![area-model-touch-area-1](https://user-images.githubusercontent.com/480878/36283207-01412d60-1261-11e8-87b2-d98908559a50.PNG)

and more separated:
![area-model-touch-area-2](https://user-images.githubusercontent.com/480878/36283215-057fabea-1261-11e8-87f7-26

[2018-02-15 22:05] amanda-phet commented on #80
That looks great to me! Thanks so much!

I think I'll use the iPad tomorrow anyway for the bulk of the interview since this is a younger student, but put the computer in front of her too to see if she has any trouble. After interviews I'll close the issue if all seems good.

[2018-02-16 20:30] amanda-phet commented on #80
Oops, I forgot to put the laptop version in front of the 2nd grader today :( However I think it is a huge improvement and I think the larger handle and touch areas are sufficient.

One more touch area tweak: Can you make the touch area around the expand/collapse buttons larger? They seem smaller than 40x40, and could definitely use the extra space that the other controls get.

![screen shot 2018-0

[2018-02-16 20:33] amanda-phet commented on #83
I didn't notice a difference between the two students when it came to partial products being visible or not. They both played with that control in approximately the same time frame whether they started as visible or not.

The reason I prefer to have them hidden at first is to allow students to spend some time understanding the partition line and how it breaks up the side lengths of the area model

[2018-02-16 20:33] amanda-phet commented on #83
@kathy-phet it is your call.

[2018-02-16 21:12] amanda-phet opened #85 "Tweak to Area Model Introduction (Partition screen)"
One student in interviews didn't find the partition radio buttons, and I think it was their location, because she fully explored the other controls on the right side of the screen. I also am not a huge fan of the style anyway, since we're using the "scene selection " style elsewherein the sim.

Can we combine them with the partial products panel? I had to change their appearance slightly to fit th

[2018-02-16 21:15] amanda-phet opened #86 "Make panel and accordion box title larger"
Across all four sims, can we increase the font size of the titles for the panels and accordion boxes? If the fonts are already the "standard" PhET size, perhaps increase the padding? I noticed that they are very tight in this sim.

For comparison, here are examples from Area Model and Equality Explorer.
![screen shot 2018-02-16 at 2 14 43 pm](https://user-images.githubusercontent.com/7852916/36329

[2018-02-16 21:19] jonathanolson commented on #80
Done. Also note that the titles (for the accordion boxes on the right) are clickable to toggle, in addition to the entire accordion box on the partition screen for the calculation.

[2018-02-16 21:33] amanda-phet commented on #80
Yes, I confirmed that behavior, but still thought a larger area for that expand/collapse button made sense.

Thanks! All is looking good to me.

[2018-02-16 21:35] jonathanolson commented on #86
Matched some options with EqEx, can you check how it looks now? (area-model was previously using the defaults, these are technically not default settings now).

[2018-02-16 21:39] amanda-phet commented on #86
I like these quite a bit!

@kathy-phet do you want to take a look and close if these look good to you?

[2018-02-16 21:50] kathy-phet commented on #86
Looks good to me.

[2018-02-16 22:17] jonathanolson commented on #85
Implemented:
![area-model-partitions](https://user-images.githubusercontent.com/480878/36331723-369a19c4-132c-11e8-877c-c0f8690448cf.PNG)

Definitely up for visual changes. The "way things were done" default was to keep more padding (feels more consistent to me) and to keep the width of the choice buttons the same. Reduced height of the icons to compensate slightly.

It should be possible to chang

[2018-02-16 22:18] jonathanolson commented on #83
Assigning myself, as I'll want to make a code change depending on what the decision is.

[2018-02-20 20:22] amanda-phet commented on #85
Discussed with @jonathanolson this morning and we centered the model in the radio button and played a bit with the size.

![screen shot 2018-02-20 at 1 21 20 pm](https://user-images.githubusercontent.com/7852916/36447192-d67ff0b4-1640-11e8-99e1-498ef393e2a7.png)

[2018-02-20 20:30] amanda-phet commented on #85
I noticed that the Partial Products radio buttons all appear black/gray when disabled, but the "axb" button has color when it is selected.
![screen shot 2018-02-20 at 1 28 58 pm](https://user-images.githubusercontent.com/7852916/36447524-e76b2e1a-1641-11e8-981b-389d8ac3e7ef.png)
![screen shot 2018-02-20 at 1 29 04 pm](https://user-images.githubusercontent.com/7852916/36447548-eb0fc4ea-1641-11e8-90

[2018-02-20 21:28] jonathanolson commented on #85
Implemented in the above commit.

[2018-02-21 18:28] amanda-phet commented on #85
Looks perfect! Thanks so much.

[2018-02-21 18:28] #85 closed

[2018-02-21 18:29] amanda-phet commented on #83
@kathy-phet and I discussed 2/20/18 and decided to leave partial products hidden by default. So, let's undo this change.

[2018-02-21 19:06] jonathanolson commented on #83
Reverted. Anything else to do here?

[2018-02-21 19:16] amanda-phet commented on #83
I just checked on phettest and it looks like it is working. Thanks.

[2018-02-21 19:16] #83 closed

[2018-02-26 19:24] phet-steele commented on #66
@jonathanolson it should also close when "Show Answer" is pressed.

For phetsims/QA/issues/99.

[2018-02-26 20:16] amanda-phet opened #87 "Changes to game screens (AMM and AMA)"
[note: it seems this issue was never submitted last Wednesday when I originally made it and I am starting over.. so I may realize that I've forgotten something and include follow-up requests in this thread.]

@kathy-phet and I decided to make some changes to the game screen behavior. This seems more in line with other PhET game behavior, so we should be able to use the vegas game bar component.

(

[2018-02-26 21:59] phet-steele commented on #86
@amanda-phet @jonathanolson this has introduced overlap between the calculation box ant the nearby panel in the below scenario:

<img width="1672" alt="screen shot 2018-02-26 at 2 57 43 pm" src="https://user-images.githubusercontent.com/5863899/36697894-8d6699b8-1b05-11e8-9db2-8c8d0691e6dd.png">

[2018-02-26 22:11] amanda-phet commented on #72
OK, here is what I think is the best final decision. This applies to both the partial product displays, partial product radio button, and calculation panels.

|  | Representation | Notes |
|---|---|---|
| **Partition** | x |  no change |
| **Explore** | x | no change |
| **Generic** | • | no change to calculation </br> update partial products and radio button to use • |
| **Variables** | • | chang

[2018-02-26 22:21] amanda-phet commented on #86
Yeah, this is not a good situation. We will need to change something about those panels on the right... either remove that padding we added, or make things smaller.

[2018-02-26 22:43] kathy-phet commented on #86
I don't think we want reduce the calculation font, so I'm wondering if we can make the padding a bit smaller.

[2018-02-27 17:52] lmulhall-phet opened #88 "Algebra crashes on iPad when all handles move, area model calculation on"
**Test device:**

Dalton

**Operating System:**

iOS 11.2.5

**Browser:**

Safari

**Problem description:**

Algebra will crash if, in the explore screen, both partition line drag handles (red and blue things) and the proportional drag handle (green thing) are moved at the same time while either the line-by-line area model calculation button or the all-lines area model calculation button is select

[2018-02-27 17:54] lmulhall-phet commented on #88
Sorry didn't see phetsims/area-model-common/issues/25 or phetsims/area-model-common/issues/20. Closing.

[2018-02-27 17:57] phet-steele commented on #88
This issue is better documented than either of those other issues, so I'm favoring this one. Adding the one comment from @jonathanolson though:

[2018-02-27 17:58] phet-steele commented on #25
Closing in favor of #88.

[2018-02-27 18:00] phet-steele commented on #88
For the sake of memory, AMA loads starting at about 100 MB. After only a few moments following the above steps, AMA grows to use >200 MB.

[2018-02-27 18:00] phet-steele commented on #20
Closing in favor of #88.

[2018-02-27 18:00] #20 closed

[2018-02-27 18:01] phet-steele commented on #88
@lmulhall-phet this occurs on any screen using a calculation panel, correct?

[2018-02-27 19:24] phet-steele opened #89 "Make partition lines pickable"
I think it would be nice to make the full length of a partition line be pickable. @amanda-phet and @jonathanolson agree.

[2018-02-27 19:42] jonathanolson commented on #72
Implemented the in-person-described changes, can you confirm in master?

[2018-02-27 19:47] jonathanolson commented on #66
Should be fixed in master, can you verify?

[2018-02-27 20:05] jonathanolson commented on #25
Need to optimize the Multiply screen (numbers), since I got down to 9fps on Firefox/Win10.

[2018-02-27 20:07] phet-steele commented on #66
Beautiful.

[2018-02-27 20:07] #66 closed

[2018-02-27 20:12] jonathanolson opened #90 "Check touch areas for calculation area buttons (up/down)"

[2018-02-27 20:33] jonathanolson commented on #88
The calculation view is using a not-yet-optimized setup that is leaking a LOT of memory. I'll have that fixed up soon.

[2018-02-27 20:49] amanda-phet commented on #72
Looks great.

Decision was to not use a dot at all, and just use the x everywhere except for the Variables screen.

[2018-02-27 20:49] #72 closed

[2018-02-27 21:02] amanda-phet commented on #86
One thought is to move the board scene selection combo box to the region that other screens use for similar controls:

(hacked together mockup)
![screen shot 2018-02-27 at 1 59 37 pm](https://user-images.githubusercontent.com/7852916/36754626-c8ad4e10-1bc6-11e8-889b-7fd8b6fd8b70.png)

[2018-02-27 21:12] amanda-phet commented on #86
Also, reducing the font in the calculation panel by 15% effectively solves this problem, but of course the font is slightly smaller. It is still over 13pt though, so it's not a crazy small size.

![screen shot 2018-02-27 at 2 11 55 pm](https://user-images.githubusercontent.com/7852916/36755070-3b964a7a-1bc8-11e8-836d-94fb45b6ec35.png)

[2018-02-27 21:21] amanda-phet opened #91 "Dimensions scaling"
It seems like the dimensions are scaling down in size as they get large, but the baseline of the text is moving up. However the total area of model maintains the same baseline. Dimensions should do what the total area is doing.

![screen shot 2018-02-27 at 2 20 08 pm](https://user-images.githubusercontent.com/7852916/36755420-68ca088c-1bc9-11e8-808c-2514b5807438.png)

I'm not sure if this affects

[2018-02-27 21:23] amanda-phet commented on #86
@ariel-phet and @kathy-phet thoughts on these options? Any other ideas?

[2018-02-27 21:49] ariel-phet commented on #86
@amanda-phet I think reducing the calculation is totally a reasonable solution...however, the spacing between lines in the calculation panel should be increased vertically (the leading as we say).

I think with more space between lines things will still be legible and able to be parsed.

[2018-02-27 23:19] kathy-phet commented on #86
If the solution is to decrease the font on the equation, I would only want to do that if necessary... not all the time.

I think it’s important to have it as legible as possible when projected.

My preference is for an alternative solution, but I would be ok with font change if it’s rarely encountered.

K

Sent from my iPhone

On Feb 27, 2018, at 2:49 PM, Ariel Paul <notifications@github.com<mailt

[2018-02-27 23:37] jonathanolson commented on #86
This could be done with a maxWidth (like we use for i18n) where it would only scale down if its size would be too large. The large majority of the time this would not be applied (and it would look the same as before).

[2018-02-28 20:09] lmulhall-phet commented on #88
@phet-steele I've only experienced a crash in the explore screen.

[2018-03-01 03:44] amanda-phet commented on #86
I forgot about that possibility. That seems like a great solution, then. Can we make this the cutoff point before resizing?

<img width="920" alt="screen shot 2018-02-28 at 8 43 34 pm" src="https://user-images.githubusercontent.com/7852916/36826059-266c760a-1cc8-11e8-96a4-ea4dbfc3bef9.png">

[2018-03-01 19:13] jonathanolson opened #92 "Accordion Box consistency"
I'm temporarily removing the "hack" that made the Calculation accordion box (Partition screen on Introduction sim) collapsible by clicking anywhere. It would be good to have a discussion for whether this type of feature is necessary. Showing the title while expanded would make the "top" part still clickable, and that may be an option.

[2018-03-01 19:13] jonathanolson commented on #92
Pushed master. @amanda-phet, can you try out the Calculation accordion box behavior, and see if it is acceptable?

[2018-03-01 19:26] amanda-phet commented on #92
Why are we removing this feature? I thought we agreed it is nice to be able to click anywhere on the top to expand, and if you wanted to immediately close it you could click where your cursor already is. Is this considered unusual UX behavior?

[2018-03-01 20:42] ariel-phet commented on #92
A11y concerns were raised for removing the title. Since the title fits, it seems like more standard UX behavior (so yes it is considered unusual). There was also pushback that @jonathanolson had introduced a fairly horrible hack into the code to accomplish the feature.

So you should be able to click anywhere on the button or title text, which is consistent with the interaction with a checkbox for

[2018-03-01 20:58] amanda-phet commented on #92
I'm confused now.. are you suggesting we add in the title when this box is expanded? That's not what @jonathanolson did here.

Sounds like there was a discussion about this accordion box and I'm missing some context. If we want to include the title, we need to make the panel considerably taller (there is space) because the calculations need a lot of extra padding to keep them easy to interpret.

!

[2018-03-01 21:02] ariel-phet commented on #92
@amanda-phet yes...my impression was the @jonathanolson added in the title when expanded

[2018-03-01 21:15] ariel-phet commented on #92
@jonathanolson did this in master in area model introduction. Maybe we are talking about two different use cases in two different sims? I will try to catch you after meeting

[2018-03-01 21:18] amanda-phet commented on #92
The first commit didn't include the title, and the second one did. So it is there now.

@jonathanolson we could pixel polish this a bit but it is working.

[2018-03-02 18:31] amanda-phet commented on #92
We can't actually move the panel up as I'd hoped, so I think we will just live with it how it is.

[2018-03-02 18:31] #92 closed

[2018-03-07 05:50] jonathanolson commented on #91
Implemented:
![area-model-dimensions](https://user-images.githubusercontent.com/480878/37075406-e34ffc36-218e-11e8-941a-1ad801d6b8a6.PNG)

There are two minor alignment issues that bug me:

If one side has an exponent and the other doesn't (variables screen), the two sides have a different text baseline (the bottoms aren't aligned):
![area-model-align-2](https://user-images.githubusercontent.com/4

[2018-03-07 06:03] jonathanolson commented on #89
Implemented, can you try it out to see if the areas are sufficient, or should be expanded? It has a slightly expanded "mouse" area so it is possible with the mouse.

[2018-03-07 06:05] #78 closed

[2018-03-07 06:11] jonathanolson commented on #76
Implemented for everything except `AreaModel` so far, as I'm curious what to call it. It's the base type for all models for area-model sims, so is `AreaModelCommonModel` the recommended name?

[2018-03-07 16:31] samreid commented on #76
`AreaModelCommonModel` makes sense to me.

[2018-03-08 06:50] #76 closed

[2018-03-08 08:04] jonathanolson commented on #87
I believe I've handled  (1) and (2a). I adjusted the game button (check/show solution/etc.) and "face" locations to compensate (they went below the bottom with the change in layout).

For (2b) and (2c), it's essentially the same question (as they use the same component internally): Do you only want the value (with NO edit button) to have its size increased, e.g.:
![area-model-game-area-1](https://

[2018-03-08 11:42] jonathanolson opened #93 "Markdown documentation with images?"
This sim has a ton of terminology, some of which is difficult to describe. Having something like doc/glossary.md (with checked in images referenced in the .md) that can describe all of the terms used internally would be helpful for documentation (notably for whoever code-reviews or needs to make changes to the sim in the future).

Would that be acceptable, or would there be a better way of accompl

[2018-03-08 11:42] jonathanolson commented on #93
https://stackoverflow.com/questions/14494747/add-images-to-readme-md-on-github notes how to include images in the markdown that are checked into the repo.

[2018-03-08 12:57] jonathanolson commented on #86
Implemented. I also added a query parameter ?maximumLayout1 (for now) that fills things out in a way that will trigger the maxWidth.

[2018-03-08 12:58] #58 closed

[2018-03-08 15:49] Denz1994 commented on #93
Could you make the entry of a term a hyperlink to an image within the .md?

For example in Unit Rates [implementation notes](https://github.com/phetsims/unit-rates/blob/master/doc/implementation-notes.md) under `Terminology`:

- [scale](https://user-images.githubusercontent.com/13894380/37160276-d7d72d0e-22bd-11e8-9a78-b95b3f08485b.png) - place bags and items here to display their corresponding co

[2018-03-08 16:51] jonathanolson commented on #93
I'm totally fine with that if people would prefer it. Might be better if people know many of the terms (so it's easy to scan through).

[2018-03-08 17:06] jessegreenberg commented on #93
Could a glossary section fit into doc/implementation-notes.md? I am OK with a long doc/implementation-notes.md.

I think it depends on whether we want a doc/glossary.md in all sims or if it is just for this sim. I would rather not have a special file just for this sim.

[2018-03-08 17:21] jonathanolson commented on #93
Wow, I checked molecule-shapes to see if implementation-notes was in markdown, and it has implementation-notes.txt (so I figured another file would be necessary). I'm totally fine having those in implementation-notes.md, and should I fix up molecule-shapes to have markdown?

[2018-03-08 18:02] jonathanolson opened #94 "Decrease range for editable game polynomial coefficients?"
Currently, the supported range for those coefficients is -99 to 99, but I had a note that these probably wouldn't go outside -81 to 81. I recall we briefly discussed this, but I don't remember the result. Should I change this to -81 to 81?

[2018-03-08 18:32] jessegreenberg commented on #93
I don't know when the decision was made, but I have seen new sims use implementation-notes.md and older sims use implementation-notes.txt. Perhaps the decision was to start using .md but not go back and convert .txt to .md? I would say it is up to you.

[2018-03-08 19:07] pixelzoom commented on #93
I generally have a Terminology section in implementation-notes.md.  This has worked out great when interacting with QA.  This also assumes that your design team has clearly defined terminology.  And of course there's "domain terminology" and "implementation terminology".

Examples:
https://github.com/phetsims/function-builder/blob/master/doc/implementation-notes.md
https://github.com/phetsims/unit

[2018-03-08 19:08] pixelzoom commented on #93
We decided to use .md (implementation-notes.md and model.md) quite awhile ago.

[2018-03-08 20:15] jonathanolson commented on #93
Decision was to include images under `doc/images/` and feel free to include in the implementation-notes.md

[2018-03-08 20:15] #93 closed

[2018-03-09 05:40] jonathanolson commented on #88
Partial commit above is a not-yet-complete rewrite of the calculation lines to handle GC and better performance. @phet-steele once it's finished, it would be great to make sure I didn't change any visual behavior.

[2018-03-13 19:48] amanda-phet commented on #87
(1) and (2a) are looking great. Thanks!

I agree. We should increase the size of both the value AND the editable value.

And to clarify, here is the discrepancy I'm referring to: in the game, the total area is much smaller than in the generic screen. Also, and it could be my eyes playing tricks, but the partial products seem slightly smaller in the game screen.
![screen shot 2018-03-13 at 1 46 13

[2018-03-14 01:16] jonathanolson commented on #88
I'll be refining it, but the main commits are pushed to master. It's about a 2k LOC rewrite, so I ran it through snapshot comparison for each sim (500 frame comparisons, where each frame is like 10-20 seconds of normal fuzzing). It isn't showing any visual or behavioral differences, but I'm still not convinced there wasn't a regression.

[2018-03-14 18:29] amanda-phet commented on #89
@phet-steele have you looked at this yet? Can you check on an iPad?

On the computer I think the area is sufficient.

[2018-03-14 18:30] amanda-phet commented on #94
Yes I think we can change the range to [-81,81]. I don't see any reason to go beyond.

[2018-03-14 18:36] phet-steele commented on #89
I did look and totally forgot to say so!

[2018-03-14 18:36] #89 closed

[2018-03-14 19:06] jonathanolson commented on #94
Implemented.

[2018-03-14 19:06] #94 closed

[2018-03-14 19:47] jonathanolson commented on #88
I can't get it to crash with 20min of fuzzing on an iPad2, and memory profiling tools show it isn't leaking. Can you try https://www.colorado.edu/physics/phet/dev/html/area-model-algebra/1.0.0-dev.8/phet/area-model-algebra_en_phet.html to confirm?

It is still QUITE heavy on initial memory, as any "generic" screen ("Generic", "Variables") has 9 copies of the main view (one for each width-x-height

[2018-03-14 19:53] jonathanolson opened #95 "Does the keypad need expanded touch areas?"
Currently that isn't supported by the common component, so I haven't done that.

[2018-03-14 19:55] amanda-phet commented on #86
This looks great to me. I hardly notice a change when the font scales and I'm looking for it!

[2018-03-14 19:59] amanda-phet commented on #91
I agree, this is annoying. Is there a way to fix it? Ideally these are bottom-aligned.

Again, I totally agree. I don't know if I have solutions for these problems, though.. but let me know what I can do to help.

[2018-03-14 20:16] jonathanolson commented on #25
This is now running at a smooth 60fps on my computer. I've also optimized/rewritten the calculation lines (which were the other heavy part) and that should definitely be faster.

That said, everything that isn't the game feels super slow (and the reward node has a very delayed appearance on the game). I'll be taking a look more into performance to see if there are some quick fixes.

[2018-03-14 21:13] lmulhall-phet commented on #88
@jonathanolson I got it to crash after a few minutes of playing with factors, all-lines, 20x20, and tile checked.

[2018-03-14 21:19] lmulhall-phet commented on #88
Should note that I was testing on Tycho, which has different iOS version (9.3.5) and (I would imagine) different Safari version. Would test on Dalton, but it's not in the QA office.

[2018-03-14 22:57] jonathanolson commented on #87
Implemented, does anything else here need more changes?

The face still fits (it was a slight tweak, so I didn't move it yet), but if you want to move it, would this work?:
![area-model-face-position](https://user-images.githubusercontent.com/480878/37435386-bffdf6be-27a8-11e8-8c7e-57b671b6268a.PNG)

If you want it centered with the check button, we'd need to push the buttons down.

[2018-03-15 00:09] jonathanolson commented on #91
Reworked the vertical alignment in a lot of ways, should handle both issues I mentioned:

![area-model-dimensions-a](https://user-images.githubusercontent.com/480878/37437380-80fd4f32-27b2-11e8-858f-f59db4ae8f4b.PNG)
![area-model-dimensions-b](https://user-images.githubusercontent.com/480878/37437387-83b94bea-27b2-11e8-9ea0-65547f72c50d.PNG)

It manages to look up the exact height of the parenthes

[2018-03-15 00:11] jonathanolson commented on #88
Thanks. I'll start looking into the general memory fixes for the sim.

[2018-03-15 01:02] jonathanolson commented on #91
Implemented, can you verify?

[2018-03-15 01:36] amanda-phet commented on #87
I like the location you sketched better than below the button. There is plenty of space and might help it be more visible (especially the score) if someone is using a tablet. Would you mind making the change?

I think the larger text looks great! Thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jonathan Olson <notifications@github.com>
Sent: Wednesday

[2018-03-15 01:43] jonathanolson commented on #87
Implemented, does that look good?

[2018-03-15 17:50] amanda-phet commented on #87
Great. Thanks. Everything was starting to look really low on the screen so I think that helps.

[2018-03-15 17:55] amanda-phet commented on #91
I see the alignment a little bit off when one component is x^2, but it's not huge

<img width="296" alt="screen shot 2018-03-15 at 11 54 15 am" src="https://user-images.githubusercontent.com/7852916/37481568-b4f1caa8-2847-11e8-975b-069aca33570b.png">

What do you think  @jonathanolson ? I am OK leaving it as-is because it's pretty minor, but since you just worked on it you might know why this is h

[2018-03-15 17:58] amanda-phet commented on #95
I would prefer to make that kind of change to the common component rather than this individual sim. @ariel-phet ?

[2018-03-15 19:32] #91 closed

[2018-03-16 16:55] phet-steele opened #96 "Games don't freeze during "Start Over" animation"
Pressing "Start Over" on a game will start the leftward animation. During this animation, if you keep your eye on the game, you will notice that the challenge has updated. It becomes the first question you would otherwise see when returning to the level.

I don't think this is a big deal, but looks somewhat...ugly...when you notice it.

Seen on macOS 10.13.3 Chrome.

[2018-03-17 03:52] ariel-phet commented on #95
@jonathanolson @amanda-phet - that seems like an important enhancement to the common component, given that we are supporting a wider range of touch devices (with the android app, and things like expanding the iOS app to iphone).

@jonathanolson please proceed with adding this functionality to the common component if possible

[2018-03-23 19:39] amanda-phet opened #97 "design screen icons"

[2018-03-23 19:41] amanda-phet commented on #97
@DianaTavares and I have been working on the design of the screen icons. We would appreciate some feedback. We took Amy's ideas and tried to simplify them a bit, but they are still busy icons. However I think they could be fine for the home screen.

[2018-03-23 19:45] DianaTavares commented on #97
This are the options for the icons:

![screen shot 2018-03-23 at 11 49 57 am](https://user-images.githubusercontent.com/26031501/37850192-e9a29a9e-2e9f-11e8-91a8-6f1d25ce79b0.png)

![screen shot 2018-03-23 at 11 47 03 am](https://user-images.githubusercontent.com/26031501/37850198-edc13f2c-2e9f-11e8-9a70-569d642c8a8c.png)

![screen shot 2018-03-23 at 1 43 49 pm](https://user-images.githubuserconte

[2018-03-23 19:46] amanda-phet commented on #97
@ariel-phet and @kathy-phet would love some feedback!

[2018-03-23 20:59] amanda-phet commented on #97
We will need a different game icon for the Algebra sim, that shows a problem with variables. But otherwise I think these icons do a good job of illustrating the content of the screens. They are all fairly "busy" but I don't have any great ideas for simplifying further.

[2018-03-23 21:45] DianaTavares commented on #97
For the game then I have this option, one like the same but with "x" and other simpler:

![screen shot 2018-03-23 at 3 44 44 pm](https://user-images.githubusercontent.com/26031501/37854590-27a9124e-2eb1-11e8-9c46-0020faeffc44.png)

[2018-03-23 21:49] DianaTavares commented on #97
for the  variables view, I think that looks less busy if I change the way of the rectangle (and is more similar to the Partition icon )

![screen shot 2018-03-23 at 3 49 01 pm](https://user-images.githubusercontent.com/26031501/37854739-bc615be4-2eb1-11e8-9949-66bc19a7fd4e.png)

[2018-03-23 22:17] ariel-phet commented on #97
@amanda-phet @DianaTavares

To me all of these have too much detail, and are going to be difficult to see on the nav bar. Please include mockups of the navbar icons at actual size.

A few comments:

1. Why use this "handwriting"/chalkboard style font? It does not appear anywhere in the sim?

2. Those could work for the homescreen, but I think you want to figure out the simplified versions first

3

[2018-03-28 17:45] amanda-phet commented on #97
(1) There are a few changes here that do not appear in the sim.. the partition lines are modified to fit larger products inside the model, and the handwriting style font is to spark someone's connection to the models they draw by hand on paper. Another font option I was thinking of was the one we used in Make a Ten, but the one you see here is a simple built-in font in illustrator.

(2) For the na

[2018-04-04 21:26] jonathanolson opened #98 "Game level icons"
Will need numbers 1-6 and variables 1-6.

[2018-04-05 06:25] jonathanolson commented on #88
Finished the main refactoring and pushed to master (another 2.5k LOC change). This is also a "could break just about everything, and any mistake probably leaks memory" change, so I'll be doing snapshot comparisons and memory profiling to try to catch anything that may have gone wrong.

If there is a memory leak, it's smallish (and ~10min fuzzing still has it under 70MB on Chrome), so I'll be testi

[2018-04-05 23:39] jonathanolson commented on #88
Resolved all regressions, now snapshot comparisons are passing with 500 snapshots / sim.

[2018-04-07 03:48] jonathanolson commented on #96
Should be fixed with the above commit.

[2018-04-07 07:11] jonathanolson commented on #95
Added default touch areas to the Keypad (checked usage in projectile-motion also, looks safe).

Should be done.

[2018-04-07 07:11] #95 closed

[2018-04-09 15:39] phet-steele commented on #96
Fixed for me, thanks.

[2018-04-09 15:39] #96 closed

[2018-04-09 16:53] DianaTavares commented on #97
This are the new version of the icons:

**Area Model Introduction**

![screen shot 2018-04-09 at 10 49 07 am](https://user-images.githubusercontent.com/26031501/38510917-aa66d470-3be3-11e8-9479-3d79242e4a86.png)

**Area Model Multiplication**
![screen shot 2018-04-09 at 10 50 57 am](https://user-images.githubusercontent.com/26031501/38510996-e7b0aa90-3be3-11e8-8d62-d0d9cc66b882.png)

**Area Model

[2018-04-09 16:55] amanda-phet commented on #97
This is the "handwriting" font from Make A Ten, by the way. I think it is a nice touch and connects our sim to representations people are already familiar with.

[2018-04-09 17:13] DianaTavares commented on #97
sorry, I made a mistake, now this are the new icons for the sim :)

**Intro**
![screen shot 2018-04-09 at 10 49 07 am](https://user-images.githubusercontent.com/26031501/38511419-61f74182-3be5-11e8-9c66-91db418e8650.png)

**Multiplication
![screen shot 2018-04-09 at 11 12 07 am](https://user-images.githubusercontent.com/26031501/38511899-e02b2806-3be6-11e8-808b-b1567f6167d9.png)

**Algebra**
![scr

[2018-04-09 17:47] kathy-phet commented on #97
I find the mix of the hand numbers and the typed numbers conflicting. I would go all one or the other. The hand ones are fun, I agree. Is there a way to do a hand drawn numbers for the first icon too.

[2018-04-09 18:20] jonathanolson opened #99 "PhET code-review checklist"
NOTE: *Please mark failed items with* ❌

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does the sim pass a scenery fuzz test? (run

[2018-04-09 19:09] jonathanolson commented on #88
No significant memory leaks either currently, can you test https://www.colorado.edu/physics/phet/dev/olsonjb/area-model/ to see if any crash on the iPad with usage?

[2018-04-09 19:10] jonathanolson commented on #25
I've optimized some performance aspects, but RichText's usage is still potentially rough for some places.

@ariel-phet, can you test the sims under https://www.colorado.edu/physics/phet/dev/olsonjb/area-model/ briefly to determine if performance is sufficient (or needs improvement)?

[2018-04-09 20:58] ariel-phet commented on #97
These seem to be good in the navbar, clearly different. And the clutter seems nicely reduced.

[2018-04-09 21:07] jonathanolson opened #100 "Blocking TODOs in code"
There are TODO comments that will need to be resolved, waiting on:

- https://github.com/phetsims/area-model-common/issues/98 (icons)
- https://github.com/phetsims/scenery/issues/764 (removing accessible listeners)
- [probably can wait] https://github.com/phetsims/scenery-phet/issues/367 (mutable keyboard drag listener)
- [probably can wait] https://github.com/phetsims/scenery-phet/issues/368 (int

[2018-04-09 21:30] jonathanolson commented on #99
Some additional notes/questions for the code review:

- [ ] Please review `DynamicProperty` (in axon) as part of this review, see https://github.com/phetsims/area-model-common/issues/75. Since we had to move to a "swappable" view for different models in every screen, this is used much more than was planned (more than 30 usages), and it is used in other sims.
- [ ] Please review `SUN/SlidingScreen`

[2018-04-09 21:32] jonathanolson opened #101 "Potential closure memory leak"
Investigating. Doesn't look like one where listeners are added, but memory is *slowly* going up during fuzzing, at like 10MB/hour.

I'll be investigating.

[2018-04-09 21:34] jonathanolson commented on #99
Code review ready to go. The majority of code is in this repository, but it is effectively a code for the 4 simulations (area-model-algebra, area-model-decimals, area-model-introduction and area-model-multiplication).

The last I heard, it was going to be reviewed by @Denz1994 with potential assistance by @pixelzoom, but I'm assigning @ariel-phet as I'm not sure what the latest plan is.

I have an

[2018-04-09 21:35] jonathanolson commented on #99
Also for reference, I'm fine with any combination of issues, inline `//REVIEW` comments or whatever else works for the reviewer(s).

[2018-04-09 21:37] jonathanolson commented on #99
Also I HIGHLY recommend viewing the implementation notes before reviewing (https://github.com/phetsims/area-model-common/blob/master/doc/implementation-notes.md).

[2018-04-09 21:40] jonathanolson commented on #101
Whoops, this looks like it's potentially due to our accessible keyboard drag listener (see https://github.com/phetsims/scenery/issues/764).

I'm going to hold off on thorough memory leak testing until that is done.

[2018-04-09 21:54] pixelzoom commented on #99
@jonathanolson said:

Perhaps you should get involved in https://github.com/phetsims/vegas/issues/59?  And explain what was "fully inadequate".  We've just done a load of work on new vegas UI components, and it's going to be a drag if you can't use them.

[2018-04-09 22:03] jonathanolson commented on #99
SlidingScreen should probably move to TWIXT, since it using Easing.

[2018-04-09 22:16] pixelzoom commented on #87
Reopening.

I'm having a hard time understanding why the layout here is so entirely different from what was specified in https://github.com/phetsims/vegas/issues/59 for new "standard" game components.  And how this could have happened when @amanda-phet was the designer in both cases. And why @jonathanolson has once again implemented a custom solution (GameStatusBar) instead of using standard vegas

[2018-04-09 22:16] pixelzoom commented on #87
Reopening.

I'm having a hard time understanding why the layout here is so entirely different from what was specified in https://github.com/phetsims/vegas/issues/59 for new "standard" game components.  How this could have happened when @amanda-phet was the designer in both cases. And why @jonathanolson has once again implemented a custom solution (GameStatusBar) instead of using standard vegas com

[2018-04-09 22:17] pixelzoom commented on #87
@andrea-phet FYI.

[2018-04-09 22:26] samreid commented on #99
Consider changing:

[code]
to
[code]

Same for other enums.

[2018-04-09 22:29] pixelzoom commented on #87
@amanda-phet I also see that Area Model animates between "settings" and "challenges" in the game.  Why is this the case in Area Model, but not in Equality Explorer?

[2018-04-09 22:30] jonathanolson commented on #99
That sounds overall beneficial. Presumably that NEEDS to be done before any other helper functions are added to the enum (see `Field.toDisplayType`), since otherwise that would show up in VALUES? Would this be a mistake in refactoring in the future, so an explicit note about ordering would need to be added?

[2018-04-09 22:30] samreid commented on #99
I'm seeing formatting changes in 12 files when applying my IDEA formatter.  Is that as expected?

[2018-04-09 22:31] jonathanolson commented on #99
Might be something weird on my end, I swear I formatted recently on IDEA with the PhET code style (imported in the last month or two). Perhaps a new version has slightly different rules?

[2018-04-09 22:32] samreid commented on #99
Yes, add a note about Enums that have values that may be added later.  Also, why might enum values be added later?  I'm seeing both of the enums in common/enum as frozen.

[2018-04-09 22:34] jonathanolson commented on #99
The helper function would be in the values array, which would not be good:

[code]

So if you sneak in a helper function between the definition and the _.values, things go bad.

[2018-04-09 22:34] samreid commented on #99
Should we keep this comment?

[code]

[2018-04-09 22:35] samreid commented on #99
Good to know!

[2018-04-09 22:35] jonathanolson commented on #99
Up to the reviewers! The full comment at least does include the intended version:

[code]

[2018-04-09 22:40] ariel-phet commented on #99
@jonathanolson FYI, I think as much as possible we are going to want to make game components use the Vegas common code work, we will have a meeting with @amanda-phet and @pixelzoom this Thursday to make sure we are all on the same page.

Note @Denz1994 @samreid maybe don't review the game first

[2018-04-09 22:43] pixelzoom commented on #87
The implementation is also not using level-selection buttons (old or new) from vegas.  Looks like @jonathanolson is creating his own buttons.  I see no good reason for this,  and it's very discouraging.

[2018-04-09 22:47] jonathanolson commented on #87
Sorry about that. I was used to the last case where make-a-ten couldn't use the common version, and didn't check to see if it would work for area-model. I definitely should have used the common component here.

[2018-04-09 22:48] jonathanolson commented on #99
Presumably GameStatusBar / GameAreaScreenView would be most affected by this. I would expect the rest of the game code to still benefit from a review before then.

[2018-04-09 22:59] pixelzoom commented on #80
Reopening.

@amanda-phet Do you realize that clicking _anywhere_ in the status bar sends you back to the level-selection buttons and clears your score?  Is that really desired? (I think not.) If so, why aren't we doing it in other sims.

[2018-04-09 23:55] amanda-phet commented on #87
@pixelzoom said

The layout here is following the standard game components for games with 6 set challenges, based one what I observed in Graphing Lines, Balancing Act, Area Builder, etc. I specifically redesigned it from what Amy H had originally designed to fit that type of game, as opposed to a custom design that didn't match any other PhET games.

My understanding is the new game components wer

[2018-04-10 00:26] pixelzoom commented on #87
@amanda-phet said:

If that's the case, then why is not using any of the standard vegas components for that type of game? That is, ScoreboardBar, LevelSelectionItemNode, etc.  There's also no reason why it can't use the new score displays, which applicable to both flavors (new and old) of games.

There are also other differences that don't match older 6-challenge games.  Eg:
https://github.com/phe

[2018-04-10 00:36] pixelzoom commented on #87
Also regarding the score display...

This is the score display that appears in older 6-challenge games, e.g. RPAL:

![screenshot_554](https://user-images.githubusercontent.com/3046552/38529789-4a0e8578-3c24-11e8-9b24-d56931578c4e.png)

These are the 3 score displays that we agreed on, and implemented, in https://github.com/phetsims/vegas/issues/59#issuecomment-364608714, to be reused throughout ol

[2018-04-10 00:48] jonathanolson commented on #87
RE: LevelSelectionItemNode, that was my mistake.

RE: Others, it was because all of the designs where I have implemented games (make-a-ten, area-model, etc.) deviated significantly in the initial design from existing vegas components. They seemed to be components that could be used in some game sims, but didn't look general enough that they would (without significant effort) work for every game.

[2018-04-10 00:50] pixelzoom opened #102 "insufficient use of vegas in game"
Related to https://github.com/phetsims/area-model-common/issues/99

Area Model is not using common game components.

• Level-selection buttons are at GameAreaScreenView line 102.  It should be using LevelSelectionItemNodeDeprecated, or the newer LevelSelectionButton which will soon be replacing LevelSelectionItemNodeDeprecated.

• Status bar is implemented in GameStatusBar.  It should be using the

[2018-04-10 00:51] pixelzoom commented on #102
Beside the fact that game design should inform vegas, the other big reasons for using vegas components are a11y and phet-io.  If you use common-code, you'll get these features for free when the common-code is instrumented.  When you roll your own, you create more a11y and phet-io work.

[2018-04-10 16:31] lmulhall-phet commented on #88
@jonathanolson I spent about 20 minutes trying to get algebra to crash, and I haven't been able to get it to crash! I think it's time to close this issue.

[2018-04-10 16:31] #88 closed

[2018-04-10 16:59] Denz1994 commented on #99
An initial pass through of the usages of these pluralized names seems reasonable for the context. It will require further investigation with @samreid.

[2018-04-10 17:25] Denz1994 commented on #99
Things like Minus/Plus/QuestionMark share some logic (can't factor out the poolable bit easily). Should they have a common subtype trying to handle things? Would it gain us much?

@samreid: Minus.js, Plus.js, and QuestionMark.js are very similar and could be refactored, but the pooling method for both files would need some attention. Would require more investigation. Also worth finding out why Plu

[2018-04-10 17:34] Denz1994 commented on #99
An initial pass through looks like these game and non-game model/view components should be kept separate.

@samreid: I'd like to take a closer look once we're more familiar with what is happening.

[2018-04-10 17:43] Denz1994 commented on #99
Will require more investigation, regarding the three usages in Area-Model-Common. This may become a useful replacement for watching when new objects are created using an array to create new nodes.  First thought is to figure out how this is being used in Area-Model's use cases.

[2018-04-10 17:45] Denz1994 commented on #99
@samreid: As we are reviewing the code, we should keep an eye out for how we can instrument code components. We would also need to await a sim-specific phet-io meeting to determine what should be considered for phet-io implementation.

[2018-04-10 17:51] Denz1994 commented on #99
We can save GameStatusBar / GameAreaScreenView for last when doing the code review, due to ongoing discussion in https://github.com/phetsims/vegas/issues/59.

[2018-04-12 20:13] pixelzoom commented on #87
Regarding changes to transitions in this sim...  See design consensus in https://github.com/phetsims/vegas/issues/65#issuecomment-380930042

[2018-04-13 16:16] Denz1994 opened #103 "Area-Model-Common/docs/images correct file location."
During review of #99.

The images found in ```Area-Model-Common/docs/images``` are used in the ```implementation-notes.md``` for documentation purposes. Should these images be placed in ```Area-Model-Common/images```? If not please close.

[2018-04-13 16:31] Denz1994 opened #104 "CountingTile string overlaps other panels."
During review of #99:

![image](https://user-images.githubusercontent.com/13894380/38746180-c1183e3c-3f14-11e8-804f-8a8b17869e81.png)

Perhaps a maxWidth should be used ```ProportionalAreaScreenView.createCountingIconNode()```?

Does the '123' string even need to be translated?

[2018-04-13 16:43] pixelzoom commented on #87
@jonathanolson The dissolve transition (for when the "Start Over" button is pressed), should live in twixt.  See https://github.com/phetsims/twixt/issues/6.

[2018-04-13 16:53] Denz1994 opened #105 "Screens directory contains screens for related Area-Model sims."
During review of #99

```Area-Model-Common/Screens``` contains screens for the other Area-Model sims. This structure is not used in CCK-Common and Fractions-Commons. In both CCK and Fractions, each sim has its own ```Sim/common/view``` with its own SimScreenView.js and SimScreen.js

Containing all of the related sims screens and views in Area-Model-Common seems to go against this convention.

[2018-04-13 17:03] Denz1994 opened #106 "Update Area-Model-Common/README.md"
During the review of #99:

Making an issue because there is a TODO update README.md.

[2018-04-13 17:16] Denz1994 opened #107 "Twixt and Vibe dependencies in package.json?"
During the review of #99:

I don't see any usages of Twixt or Vibe. Can these be removed from the ```package.json``` dependecies?

[2018-04-13 17:28] Denz1994 opened #108 "Update Credits"
During the review of #99:

Creating this issue so we don't forget to update credits.

[2018-04-13 18:02] Denz1994 commented on #107
Twixt is now being used due to commit d9087cfa753023d1a5edfb3f3fc6f264b5e4a3e7 for https://github.com/phetsims/area-model-common/issues/65.

[2018-04-13 19:46] jonathanolson commented on #107
SlidingScreen always depended on TWIXT, and GameAudioPlayer (used in GameAudio) depends on VIBE, so I believe they are both used.

[2018-04-13 19:49] jonathanolson commented on #106
Added names of sims. Can you think of anything else I should put in the readme?

[2018-04-13 19:53] jonathanolson commented on #105
I'd argue that some flexibility here is desired. Since CCK and Fractions don't use identical screens across multiple sims, their code layout works for that. In addition, if we had to pick one, I'd slightly prefer the screens in the common repo (so that code/options aren't copied).

This is probably worth discussion at the dev meeting.

[2018-04-13 19:55] jonathanolson commented on #104
Yup, I definitely missed that.

While we're at it, @ariel-phet and @amanda-phet, should the '123' label for the counting checkbox be translatable? (If so I'll fix it up with a maxWidth).

[2018-04-13 19:59] jonathanolson commented on #103
@samreid, do we need to have license annotations for images that are unused in a sim?

Also, the brief decision at the dev meeting was to put them under doc/images/, and somewhere separate may be helpful to note "they are not used in the sim". If beneficial for licensing however, we could definitely move them (since we won't get unused image warnings due to it being a common repo, but that's not a

[2018-04-13 20:00] samreid commented on #103
I don't think we need to relicense images used in documentation, just in the sims, so they would not need to be annotated.

I agree the docs images should be in docs/images.

[2018-04-13 20:04] jonathanolson commented on #103
@Denz1994, is there a place we can note in the checklist to note about doc/images?

[2018-04-13 20:31] Denz1994 commented on #103
@jonathanolson the checklist, we can add an ```images/```  directory under ```doc/```. What do you think?

#### **Repository structure**

- [ ] Are all required files and directories present?
For a sim repository named “my-repo”, the general structure should look like this (where assets/, audio/ or images/ may be omitted if the sim doesn’t have those types of assets).

[code]
*Any images used in m

[2018-04-13 20:32] Denz1994 commented on #107
Understood. Closing.

[2018-04-13 20:32] #107 closed

[2018-04-13 20:36] Denz1994 commented on #106
That would be my only addition. Closing.

[2018-04-13 20:36] #106 closed

[2018-04-13 20:53] amanda-phet commented on #104
Do we normally allow numerals to be translated?

[2018-04-13 21:02] phet-steele opened #109 "Overlapping partial products"
1. From a FRESH load, enter a partition screen. I'm using "Explore" in https://www.colorado.edu/physics/phet/dev/olsonjb/area-model/area-model-algebra_en_phet.html for these steps.
2. Drag the proportional drag handler to set up the area as 2 x 10, then drag the red partition handler to make it (1 x 1) x 10:
<img width="313" alt="screen shot 2018-04-13 at 2 09 09 pm" src="https://user-images.githu

[2018-04-13 21:12] pixelzoom commented on #104
@jonathanolson asked for my 2 cents on Slack.

[2018-04-13 21:51] amanda-phet commented on #104
Thanks @pixelzoom .

I think it would be fine to leave it as-is.

[2018-04-13 23:00] DianaTavares commented on #98
This are the options for AMM (numbers)
![screen shot 2018-04-13 at 4 16 02 pm](https://user-images.githubusercontent.com/26031501/38760921-155e9dde-3f3c-11e8-88f4-4566a39ce161.png)

Working in AMA

[2018-04-13 23:40] jonathanolson commented on #97
Looks like all home/navbar icons are added now into the sims.

[2018-04-14 00:14] ariel-phet commented on #104
I also think in this case it would be fine to leave untranslatable, I see that '123' as more of an icon in this case

[2018-04-14 03:21] samreid opened #110 "Discussion and fixes for the namespace files"
During the review https://github.com/phetsims/area-model-common/issues/99 I noted that area-model-introduction/js had a file named areaModelCounting.js that is never used.  I was going to delete it, when I noticed the other sim repos such as area-model-algebra have unused namespace files as well.  My recommendation is to delete these files until such time as they are needed.  However, I created th

[2018-04-14 04:43] samreid opened #111 "Can we remove asdf?"
During code review https://github.com/phetsims/area-model-common/issues/99 I noticed a file assets/asdf which was created today by @amanda-phet.  I presume this was for some sort of GitHub testing.  Amanda can the file be deleted now?

[2018-04-14 05:09] samreid opened #112 "Parameter types for wrapObject/wrapOrientationPair, etc"
During the review https://github.com/phetsims/area-model-common/issues/99 I noted methods like: `wrapObject` and `wrapOrientationPair`.  While passing a map function is fully general, it seems like for the case of these methods in particular it would be sufficient to supply a string for the getter.  For instance, we could rewrite:

[code]

like

[code]

I'm not advocating for the latter, but wante

[2018-04-14 05:11] samreid commented on #112
Sorry about the bad title, it was leftover from old notes and can be disregarded.

[2018-04-14 06:15] jonathanolson commented on #112
I've thought about it, and in general I think it's potentially nice to be able to use `_.property`. I've used it with DynamicProperty, and it's worked well. However I think a lot of that comes from us not being able to use arrow functions. And in the DynamicProperty case, I like being able to specify a string OR a function.

In this case, it isn't common code, I didn't know about how general it wo

[2018-04-14 06:25] jonathanolson commented on #109
Reproduced in master, investigating.

[2018-04-14 06:28] jonathanolson commented on #109
Should be fixed in the commit above.

[2018-04-14 06:29] jonathanolson commented on #103
That looks good to me. In lieu of a dev meeting item to discuss the change, @samreid does the above change to the checklist look good to you?

[2018-04-14 06:39] jonathanolson commented on #99
I applied an improved workaround to the accessible listener, so it should be ready for memory testing.

Also I'll be working soon on getting the vegas components included.

[2018-04-14 06:50] jonathanolson commented on #102
Switched to LevelSelectionButton above.

[2018-04-14 06:53] jonathanolson commented on #87
When I have nothing else to do for this sim (handled pending review items, etc.) I'll do a bit more work on the twixt Animation type (it would be nice to use it to animate the opacity).

[2018-04-14 06:53] jonathanolson commented on #108
Unassigning as there's nothing I can do now. Will happen before publication.

[2018-04-14 06:54] jonathanolson commented on #101
I'll let the reviewers work on this together. I believe I worked around the keyboard drag issue, so that it removes the listener, so this should be ready.

[2018-04-14 07:10] jonathanolson commented on #99
I've either handled or responded to all inline REVIEW comments so far. Using `// REVIEW*:` for now to mark my responses, let me know if I should vary it.

[2018-04-14 22:18] samreid opened #113 "The area selection handle pops to different locations"
Discovered in #99, Depending on where it was dropped last, the area selection handle can "pop" to different locations on mouse press.  Then on mouse move, it snaps to the cursor location. It can jump maybe 20+ pixels sometimes.  This may not be a severe UX problem, but I thought I'd bring it up in case it reveals some underlying flaw or code issue.
![tapping2](https://user-images.githubusercontent

[2018-04-14 22:27] samreid opened #114 "The screen icons use a different font than the screens"
Discovered in #99: Screen icon:

![image](https://user-images.githubusercontent.com/679486/38772984-641945a4-4000-11e8-9dab-254395643c62.png)

Screen:

![image](https://user-images.githubusercontent.com/679486/38772991-7dc12120-4000-11e8-871f-c7c6d90cd0d5.png)

The inconsistency somewhat surprised me and I couldn't think of a good reason for it (though I bet there is a good reason for it.) So I th

[2018-04-15 03:30] samreid opened #115 "Clicking on the scorebar returns to the main screen"
Discovered in #99. I was surprised to see that clicking on the stars in the http://localhost/area-model-algebra/area-model-algebra_en.html?brand=phet&ea game screen scoreboard node returned to the level selection screen.  There is no mouse hand for that.  Is that behavior by design?  If so, why?  And if so, shouldn't the mouse be a hand?

[2018-04-15 03:32] samreid commented on #115
Update: sometimes the cursor becomes a hand over the scorebar node and sometimes it doesn't.  It seems if you make circles of a diameter just larger than the scorebar node, it increases the odds of having an arrow.

[2018-04-15 03:36] samreid opened #116 "Should we implement ?showAnswers?"
Discovered in #99. Several PhET games support the ?showAnswers query parameters to facilitate game testing.  Should we support that for this sim as well?  There is also talk about standardizing that so we can disable it during build, see https://github.com/phetsims/joist/issues/406#issuecomment-380205752

[2018-04-15 03:39] samreid commented on #110
Excellent, thanks! Closing.

[2018-04-15 03:39] #110 closed

[2018-04-15 03:41] samreid commented on #103
That looks good, thanks, closing.

[2018-04-15 03:41] samreid commented on #103
Back to @Denz1994 to see if there's anything else for this issue.

[2018-04-15 13:53] samreid opened #117 "Consider a common suffix for enums?"
During #99 I noticed the following enums:

DisplayType
GameState
Field
PartialProductsChoice
InputMethod
AreaCalculationChoice
Highlight
Orientation
GenericLayout
PartitionLineChoice
AreaChallengeType

Orientation is a richer-enum, Field has a method, etc.

Have you considered ending all of these with the same suffix, such as `Type`? or `Enum` or `Choice`? I was wondering if that would make it eas

[2018-04-16 01:41] pixelzoom opened #118 "replace ProgressIndicator with ScoreDisplayStars"
`ProgressIndicator` is deprecated per #59. It should be replaced by `ScoreDisplayStars`.

Then please delete `ProgressIndicator`.

[2018-04-16 06:03] jonathanolson commented on #118
The only usage is in the code that will be replaced by the common vegas bar code.

[2018-04-16 06:10] jonathanolson commented on #117
Since we have the "line length" limitations (and for conciseness), I'd be adverse to increasing the length of the name of something like Orientation. It's something commonly used in the sim, so I think a short understandable name should be a priority.

For basically everything else, I'm fine with whatever length name helps. "Type" doesn't make sense for GenericLayout/Orientation, "Choice" doesn't

[2018-04-16 13:49] Denz1994 commented on #103
The code review checklist has been updated. Closing.

[2018-04-16 13:49] #103 closed

[2018-04-16 13:51] Denz1994 commented on #104
Works great. Closing.

[2018-04-16 13:51] #104 closed

[2018-04-16 16:50] amanda-phet commented on #114
Here is the reason: https://github.com/phetsims/area-model-common/issues/97#issuecomment-379836035

We designed the icons to be simplifications, and for the other screens what you see in the icon doesn't match what you can see in the sim. Rather, it represents what you would see when working with pencil and paper. The Explore screen was the only one using the sim font, so we changed it to be more

[2018-04-16 16:57] jonathanolson commented on #114
The different font felt aesthetically jarring to me personally, but I don't have strong feelings. It seems there are reasons we would use that font instead of something that would match the sim?

[2018-04-16 17:13] samreid commented on #114
At the moment, all of the screen icons are consistent with each other but inconsistent with the rest of the simulation.  They all look strange because none of them match the rest of the simulation.  If the "playful" font is important enough to use on the home screen icons, why not use it throughout the sim?If there are reasons to use the standard font in the sim screens, why don't those reasons ap

[2018-04-16 17:43] amanda-phet commented on #114
Current Generic screen icon:
![image](https://user-images.githubusercontent.com/7852916/38825682-be5626fc-416a-11e8-9786-7fe36f56dd2f.png)

Same concept, but using Arial font:

![image](https://user-images.githubusercontent.com/7852916/38825628-8bc9694c-416a-11e8-8837-6e4ac15f34f6.png)

This just looks dull and less aesthetically pleasing to me. It would achieve the same goal of allowing users to

[2018-04-16 18:05] jonathanolson commented on #117
Tagging for developer meeting to see if we should have a common suffix for enumerations (I'd like to hear the argument for them, but I currently don't see the benefit).

[2018-04-16 18:05] samreid opened #119 "iPad2 performance review"
I was asked to test performance on iPad2, here is what I observed:

Area Model Algebra (built),
time to launch
21 seconds
26 seconds

Crashed on 3rd load "a problem occurred with this webpage so it was reloaded"
Refresh time:
22 seconds

Dragging the lollipop on screen 1 (Area Model Algebra - built): 10fps
Dragging the red partition: 20fps
Dragging the lollipop with all indicators turned on: 4fps

[2018-04-16 18:06] jonathanolson commented on #117
What do you think about Field => EntryType, Highlight => EntryStatus?

[2018-04-16 20:14] phet-steele opened #120 "Smiley face overlaps with the keypad"
The smiley face overlaps with the keypad after two failed attempts:

<img width="773" alt="screen shot 2018-04-16 at 2 05 51 pm" src="https://user-images.githubusercontent.com/5863899/38832603-495c5f90-4180-11e8-9ac1-14fd76a951d1.png">

To repro in either AMA or AMM:
1. Fail two times on a challenge requiring a keypad, but do not press "Show Answer".
2. Edit a field that will bring up the keypad.

[2018-04-16 20:40] jonathanolson commented on #120
@amanda-phet, what is the preferred solution?

[2018-04-16 20:49] jonathanolson commented on #119
IIRC, there's a large delay before the RewardNode actually shows up.

[2018-04-16 21:14] Denz1994 commented on #101
Memory Leak Test: Several trials were run on separate chrome windows. Each sim was run twice on its own chrome window. One window was running standard chrome client the other was in the incognito mode. The two below test are examples of how heap comparisons were made. When heap growth subsided, the test was concluded.

From this, I didn't see any indication of a leak for all four sims.

Running on

[2018-04-16 21:25] amanda-phet commented on #120
discussion on 4/16/18

2. move smiley back to old location centered under "submit" button.

[2018-04-16 22:01] jonathanolson commented on #120
Moved the smiley, can you see if this works well?

[2018-04-16 22:06] jonathanolson commented on #102
Completed switch with the above commits.

[2018-04-16 22:06] #102 closed

[2018-04-16 22:10] jonathanolson commented on #87
Main integration work done for vegas. The only thing left is the dissolve.

[2018-04-16 23:13] samreid commented on #101
Looks great @Denz1994, thanks for running this test.  Assigned to @jonathanolson to review.  Also, @jonathanolson do we need to re-run tests with ?accessibility or any other flags?

[2018-04-16 23:21] samreid opened #121 "Move common/enum/*Choice.js to common/model"
It seems odd that js/common/ has model/ view/ and enum/, especially since those enums take part in the model.  I recommend moving those two files to common/model/AreaCalculationChoice.js and common/model/PartialProductsChoice.js.  If there were more files (or they didn't end in *Choice.js) then common/model/enum/ may be warranted, but I don't think it's warranted in this case.

From #99

[2018-04-16 23:34] jonathanolson commented on #121
There aren't that many across all places. I thought the separation might be helpful, but I'd be fine moving everything under enum (common, generic, proportional and game) to under model?

Notably proportiona/enum has one file.

Consistency of having them either all under enum/ or all under model (or view, if view-specific) sounds helpful.

Thoughts?

[2018-04-16 23:35] jonathanolson commented on #101
I'd be curious if area-model-introduction leaks with ?accessibility. Otherwise close if that is fine.

[2018-04-16 23:35] jonathanolson commented on #118
This happened when we started using FiniteStatusBar, closing.

[2018-04-16 23:36] jonathanolson commented on #115
Was noted in the comment https://github.com/phetsims/area-model-common/issues/80#issuecomment-379919660, pending on feedback from @amanda-phet.

[2018-04-16 23:37] jonathanolson commented on #112
Would you recommend having the methods take strings (and using _.property in those), or just using _.property and leaving the parameter as a function?

[2018-04-16 23:40] samreid commented on #112
For now, let's use _.property and require a function argument.  Then we can see how that looks (I think it sounds promising).

[2018-04-16 23:41] samreid commented on #80
I noticed the same problem and described it in https://github.com/phetsims/area-model-common/issues/115

[2018-04-16 23:46] samreid commented on #121
For each of the js/ subdirectories, I recommend moving the js/{{subdirectory}}/enum files to the corresponding js/{{subdirectory}}/model or js/{{subdirectory}}/view directory as appropriate.  If it is too much clutter (say, >3 enums that don't all end with Choice or Type), then you can additionally create js/{{subdirectory}}/(model|view)/enum.

[2018-04-16 23:58] jonathanolson commented on #121
All of the enumerations were used in the model, so I moved all of them to their respective model directories in the above commit.

[2018-04-16 23:59] samreid commented on #121
Change set looks good, thanks!

[2018-04-16 23:59] #121 closed

[2018-04-17 00:01] pixelzoom commented on #118
Reopening. `ProgressIndicator` still exists.

[2018-04-17 00:02] jonathanolson commented on #112
Done above.

There are a lot of other usages that COULD use _.property (DerivedProperty, etc.). Should those also be changed, or left as-is for now?

[2018-04-17 00:03] jonathanolson commented on #118
Sorry, totally missed that part somehow. Will delete.

[2018-04-17 00:04] jonathanolson commented on #118
Done, sorry about that. Closing.

[2018-04-17 00:04] #118 closed

[2018-04-17 00:32] samreid commented on #112
Can you refer me to one or two examples?

[2018-04-17 02:00] jonathanolson commented on #112
GameAreaDisplay line 76? Actually that may be the only case.

[2018-04-17 02:02] samreid opened #122 "Discussion about Pooling nodes"
From #99.  This was a review comment in TermText.js but I wanted to promote it to an issue to foster and accelerate discussion.

I noticed even the QuestionMark which is just a Text('?') is pooled.  Perhaps document it here in the issue and copy it to the implementation-notes.md.

Also, is pooling superior to using scenery DAG?

[2018-04-17 02:04] samreid commented on #112
I think I see another one on line 44 of that same file.  No preference about those, they can remain as they are or you can change them.  By the way, AreaDisplay looks a lot clearer now.

[2018-04-17 13:27] ariel-phet commented on #119
@samreid in this particular case, as long as performance is good on later iPads, I do not think anything should be done.

Although the performance is most definitely sluggish on iPad2 with all indicators active, for this particular sim, dragging things quickly back and forth is not really pedagogically productive. Given the dwindling popularity of the iPad2 and the nature of the sim, I am inclined

[2018-04-17 15:52] amanda-phet commented on #120
Working for me.

[2018-04-17 15:54] phet-steele commented on #120
👍

[2018-04-17 15:54] #120 closed

[2018-04-17 16:02] amanda-phet commented on #80
I did not realize this and @jonathanolson has fixed this behavior.

[2018-04-17 16:02] #80 closed

[2018-04-17 16:03] amanda-phet commented on #115
This is behaving normally now.

[2018-04-17 16:03] #115 closed

[2018-04-17 16:25] jonathanolson commented on #122
In this particular case, I didn't want to have to create "wrapper" nodes on every update. I could have also used DAG features for the question mark (but not things like TermText), where the wrapper nodes would be pooled.

I'll add more info in documentation, but basically it was creating OODLES of nodes every frame, which had a significant performance penalty (the GC was dwarfed just by the CPU co

[2018-04-17 18:30] samreid commented on #116
Looks great, thanks!

[2018-04-17 18:35] samreid commented on #117
That sounds nice.

[2018-04-17 18:54] phet-steele commented on #116
Just as I was hoping, thanks @jonathanolson!

[2018-04-17 18:54] #116 closed

[2018-04-17 19:34] jonathanolson opened #123 "EditableProperty => Entry"
Entry will have `valueProperty` (which is the Property part of EditableProperty) with composition instead of inheritance. The naming also makes more sense with https://github.com/phetsims/area-model-common/issues/117.

Then many things that are confusing (properties of properties) turn to things like properties of entries.

[2018-04-17 19:35] jonathanolson commented on #117
The above naming changes were implemented above. I'll be doing similar work in https://github.com/phetsims/area-model-common/issues/123. Let me know if there is further discussion/implementation that should be done for this issue.

[2018-04-17 20:17] jonathanolson opened #124 "Remove the dashes in "empty" term edit nodes"
Decided in person with @amanda-phet and @phet-steele. It looks like they may have accidentally been  included by me working around https://github.com/phetsims/scenery/issues/769 (we're not sure, couldn't find history).

Going to remove them.

[2018-04-18 01:49] samreid opened #125 "Are these overlapping touch areas OK?"
I noticed these overlapping touch areas during #99:
![image](https://user-images.githubusercontent.com/679486/38907268-558050e4-4278-11e8-82dd-90a7fb074dfb.png)

If I understand correctly, for the overlaps, whichever node has the highest z-index will catch the event.  I'm not sure which node that is for this case.

[2018-04-18 01:50] samreid commented on #125
Also, why are the partition handles touch areas at an angle?
![image](https://user-images.githubusercontent.com/679486/38907321-976dba50-4278-11e8-9802-06ab81fb6e8d.png)

[2018-04-18 01:56] samreid commented on #125
I guess that helps a bit with opening up the top-left of the drag circle in this extreme case.

[2018-04-18 04:55] samreid commented on #105
In my review of #99 I found that the directory structure was unconventional, but well-tailored to the problem-at-hand:

* all screens in one directory
* main separation is around game vs proportional vs generic

The models and views from the game/proportional/generic screens are mixed and matched to make the 8 screens across 4 sims.

One possibility I considered would be to move game/ and generic/

[2018-04-18 04:57] samreid commented on #117
After this discussion, I'm convinced we do not need to enforce a suffix for enums.  @jonathanolson is there anything else to discuss?  Can this issue be unmarked for developer meeting and closed?

[2018-04-18 05:43] jonathanolson commented on #123
Implemented with the commit above (which could use some inspection).

Since it was slightly trickier in some spots, I ran a 2000-snapshot comparison on both sims with games (passed).

[2018-04-18 05:47] jonathanolson commented on #125
Yup. I believe I asked and was told that it wouldn't matter if you clicked at the crossing and your mouse was technically slightly closer to the bottom one (but it selected the top one).

Somewhat ironically, given the name of this issue, to prevent overlap in this case: https://github.com/phetsims/area-model-common/issues/80#issuecomment-366076149 between the two handles, since it was possible to

[2018-04-18 05:48] jonathanolson commented on #117
Unmarked and closing.

[2018-04-18 05:48] #117 closed

[2018-04-18 18:21] phet-steele opened #126 "Bad maxWidth on game completion panel"
With `?stringTest=long`. I will say that with `?stringTest=double`, you can hardly tell there is an issue.

<img width="1347" alt="screen shot 2018-04-18 at 12 19 03 pm" src="https://user-images.githubusercontent.com/5863899/38950484-e72f8cd2-4302-11e8-98bb-dfcc09500f6c.png">

Seen on master (10 AM 4/18) macOS 10.13.4 Chrome.

[2018-04-18 18:35] amanda-phet commented on #124
Looks great to me.

[2018-04-18 18:35] #124 closed

[2018-04-18 18:50] phet-steele opened #127 "Keypad has no way to be dismissed"
@EthanWJohnson brought up the concern that there is no way to dismiss a keypad without pressing "Enter". This means that the user would be forced to overwrite an entry with a new value whenever they wish to dismiss the keypad. Here are 4 quick brainstorms to avoid this:

(1) Make the keypad modal. (Means you couldn't jump between edit boxes on the fly).
(2) Add a "Cancel" button to the keypad.
(3)

[2018-04-18 20:04] zepumph commented on #105
I agree, and it seems like all screens in a single dir is crisp and clear to me, albeit not phet conventional . . . (yet).

[2018-04-18 21:15] phet-steele commented on #101
| 0:00 | 27.0 MB |
|  | MB |
|  | MB |
|  | MB |
|  | MB |

[2018-04-18 21:15] phet-steele commented on #101
Sorry, pressed shift + enter. Will edit the above comment when the test is done.

[2018-04-18 21:35] amanda-phet commented on #127
First, I don't think this is actually that problematic. The keypad doesn't cover anything in the sim and if it is out it doesn't impact user interaction. If you accidentally click edit and the keypad pops up, you can ignore it, or you can re-enter your value to get rid of it.

However, option (3) seems reasonable to me. Since this sim was designed so that the keypad would _not_ be modal, (1) doesn

[2018-04-18 21:39] jonathanolson commented on #126
@pixelzoom, should I be applying a maxWidth to the entire LevelCompletedNode? Or should LevelCompletedNode apply maximum widths itself?

[2018-04-18 21:48] phet-steele commented on #101
@jonathanolson after 32 minutes, we are up to 44.2 MB with no sign of a plateau.

[2018-04-18 22:03] jbphet commented on #105
I agree that it is okay in this sim, which is unusual so far, to have the screens in the common repo.  The one caveat is that these screens **only** go into the common repo if they appear in multiple simulations, otherwise they should be in the sim repo.

[2018-04-18 22:06] pixelzoom commented on #126
What's the issue?  From the screenshot it looks like it fits inside layoutBounds.

[2018-04-18 22:07] lmulhall-phet commented on #101
Here's one without a11y:

0min - 25.0 MB
1min - 28.9 MB
2min - 32.0 MB
3min - 33.3 MB
4min - 33.6 MB
5min - 34.8 MB
6min - 34.8 MB
7min - 35.4 MB
8min - 35.7 MB
9min - 36.4 MB
10min - 36.3 MB

[2018-04-18 22:12] phet-steele commented on #126
@pixelzoom here is ideal width:

<img width="1568" alt="screen shot 2018-04-18 at 4 11 56 pm" src="https://user-images.githubusercontent.com/5863899/38960834-40c2005c-4323-11e8-844c-dc2f3aa12aae.png">

[2018-04-18 22:27] samreid commented on #105
In Area Model, DecimalsScreen is only used in area-model-decimals.  But it is such a thin wrapper that I suspect it will be easier to maintain in area-model-common.  For instance, if ProportionalAreaModel or ProportionalAreaScreenView interfaces change, then DecimalsScreen would change accordingly, and it would be trivial to find usages without searching across repos.  Applying the same argument t

[2018-04-18 22:35] phet-steele opened #128 "Game memory leak"
_**I've only tried AMM so far, not AMA.**_

Running a local build of AMM with `?screens=3`. The game was fully completed then reset, then fully completed and reset again.

| | |
| --- | --- |
| Start | 33.2 MB |
| All levels to 6* | 41.1 MB |
| Reset All | 40.9 MB |
| All levels back to 6* | 45.9 MB |
| Reset All | 45.6 MB |

This data would tell me that, after multiple repeated attempts of the ga

[2018-04-18 23:16] jonathanolson commented on #105
So if screens (during development) move from being in 1 sim to multiple (or vice versa), we would move the screen to a different repo (making history difficult to check)?

[2018-04-19 00:33] pixelzoom commented on #105
Self-assigning to review before dev meeting, since this one is going to take me a little more time than I have right now.

[2018-04-19 01:40] jonathanolson commented on #126
@pixelzoom I see no indication that there is a fixed size. Objections for me to add `contentMaxWidth` as an option to VEGAS/LevelCompletedNode, which is applied independently to each text (and the rest of it too like the button and score display?)

[2018-04-19 01:45] jonathanolson commented on #101
I started fuzzing with the following:

- area-model-algebra_en_phet.html?fuzzMouse&screens=4
- area-model-introduction_en_phet.html?accessibility&fuzzMouse

I'll be noting values only coarsely. I'll also inspect snapshot comparisons once things are "warmed up".

[2018-04-19 02:00] jonathanolson commented on #112
Changed. Feel free to leave review notes for any you see that can be simplified like that.

[2018-04-19 02:04] jonathanolson commented on #122
Noted things about pooling in the implementation notes. Anything else to do?

[2018-04-19 03:55] jonathanolson commented on #101
One leak is interesting. Creating a non-immutable Shape and then calling getStrokedBounds on it causes a technical leak of created listeners:

[code]

[2018-04-19 04:11] samreid commented on #112
Looks good, thanks.  I'll close the issue, but if we discover other spots using that pattern we can convert them to _.property if we wish.

[2018-04-19 04:11] #112 closed

[2018-04-19 04:12] samreid commented on #122
That makes sense, thanks, closing.

[2018-04-19 04:12] #122 closed

[2018-04-19 15:43] pixelzoom commented on #126
I hadn't looked at the code, and your screenshot didn't demonstrate a problem.

No objections to adding `contentMaxWidth`.

[2018-04-19 16:16] jonathanolson commented on #126
Done in master. @phet-steele can you verify?

[2018-04-19 16:55] phet-steele commented on #126
Looking good 👍

[2018-04-19 16:55] #126 closed

[2018-04-19 18:44] phet-steele opened #129 "Leading negative is lost on calculation step (Variables screen)"
@jonathanolson I'm only seeing this on the Variables screen. I believe that screen is the only place where this step in the calculation panel is visible.

Set up this model on 3x3:
<img width="858" alt="screen shot 2018-04-19 at 12 38 31 pm" src="https://user-images.githubusercontent.com/5863899/39011612-2c6eccdc-43cf-11e8-8424-0ed37ffbcdd9.png">

Notice in the calculation panel, on the step befor

[2018-04-19 19:07] jonathanolson opened #130 "Change level selection layout to 3x2"
Instead of 6x1, noted by @phet-steele.

[2018-04-19 19:12] phet-steele opened #131 "Half-star black stroke does not fit the gray outline"
You can see how the black path ends in a weird way (on both ends):
<img width="555" alt="screen shot 2018-04-19 at 12 59 09 pm" src="https://user-images.githubusercontent.com/5863899/39012938-2131e8fa-43d3-11e8-89fc-af34695ca8a8.png">

In context with the score bar, it's bugging me:
<img width="311" alt="screen shot 2018-04-19 at 12 59 19 pm" src="https://user-images.githubusercontent.com/5863899/

[2018-04-19 19:12] phet-steele commented on #130
...and by @amanda-phet!

[2018-04-19 19:13] jonathanolson commented on #98
These were added into the repo, so I'll work on integration.

[2018-04-19 19:29] amanda-phet commented on #98
Commit: https://github.com/phetsims/area-model-common/commit/3e3ee0d3b2abb2da89a3827ad6d2ffc1e5bd6649

[2018-04-19 19:34] pixelzoom commented on #105
Current approach is unusual, but fine with me.

[2018-04-19 19:38] samreid commented on #105
At developer meeting, we agreed that keeping all the screens together will work well for this family of sims.

[2018-04-19 19:38] #105 closed

[2018-04-19 21:50] jonathanolson commented on #130
Implemented in the above commit.

[2018-04-19 21:50] #130 closed

[2018-04-19 21:58] jonathanolson commented on #98
Added, but it looks like it could use some polishing. The level icons have a lot of unused vertical space in them, which means they get resized down to a slightly smaller size. Additionally, let me know if the height of the overall level buttons should be reduced to better match the size of the icons.

<img width="1122" alt="screen shot 2018-04-19 at 3 56 33 pm" src="https://user-images.githubuser

[2018-04-19 22:00] jonathanolson commented on #98
Notably there is a lot of empty space on the icons:
<img width="468" alt="screen shot 2018-04-19 at 3 59 31 pm" src="https://user-images.githubusercontent.com/480878/39020582-b184438c-43ea-11e8-87fb-d38572b57d22.png">

I would imagine that maybe we'd have 2-3 pixels of space on each side (vertically and horizontally) for the source images.

If you commit changes to the icons, it will automatically

[2018-04-19 22:01] jonathanolson commented on #98
Additionally, I can manually add padding in code if desired (that's better than padding in the image).

[2018-04-19 22:01] jonathanolson commented on #129
Yikes, will fix.

[2018-04-19 22:05] jonathanolson commented on #129
Fixed in the above commit.

[2018-04-19 22:13] jonathanolson commented on #127
Implemented above, @phet-steele can you verify?

[2018-04-19 22:14] phet-steele commented on #129
👍

[2018-04-19 22:14] #129 closed

[2018-04-20 03:55] jonathanolson commented on #87
Dissolve implemented. @amanda-phet can you see how it looks?

@samreid can you add TWIXT/Transition and TWIXT/TransitionNode to your review? It would be nice to collaborate on improvements, as it could definitely use some API/deduplication work.

[2018-04-20 03:59] jonathanolson commented on #87
Also see TWIXT demo's 4th screen, which shows all of the transitions in action.

[2018-04-20 05:25] jonathanolson commented on #108
With branching imminent, can @amanda-phet and @phet-steele anticipate the credits that will be used? This can be done after branching if necessary, but I want to make sure it doesn't get skipped.

[2018-04-20 05:26] jonathanolson commented on #108
Assigning myself for a first pass at the credits (I'll grab things from the design docs, etc).

[2018-04-20 06:02] jonathanolson commented on #131
Implemented above:

<img width="459" alt="screen shot 2018-04-19 at 11 59 08 pm" src="https://user-images.githubusercontent.com/480878/39033159-f3a435a4-442d-11e8-9488-059c0adf5ce3.png">

@phet-steele, does this look good?

@samreid can you please review the change? Also, does this remove the need for StarNode to have a value parameter? (And if not, can we use CAG to refactor StarNode?)

[2018-04-20 06:25] jonathanolson commented on #113
Wasn't updating the position if there was a press without a drag (so it used the last offset from the previous drag). Should be fixed, can you verify?

[2018-04-20 06:47] jonathanolson commented on #108
Took a shot at it, feel free to change.

[2018-04-20 14:44] amanda-phet commented on #108
Can you add Mariah Hermsmeyer to graphic arts? She drew the PhET girl that is used on the game screen icon (and we will likely be using PhET girl for the level selection icons). Can you also make sure she is listed for the license for the specific PhET girl image that is used in the game screen icons?

[2018-04-20 14:50] amanda-phet commented on #87
I really like it!

@pixelzoom @kathy-phet @ariel-phet you should also review, since this will be the new standard for games with "start over" buttons.

[2018-04-20 16:37] phet-steele commented on #131
@jonathanolson I think this looks much much much better.

[2018-04-20 16:40] jonathanolson commented on #108
Updated.

[2018-04-20 16:46] phet-steele commented on #113
@samreid I got your back! Verified!

[2018-04-20 16:46] jonathanolson opened #132 "Screenshots for all sim repos"
This will be needed before publication.

[2018-04-20 16:48] phet-steele commented on #113
Hold on....I thought this was a nice feature, but now I'm second guessing....stand by.

[2018-04-20 17:05] phet-steele opened #133 "Area handle snaps to new dimensions without dragging"
The changes in #113 have revealed a (in my opinion annoying) problem.

If you are using a model with many small subdivisions, ie. the 3x3 in area-model-decimals, clicking on the edges of the lollipop will jump the handle and cause the area to change. In the below gif, I'm only clicking, not dragging, and the handle is snapping to different dimensions:

![amd01](https://user-images.githubuserconten

[2018-04-20 17:05] phet-steele commented on #113
New issue in #133.

[2018-04-20 17:05] #113 closed

[2018-04-20 17:14] phet-steele commented on #108
QA updated.

[2018-04-20 17:17] amanda-phet commented on #98
I am much happier with the PhET girl icons!

[2018-04-20 17:17] #98 closed

[2018-04-20 17:28] amanda-phet commented on #108
My work here is done.

[2018-04-20 17:50] jonathanolson commented on #128
Hmm, looks like RewardNode is definitely leaking memory (repeated your process a few more times to confirm).

[2018-04-20 18:04] ariel-phet commented on #87
Dissolve looks good to me.

[2018-04-20 18:05] jonathanolson commented on #128
Fixed the main leak, checking about what may be a smaller leak.

[2018-04-20 18:26] phet-steele commented on #132
Screenshots have been committed. @amanda-phet gave them a 👍. @jonathanolson close if all is well.

[2018-04-20 19:04] amanda-phet commented on #86
I'll make the call that this looks good and doesn't need further tweaking.

[2018-04-20 19:04] #86 closed

[2018-04-20 19:28] amanda-phet commented on #125
It sounds like @jonathanolson has handled the overlapping areas well.

And yes the angle is for the extreme case when the two handles are close.

[2018-04-20 19:39] samreid commented on #123
Entry is looking much nicer, thanks!  Also, what is a 2000-snapshot comparison and how did you run it?

[2018-04-20 19:40] samreid commented on #125
It seems this is working as desired, closing.

[2018-04-20 19:40] #125 closed

[2018-04-20 19:48] pixelzoom commented on #87
Dissolve looks good to me too.  Twixt "Transitions" demo page is awesome.

[2018-04-20 19:48] samreid commented on #131
I think we will need to take the following steps:
1. StarShape should not take a "value" parameter, it should just be a star (not partially filled)
2. StarNode should just be a trivial wrapper around StarShape (not partially filled).  Not sure if we really have a need for this or not.
3. New type FilledStarNode should take the place of what StarShape is now, and use clipping for revealing the fore

[2018-04-20 19:51] samreid commented on #133
I agree with @phet-steele that grabbing the handle should not change the model value--ideally the sim would be able to track the correct relative drag position (on the drag handle) instead of jumping it to the center on grab.

[2018-04-20 19:58] phet-steele opened #134 "Simplify Game screen title strings?"
@jonathanolson can we collapse these two strings into one? Would make it 0.543% faster to translate this sim.

[code]

[2018-04-21 02:10] jonathanolson commented on #128
Automated with delays (to make sure the rewards show):

[code]

It looks like it is leaking at most 3MB/hour. I believe at this level, it shouldn't block the "initial" publication.

[2018-04-21 02:14] jonathanolson commented on #134
Done.

[2018-04-21 02:15] #132 closed

[2018-04-23 02:57] samreid commented on #99
A note about how I've used the checkboxes in https://github.com/phetsims/area-model-common/issues/99#issue-312634960: for this issue, a checked box means that that issue has been reviewed in the area-model-common repository and that new issues were created or commits with `REVIEW` comments were made.  The review of the area-model-common repo and related sim repos is complete and I'll review Transi

[2018-04-23 03:55] samreid commented on #87
I created this issue for review: https://github.com/phetsims/twixt/issues/11

[2018-04-23 13:25] Denz1994 commented on #99
After reviewing area-model-common I have no further input for suggested changes.Removing my assignment as I have nothing further to add and the checklist has been passed through.

[2018-04-23 16:59] phet-steele commented on #133
Feels beautiful.

[2018-04-23 16:59] #133 closed

[2018-04-23 21:44] amanda-phet commented on #114
Updated the icons to match the PhET font. @samreid can you see if these look reasonable to you?

[2018-04-23 21:45] #97 closed

[2018-04-23 21:47] amanda-phet commented on #87
Seems this issue can be closed.

[2018-04-23 21:47] #87 closed

[2018-04-23 21:59] jonathanolson commented on #114
NOTE: Don't close this issue without me. I'll need to include any changes manually in the branched sims.

[2018-04-23 22:05] samreid commented on #114
They look great to me, thanks!

[2018-04-23 22:09] jonathanolson opened #135 "Patching for the release branches"
- [x] https://github.com/phetsims/scenery/commit/ef52b4c39792a112c4949576ed31bb6f3523787c should be included in the branched area-model sims

[2018-04-23 22:09] jonathanolson commented on #135
- [ ] https://github.com/phetsims/area-model-common/commit/db96fc56f44b50e0c34ad96c3d4eaf9370559af5 (pending decisions).

[2018-04-23 22:31] jonathanolson opened #136 "Color-blind testing?"
In the code review, the question of whether this was done came up. Has this sim been tested for that?

[2018-04-23 22:49] phet-steele opened #137 "[IE11] Incompatible usage of Array.find()"
In `CalculationLinesNode.js` line 212, there is an incorrect usage of ".find". Should be "_.find()".

Could be more elsewhere, this is just the one I noticed first.

[code]
This is incompatible with IE11. For phetsims/QA/issues/113.

[2018-04-23 23:28] jonathanolson opened #138 "Disabled buttons for the keypad?"
I vaguely remember noting that we could disable keys that wouldn't do anything when pressed, and this was noted in the review comments:

[code]

@amanda-phet and @ariel-phet, can you comment? Did we discuss this? (@samreid, thoughts?)

[2018-04-24 00:10] jonathanolson commented on #137
Should be fixed with the above commit. I'll be cherry-picking in, wait for confirmation in the next RCs.

[2018-04-24 00:48] jonathanolson commented on #135
- [ ] 32bb8fdbc0edfb05f2e3b20f9af6d1045b154f30 (find fix)

[2018-04-24 02:10] jonathanolson commented on #131
The above sounds fine to me, but I'd want @pixelzoom's feedback. I'm happy to make the changes.

[2018-04-24 02:16] jonathanolson commented on #123
http://localhost/aqua/html/snapshot-comparison.html?sims=area-model-algebra,area-model-multiplication&numFrames=2000. I usually load it while on the "old/desired" SHA, wait for it to finish, check out master, then press the "Start Snapshot" button to start another snapshot. When done, the SHAs were the same (so pixel-identical). If they weren't, clicking on the bold SHA text will display all frame

[2018-04-24 04:09] jonathanolson commented on #135
Patched above, will patch others as they come.

[2018-04-24 04:09] #135 closed

[2018-04-24 05:00] jonathanolson opened #139 "Usage visibility qualifiers and group options"
It was recommended to use `// @public (a11y)` in this sim (for things that are only public because of a11y needs), and `// @public (phet-io)` is also used elsewhere.

If this is common and helpful, let's add it to the code-review checklist. If anyone has objections, note them here? (I have a gut instinct that this is a code smell meaning either "they should be private and we should figure a way of

[2018-04-24 05:11] jonathanolson opened #140 "Parentheses in MathSymbols"
They are used a lot in this sim, and it was brought up in review: "what is the criteria for something belonging in MathSymbols?"

I could see the potential where we may try to switch symbols, but it may also be pretty unlikely. Thoughts?

[2018-04-24 16:10] amanda-phet commented on #114
Nope!

[2018-04-24 16:10] #114 closed

[2018-04-24 16:11] pixelzoom commented on #131
Sounds OK to me.  If the "look" is changes in any way, you'll need to consult with a designer.  You also might want to ask @jbphet since the current implement is his, lifted from (the deprecated and deleted) ProgressIndicator.

[2018-04-24 16:29] amanda-phet commented on #136
We do color-blind checks during design, but since Amy isn't here to confirm I did a quick check and everything looks fine to me.

[2018-04-24 16:29] #136 closed

[2018-04-24 18:44] phet-steele commented on #137
Fixed.

[2018-04-24 18:44] #137 closed

[2018-04-24 18:55] phet-steele opened #141 "[IE11] Number.parseInt() should not be used"
Number.parseInt() is being used at least here (and maybe elsewhere): https://github.com/phetsims/area-model-common/blob/master/js/generic/view/TermAccumulator.js#L90

This is incompatible with IE11. For phetsims/QA/issues/113.

[2018-04-24 19:08] #108 closed

[2018-04-24 19:12] phet-steele opened #142 ""Enter" button should be yellow"
@amanda-phet requested that the "Enter" button in the keypads be yellow.

For phetsims/QA/issues/113.

[2018-04-24 19:28] amanda-phet commented on #142
While reviewing Amy's interview notes today I noticed a student or two had trouble clicking enter, and while playing the game today I realized the enter button was not yellow (but it is in Unit Rates and I think it works well in that sim). So, I thought it would be a good change here too.

[2018-04-24 19:31] amanda-phet commented on #138
My recommendation is to keep the keypad behavior as it is.

[2018-04-24 19:54] jonathanolson commented on #141
Should be fixed (and is on branches)

[2018-04-24 20:11] jonathanolson commented on #142
Done (and put into the release branches).

[2018-04-24 20:44] amanda-phet commented on #142
Looking great to me now! Thanks so much.

[2018-04-24 21:32] #142 closed

[2018-04-24 21:33] phet-steele commented on #141
👍

[2018-04-24 21:33] #141 closed

[2018-04-25 03:43] samreid commented on #123
Sounds great, and changes look great too, nice work.  Closing.

[2018-04-25 03:43] #123 closed

[2018-04-25 03:46] samreid commented on #75
https://github.com/phetsims/axon/issues/152 is closed, and I'm using DynamicProperty in Wave Interference now, closing.

[2018-04-25 03:46] #75 closed

[2018-04-25 16:46] jbphet commented on #131
I'm fine with the suggested changes.  The clipping approach looks better than relying on the partial star shape, and if we're using the clipping, support for the partial shape is unnecessary, so the simplifications that @samreid is suggesting sound reasonable to me.

[2018-04-25 23:49] pixelzoom commented on #139
Related, and I'm sure where to create an issue, so I'll tack it on here... I'd like to see options grouped similarly, e.g.:

[code]

It looks like this is the general convention that is being followed in most places.  But given the proliferation of phet-io and a11y options, I think it would be useful to formalize this convention.

[2018-04-25 23:55] pixelzoom commented on #140
Do you mean like this, in Area Model Introduction ?

![screenshot_595](https://user-images.githubusercontent.com/3046552/39278685-c53b9436-48b1-11e8-93f8-4508a5da205e.png)

I'd doubt that parens will ever be replaced by something else.  But if you're really concerned, ask one of the math designers.

[2018-04-26 00:25] jonathanolson commented on #140
@amanda-phet, will parentheses ever potentially be replaced?

[2018-04-26 15:34] zepumph commented on #139
Agreed with @pixelzoom greatly. Especially for a11y, which has upwards of 20 options, I think grouping and commenting is a must.

[2018-04-30 03:24] ariel-phet opened #143 "Area model fractions?"
@amanda-phet a few people at NCTM asked if we were planning to make a fractions version of the area-model sim. I am not exactly sure how that would work, and it seems like it would require some new user interface components, but I thought I would mention that there was interest in such a sim.

[2018-04-30 16:41] amanda-phet commented on #143
I have dreamed about this simulation, but it would be a very different model. For the purposes of the DRK12 grant, we don't have room for any new simulation designs, but I would still really like to work on this simulation at some point.

[2018-05-01 15:56] amanda-phet commented on #140
I'm not sure I understand the question... the parentheses look the way they should, and I would like all future uses of parentheses to look this way. If we want them in MathSymbols, it would be mainly for consistency. I don't think we will replace parentheses with other symbols or representations.

[2018-05-01 20:31] jonathanolson commented on #140
Sounds good, closing.

[2018-05-01 20:31] #140 closed

[2018-05-07 19:50] pixelzoom commented on #139
Or how about using nested options to group a11y and phet-io options?  That seems like a more reliable grouping approach.  E.g.:

[code]

[2018-05-10 08:04] jonathanolson opened #144 "branch: a11y-tree"
For https://github.com/phetsims/area-model-introduction/issues/4, and should be used with Scenery's a11y-tree branch. See https://github.com/phetsims/scenery-phet/issues/365.

[2018-05-11 21:24] amanda-phet opened #145 "add Oliver to credits"

[2018-05-11 21:34] jonathanolson opened #146 "Performance recheck after a11y is added"
Since this sim barely squeaked by performance-wise, I don't want to forget checking this before we move to rc.1.1

[2018-05-14 16:28] samreid opened #147 "Should {{heightVal}} by {{widthVal}} be reversed?"
In the a11y design doc, I saw that it was documented as height x width, which is the opposite of the normal order we generally refer to dimensions (width x height).  I was wondering if there was a specific reason to list height first for this context?

[2018-05-16 21:59] amanda-phet commented on #147
The reason in this context: this sequence matches the order the number pickers appear in the Factors accordion box.

I agree it's more typical to refer to "length x width" when those are the two dimensions, but when using height I think it's normal to say "height x width."

[2018-05-16 22:00] amanda-phet commented on #147
@samreid if you think the reason is not sufficient and should be considered further, let me know.

[2018-05-17 02:27] jonathanolson commented on #139
That sounds super inconvenient.

Also, things are getting quite verbose having to tag each section of options. Are we sure that this has a lot of benefits?

[2018-05-18 01:28] jonathanolson opened #148 "branch: a11y"
Basically https://github.com/phetsims/area-model-common/issues/144, but so we can deploy one-offs

[2018-05-18 01:29] #148 closed

[2018-05-21 22:19] pixelzoom commented on #139
I don't see a lot of benefits to grouping options as in https://github.com/phetsims/area-model-common/issues/139#issuecomment-389297347.   But I do think we should discuss the pros/cons of grouping options that are related to a11y and phetio.

[2018-05-22 05:21] jonathanolson commented on #144
Merged to master, closing.

[2018-05-22 05:21] #144 closed

[2018-05-22 05:25] #145 closed, assigned to nobody

[2018-05-23 22:20] jbphet commented on #139
I like the idea of grouping a11y and phet-io options, since these are generally quite distinct from other options.  Further grouping seems potentially cumbersome IMO, at least until some new pervasive feature comes along.

[2018-05-24 08:02] jonathanolson commented on #139
I'm interested then in what exactly are we grouping? Do we group:

- A title `{string}` (option for a component) that is only used for a11y?
- A title `{string}` (option for a component) that is used to create a Text node AND for a11y?

Or are we talking about ONLY grouping options specific to the Accessibility trait? (ACCESSIBILITY_OPTION_KEYS in Accessibility.js)

[2018-05-24 12:56] samreid commented on #139
I agree with @jonathanolson's questions, and also want to clarify if we are discussing grouping structurally, or if it would be preferable to use code commenting to group the options.

[2018-05-24 16:34] jonathanolson opened #149 "Proper H1 structure for screens"
The a11y design notes we'll want H1s for the screens (including the home screen). I'm not sure if the design is finalized, but this should be included in this sim before the 1.1 release.

@zepumph, do you know the current status of this, or if there's an issue I can link here?

[2018-05-24 16:39] jonathanolson opened #150 "How to specify the "name" for AccessibleNumberTweaker"
It looks like I'm specifying an `innerContent` for NumberPickers, but AccessibleNumberTweaker looks like it expects `labelContent` (since it specifies a `labelTagName`).

I'm not sure if this is the source of the empty paragraph in the current parallel DOM:
<img width="401" alt="screen shot 2018-05-24 at 10 38 48 am" src="https://user-images.githubusercontent.com/480878/40499287-bfb1cb72-5f3e-11e8

[2018-05-24 16:40] jonathanolson opened #151 "Add decimalPlaces (a11y) for our ProportionalPartitionLineNode"
Doesn't have access to it, and creating an issue so I don't forget.

[2018-05-24 16:42] jonathanolson opened #152 "Have the up/down buttons in the calculation use common code"
Should be better for a11y and behavior. We may want to mix in "tweaker" behavior also?

[2018-05-24 16:42] jonathanolson commented on #152
Notes I had internally:
[code]

Not sure if we should use NodesPushButton, do something more manual, or look into more general common components.

[2018-05-24 16:44] jonathanolson opened #153 "Update documentation for vertical/horizontal partition lines"
It's the opposite of how things were documented in the code. These should all be clarified, particularly in the implementation-nodes and common places.

It's probably best to keep the general current code (since we key colors and other things off of vertical/horizontal).

[2018-05-24 16:46] jonathanolson opened #154 "Pending common a11y issues"
I'll add any common issues here that need to be resolved before the 1.1 release.

- [x] https://github.com/phetsims/sun/issues/356 (readout for NumberPicker)
- [x] https://github.com/phetsims/sun/issues/357 (name/description for NumberPicker
- [ ] https://github.com/phetsims/sun/issues/358 (AccessibleSlider options)
- [ ] https://github.com/phetsims/sun/issues/359 (AccordionBox a11y design)
- [ ]

[2018-05-24 16:53] amanda-phet commented on #152
I had some brief email/slack exchanges with @terracoda about this so before you change it, let's talk about some of her ideas for designing for a11y in case it impacts your changes. Changing the button type might not make a huge difference for a11y because one thought is to use accessibleSlider. If we make it a "slider", users can use the up/down arrow keys to navigate up and down, rather than tab

[2018-05-24 16:59] jonathanolson commented on #152
I'll hold off. I'll definitely be capable of making it act like a slider for accessibility if desired.

[2018-05-24 17:44] jessegreenberg commented on #139
Sounds like we are thinking of using a new pattern thing for a11y/phet-io, and the current pattern for all others (like those mixed in with Paintable). I am not sure why yet. Accessibility.js uses scenery/Node's mutate pattern, so I would still want the setters available
[code]

I would still want
[code]

[2018-05-24 19:49] zepumph commented on #149
I created https://github.com/phetsims/a11y-research/issues/104, hopefully that will help.

[2018-05-24 19:51] zepumph commented on #150
The last @jessegreenberg and I talked about this, it seemed like `AccessibleNumberTweaker` "sounded good," but @jessegreenberg don't you think it needs inner content for an accessible name also? Assigning over to you because you implemented this originally, and may know better how changes would effect other usages like in GFLB.

[2018-05-24 22:51] jessegreenberg commented on #150
Alright, I think we just finalized the representation for AccessibleNumberTweaker in https://github.com/phetsims/gravity-force-lab-basics/issues/62. We discovered that some AT really don't like inner content on things with `role="spinbutton"`. We had a workaround with aria-live, but that was also causing problems so now we are using aria-labelledby for the accessible name.

So to set the accessibl

[2018-05-25 00:47] jonathanolson commented on #150
Ok, specifying labelContent now, thanks!

Sounds good to me.

[2018-05-25 00:47] #150 closed

[2018-05-31 16:50] jonathanolson opened #155 "Blocking common issues"
I'll be updating the main issue description as issues are added/removed.

Noted in the code review:

- https://github.com/phetsims/vegas/issues/74

[2018-06-05 14:48] samreid commented on #139
@jonathanolson did we address the initial comment in this issue?

[2018-06-05 18:00] jonathanolson commented on #139
Well enough in my opinion (that's it's a helpful way to document why something is public).

[2018-06-05 18:58] #139 closed

[2018-06-12 17:01] jonathanolson commented on #99
I believe I've responded to every REVIEW comment. @samreid can you check? Let me know if it would be good to collaborate for a bit to finish off all REVIEW items (or open issues if they need further discussion).

[2018-06-12 17:04] jonathanolson commented on #155
Reopening for handing one common code issue.

[2018-06-15 12:14] samreid commented on #99
I'm still seeing formatting changes, mostly about the indenting of multi-line ternary expressions.  Not sure what caused it but the change seems preferable to me (more readable), so I'll commit it.

[2018-06-15 12:21] samreid opened #156 "Factor out EPSILON"
From #99, the simulation has this code, in 3 files:

[code]

[code]

[code]

Is there a reason that a 1e-6 is used instead of 1e-7 in the latter case?  Can we factor out the occurrences to a constants file, naming it something like `EPSILON` and adding brief documentation?

[2018-06-15 12:57] samreid opened #157 "There are 22 TODOs in the code"
From https://github.com/phetsims/area-model-common/issues/99, I noted there are 22 TODOs in the code.